/******************************************************************
Site Name: HealthSparq
Author: Gambit Studio

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
header.top-bar {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
header.top-bar:not(.special) ~ .container:first-of-type {
  margin-top: 84px; }
header.top-bar .container {
  background: #fff;
  height: 90px;
  position: relative;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  font-family: "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  padding: 0 30px;
  z-index: 1000;
  border-radius: 0;
  border-bottom: 1px solid #eee; }
header.top-bar .container .logo {
  position: absolute;
  left: 57px;
  margin-top: 35px; }
header.top-bar .container .logo > img {
  display: block; }
header.top-bar .container .logo > img.logo-white {
  display: none; }
header.top-bar.special .container {
  background: transparent;
  border: none; }
header.top-bar.special .container .logo > img {
  display: none; }
header.top-bar.special .container .logo > img.logo-white {
  display: block; }
header.top-bar.special .container nav:not(.mobile) .menu > li > a {
  color: #fff;
  opacity: 1;
  transition: opacity .4s; }
header.top-bar.special .container nav:not(.mobile) .menu > li > a:hover {
  opacity: .75; }
header.top-bar.special .container nav:not(.mobile) .menu > li.btn {
  background: transparent;
  color: #fff;
  opacity: 1; }
header.top-bar.special .container nav:not(.mobile) .menu > li.btn > a {
  background: #29b5a8;
  color: #fff;
  border: 1px solid #29b5a8; }
header.top-bar.special .container nav:not(.mobile) .menu > li.btn > a:hover {
  color: #29b5a8;
  background-color: #fff;
  border-color: #fff;
  opacity: 1;
  transition: color .2s, background-color .2s, border-color .2s; }
header.top-bar.special .container nav:not(.mobile) .menu > li.menu-item-825 a {
  background-image: url("../img/icons/ico-search-white.svg"); }
header.top-bar.special .container nav:not(.mobile) .menu > li.menu-item-825 a:hover {
  background-image: url("../img/icons/ico-search-green.svg"); }
header.top-bar.special ~ .container:first-of-type {
  margin-top: 0; }
header.top-bar nav.main-nav {
  height: 90px;
  float: right; }
header.top-bar nav.main-nav .menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 90px;
  padding-right: 35px; }
header.top-bar nav.main-nav .menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 90px; }
header.top-bar nav.main-nav .menu li + li {
  margin-left: 35px; }
header.top-bar nav.main-nav .menu li a {
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #5e5f61;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 90px;
  line-height: 6.4285714286rem;
  letter-spacing: 0.46px;
  letter-spacing: 0.0328571429rem;
  text-transform: uppercase;
  display: block;
  transition: color .2s; }
header.top-bar nav.main-nav .menu li a:hover {
  color: #29b5a8; }
header.top-bar nav.main-nav .menu li.btn {
  padding: 0;
  border: none; }
header.top-bar nav.main-nav .menu li.btn > a {
  color: #fff;
  opacity: 1;
  display: block;
  background: #29b5a8;
  border: 1px solid #29b5a8;
  border-radius: 4px;
  padding: 0 1.4em;
  line-height: 2.7em; }
header.top-bar nav.main-nav .menu li.btn > a:hover {
  color: #29b5a8;
  background: transparent;
  cursor: pointer; }
header.top-bar nav.main-nav .menu li.menu-item-825 {
  margin-left: 1.4rem;
  position: relative;
  height: 90px;
  width: 20px;
  vertical-align: top; }
header.top-bar nav.main-nav .menu li.menu-item-825 a {
  position: absolute;
  top: 0;
  background-image: url("../img/icons/ico-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.4rem;
  height: 100%;
  display: block;
  margin: 0 0 -4px; }
header.top-bar nav.main-nav .menu li.menu-item-825 a > span {
  display: none; }
header.top-bar nav.main-nav .menu li.menu-item-825 a:hover {
  background-image: url("../img/icons/ico-search-green.svg"); }
header.top-bar nav.main-nav .menu li.menu-item-has-children {
  position: relative; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 20rem;
  background: #29b5a8;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  left: -100%;
  top: 90%;
  z-index: 100; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background: #29b5a8;
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - .7rem);
  top: -.7rem;
  z-index: 99; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.4rem;
  text-transform: none;
  letter-spacing: normal;
  z-index: 100;
  position: relative; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li:nth-child(n+2) {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li:first-child a {
  border-radius: 5px 5px 0 0; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li:last-child a {
  border-radius: 0 0 5px 5px; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li a {
  display: block;
  font-family: "ProximaNova-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.2857142857rem;
  letter-spacing: 0;
  padding: .7rem 2.14rem;
  cursor: pointer; }
header.top-bar nav.main-nav .menu li.menu-item-has-children .sub-menu li a:hover {
  background: rgba(0, 0, 0, 0.25); }
header.top-bar nav.main-nav .menu li.menu-item-has-children:hover .sub-menu {
  height: auto;
  min-width: 14rem;
  overflow: visible; }
header.top-bar nav.main-nav .menu li.menu-item-has-children.menu-item-766 .sub-menu {
  left: -85%; }
header.top-bar nav.main-nav .menu li.menu-item-has-children.menu-item-82 .sub-menu {
  left: -75%; }
header.top-bar nav.main-nav .menu li.menu-item-has-children.menu-item-759 .sub-menu {
  left: -165%; }
header.top-bar .hamburger {
  float: right;
  top: 20px;
  position: absolute;
  right: 30px; }
header.top-bar .hamburger .tcon-menu__lines, header.top-bar .hamburger .tcon-menu__lines::before, header.top-bar .hamburger .tcon-menu__lines::after {
  height: 4px;
  background: #29b5a8; }
header.top-bar.special .hamburger .tcon-menu__lines, header.top-bar.special .hamburger .tcon-menu__lines::before, header.top-bar.special .hamburger .tcon-menu__lines::after {
  background: #fff; }
header.top-bar.open .hamburger .tcon-menu__lines {
  background: transparent; }
header.top-bar.open .hamburger .tcon-menu__lines::before, header.top-bar.open .hamburger .tcon-menu__lines::after {
  background: #5e5f61; }
header.top-bar nav.mobile {
  position: fixed;
  z-index: -1;
  top: 0;
  right: -100vw;
  width: 100vw;
  max-width: 420px;
  min-height: 100%;
  background: #f7f5f5; }
header.top-bar nav.mobile .menu {
  float: none;
  padding-left: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: auto; }
header.top-bar nav.mobile .menu li {
  display: block;
  text-align: center;
  line-height: 45.7142857143px;
  line-height: 3.2653061224rem; }
header.top-bar nav.mobile .menu li a {
  color: #868789;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 45.7142857143px;
  line-height: 3.2653061224rem;
  letter-spacing: 2.2857142857px;
  letter-spacing: 0.1632653061rem; }
header.top-bar nav.mobile .menu li a:hover {
  color: #5e5f61; }
header.top-bar nav.mobile .menu li.btn {
  margin-top: 25px;
  background: transparent;
  border: none;
  text-align: center; }
header.top-bar nav.mobile .menu li.btn a {
  width: auto;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 6px;
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 11.4285714286px;
  font-size: 0.8163265306rem;
  line-height: 11.4285714286px;
  line-height: 0.8163265306rem;
  padding: 17.1428571429px 22.8571428571px;
  padding: 1.2244897959rem 1.6326530612rem; }
header.top-bar nav.mobile .menu li.menu-item-825 a {
  width: auto;
  height: auto;
  background-image: none; }
header.top-bar nav.mobile .menu li.menu-item-825 a:hover {
  background-image: none; }
header.top-bar nav.mobile .menu li.menu-item-825 a > span {
  display: block; }
header.top-bar nav.mobile h5 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #29b5a8;
  letter-spacing: 4px; }
header.top-bar nav.mobile li.menu-item-has-children:hover .sub-menu {
  height: 0;
  overflow: hidden; }
header.top-bar nav.mobile li.menu-item-has-children > a {
  background-color: #f7f5f5;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  position: relative;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 45.7142857143px;
  line-height: 3.2653061224rem;
  letter-spacing: 2.2857142857px;
  letter-spacing: 0.1632653061rem;
  transition: 0.4s;
  text-align: center; }
header.top-bar nav.mobile li.menu-item-has-children > a:after {
  content: '';
  background-image: url("../img/icons/ico-carrot-dropdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.4285714286px;
  height: 17.1428571429px;
  transform: rotate(0deg);
  transition: transform .4s;
  position: absolute;
  right: -20px;
  bottom: 0;
  background-position: center center; }
header.top-bar nav.mobile li.menu-item-has-children > a + .sub-menu {
  padding: 0;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
  background: inherit;
  position: relative;
  left: 0 !important; }
header.top-bar nav.mobile li.menu-item-has-children > a + .sub-menu li a {
  display: block;
  font-size: 11.4285714286px;
  font-size: 0.8163265306rem;
  line-height: 13.7142857143px;
  line-height: 0.9795918367rem;
  padding: 11.4285714286px 0px;
  padding: 0.8163265306rem 0rem; }
header.top-bar nav.mobile li.menu-item-has-children > a:hover, header.top-bar nav.mobile li.menu-item-has-children > a.active {
  color: #5e5f61; }
header.top-bar nav.mobile li.menu-item-has-children > a.active:after {
  transform: rotate(180deg); }
header.top-bar nav.mobile li.menu-item-has-children > a.active + .sub-menu {
  height: auto;
  overflow: visible; }

body.open nav.mobile {
  right: 0;
  transition: right .25s; }
body.open .hamburger .tcon-menu__lines {
  background: transparent; }
body.open .hamburger .tcon-menu__lines::before, body.open .hamburger .tcon-menu__lines::after {
  background: #5e5f61; }
body.admin-bar header.top-bar {
  top: 32px; }

nav.mobile {
  padding: 50px;
  padding-top: 100px; }

@media only screen and (max-width: 991px) {
  header.top-bar .container {
    border-radius: 0;
    height: 60px;
    height: 4.2857142857rem; }
  header.top-bar .container .logo {
    left: 26px;
    left: 1.8571428571rem;
    margin: 18px 0px;
    margin: 1.2857142857rem 0rem;
    height: 21px;
    z-index: -2; }
  header.top-bar .container .logo > img {
    max-height: 100%; }
  header.top-bar .hamburger {
    height: 60px;
    height: 4.2857142857rem;
    right: 20px;
    right: 1.4285714286rem;
    top: -3px;
    padding: 0; }
  header.top-bar:not(.special) ~ .container:first-of-type {
    margin-top: 60px;
    margin-top: 4.2857142857rem; } }
@media only screen and (max-width: 640px) {
  nav.mobile {
    width: 100vw;
    right: -100vw;
    padding-left: 5vw;
    padding-right: 5vw; } }

header:not(.top-bar) {
  height: 600px;
  color: #fff;
  text-align: center;
  position: relative;
  background-position: center center; }
header:not(.top-bar) .overlay {
  opacity: .85; }
header:not(.top-bar) .copy {
  text-align: center;
  position: relative;
  width: 90%;
  height: calc(100% - 200px);
  max-width: 980px;
  margin: 0 auto;
  color: #fff;
  top: 100px;
  top: 7.1428571429rem; }
header:not(.top-bar) .copy h1 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 48px;
  font-size: 3.4285714286rem;
  line-height: 55px;
  line-height: 3.9285714286rem;
  letter-spacing: 1.71px;
  letter-spacing: 0.1221428571rem;
  width: 80%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }
header:not(.top-bar) .copy h1 > strong {
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700; }
header:not(.top-bar) .copy p {
  font-family: "AvenirNextLTPro-Medium", "AvenirNext-Medium", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  font-size: 1.4285714286rem;
  line-height: 27px;
  line-height: 1.9285714286rem;
  letter-spacing: 0.4px;
  letter-spacing: 0.0285714286rem;
  position: absolute;
  bottom: -50px; }
header.landing-header {
  height: 350px; }
header.landing-header .overlay {
  background: #ff8300;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #ff8300, #fda14b, #eb7767);
  background: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767); }
header.landing-header .copy {
  position: relative;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  color: #fff;
  top: 100px;
  top: 7.1428571429rem; }
header.landing-header.resources-header .overlay {
  background: #29b5a8 23%;
  background: -webkit-linear-gradient(bottom, #29b5a8 23%, #008B7E 88%);
  background: linear-gradient(to top, #29b5a8 23%, #008B7E 88%); }
header.hero {
  height: 800px;
  width: 100vw;
  max-width: 1300px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center; }
header.hero * {
  color: #fff;
  text-align: center; }
header.hero .overlay {
  opacity: .75;
  background: #ff8300;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #ff8300, #fda14b, #eb7767);
  background: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767); }
header.hero .copy {
  max-width: 750px; }
header.hero .copy h1 {
  font-size: 36px;
  font-size: 2.5714285714rem;
  letter-spacing: 0; }
header.hero .feature {
  position: absolute;
  bottom: 200px;
  bottom: 14.2857142857rem;
  margin: 0 auto;
  border: none;
  height: 450px;
  height: 32.1428571429rem;
  max-width: 100vw;
  background: transparent; }
header.hero .feature ul {
  max-height: 450px;
  max-height: 32.1428571429rem; }
header.hero .feature .qa-slide {
  height: 450px;
  height: 32.1428571429rem;
  width: 90%; }
header.hero .feature .flex-direction-nav {
  display: none !important; }
header.hero .feature .question {
  width: 100%;
  max-width: 650px;
  padding: 0;
  border-bottom: 1px solid #fff;
  display: block;
  margin: 0 auto;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 53%;
  transform: translateX(-50%);
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 33px;
  line-height: 2.3571428571rem;
  letter-spacing: 0; }
header.hero .feature .question > span {
  color: #fff !important; }
header.hero .feature .question:before {
  content: 'Q:';
  position: absolute;
  left: -3.5rem;
  font-family: "MuseoSlab-900", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 900;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: inherit;
  letter-spacing: 0; }
header.hero .feature .fake-btn {
  font-family: "AvenirNextLTPro-Medium", "AvenirNext-Medium", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 33px;
  line-height: 2.3571428571rem;
  letter-spacing: 1px;
  letter-spacing: 0.0714285714rem;
  text-transform: none;
  border: 1px solid #fff;
  width: 80px;
  background: transparent;
  position: absolute;
  bottom: 5px;
  margin-left: 310px;
  left: 50%;
  transform: translateX(-50%); }
header.hero .feature .answer {
  height: 350px;
  height: 25rem;
  width: 850px;
  width: 60.7142857143rem;
  max-width: 750px;
  position: relative;
  margin: 0 auto;
  opacity: 0; }
header.hero .feature .answer.visible {
  opacity: 1;
  transition: opacity 2s; }
header.hero .feature .answer img {
  width: auto;
  height: auto;
  max-height: 350px;
  max-height: 25rem;
  max-width: 750px;
  max-width: 53.5714285714rem;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }
header.hero i.scroll {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 2.14rem;
  height: 4.8rem;
  margin-left: -1.07rem; }
header.hero i.scroll > img {
  max-height: 100%;
  margin: 0; }

@media only screen and (max-width: 991px) {
  header:not(.top-bar) .copy {
    width: 90%; }
  header:not(.top-bar) .copy h1 {
    font-size: 40px;
    font-size: 2.8571428571rem; }
}
@media only screen and (max-width: 1299px) {
  header.hero h2 {
    padding-top: 150px;
    padding-top: 10.7142857143rem;
    line-height: 46px;
    line-height: 3.2857142857rem;
    width: 80%;
    margin: 0 auto; } }

.blog .landing-header .overlay, .category .landing-header .overlay, .archive .landing-header .overlay, .taxonomy .landing-header .overlay {
  background: #eb7767 44%;
  background: -webkit-linear-gradient(bottom, #eb7767 44%, #d4432f 96%);
  background: linear-gradient(to top, #eb7767 44%, #d4432f 96%); }

.page-template-page-events .landing-header .overlay {
  background: #988c88;
  background: -webkit-linear-gradient(144deg, #988c88, #47c1b6);
  background: linear-gradient(144deg, #988c88, #47c1b6); }

.post-type-archive-press .landing-header .overlay {
  background: #5e5f61;
  background: -webkit-linear-gradient(140deg, #5e5f61, #eb7767);
  background: linear-gradient(140deg, #5e5f61, #eb7767); }

header nav.subnav {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }
header nav.subnav.solutions-subnav {
  bottom: -18px; }
header nav.subnav > ul li {
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding: 0 7px;
  margin: 0 20px; }
header nav.subnav > ul li a {
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 20px;
  max-width: 100px; }
header nav.subnav > ul li:hover {
  border-color: #29b5a8; }
header nav.subnav > ul li.current_page_item {
  border-color: #29b5a8; }
header nav.subnav > ul li.has-children {
  position: relative; }
header nav.subnav > ul li.has-children a img {
  max-width: 18px; }
header nav.subnav > ul li.has-children .sub-menu {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 170px;
  background: #29b5a8;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  left: -100%;
  top: 90%;
  z-index: 100; }
header nav.subnav > ul li.has-children .sub-menu:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #29b5a8;
  transform: rotate(45deg);
  border-radius: 0 0 20px 0;
  position: relative;
  left: calc(50% - 10px);
  top: -10px;
  margin-bottom: -10px;
  display: block;
  z-index: 10; }
header nav.subnav > ul li.has-children .sub-menu li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal; }
header nav.subnav > ul li.has-children .sub-menu li:nth-child(n+2) {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
header nav.subnav > ul li.has-children .sub-menu li a {
  display: block;
  color: #fff;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  max-width: 100%; }
header nav.subnav > ul li.has-children .sub-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1); }
header nav.subnav > ul li.has-children:hover {
  border-color: transparent; }
header nav.subnav > ul li.has-children:hover .sub-menu {
  height: auto;
  width: auto;
  overflow: visible; }

@media only screen and (max-width: 991px) {
  header:not(.top-bar) .copy p {
    display: none; }
  .landing-header {
    height: 800px;
    height: 57.1428571429rem; }
  .landing-header nav.subnav {
    color: #fff; }
  .landing-header nav.subnav, .landing-header nav.subnav.solutions-subnav {
    bottom: 60px; }
  .landing-header nav.subnav .dropdown-container {
    left: 50%;
    transform: translateX(-50%); }
  .landing-header nav.subnav .dropdown-container .dropdown .title {
    color: #fff; }
  .landing-header nav.subnav .dropdown-container .dropdown .title:after {
    background-image: url("../img/icons/ico-carrot-dropdown-white.svg"); }

  .resource-type-links {
    bottom: 80px;
    position: absolute;
    width: 100%;
    z-index: 100; }
  .resource-type-links > a, .resource-type-links > ul {
    display: none; }
  .resource-type-links .dropdown-container {
    display: block;
    width: 100%;
    left: 0;
    color: #fff; }
  .resource-type-links .dropdown-container .dropdown:not(.closed) .dropdown-menu {
    height: 200px !important; }
  .resource-type-links .dropdown-container .dropdown:not(.closed) .dropdown-menu ul {
    top: 0 !important; }
  .resource-type-links .dropdown-container .dropdown .title {
    height: 60px;
    border-bottom: none;
    text-transform: none;
    padding: 15px;
    padding: 1.0714285714rem;
    font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    font-size: 1.7142857143rem;
    line-height: 30px;
    line-height: 2.1428571429rem;
    letter-spacing: 0; }
  .resource-type-links .dropdown-container .dropdown .title .image {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    margin: 0px 15px 0px 0px;
    margin: 0rem 1.0714285714rem 0rem 0rem;
    background-size: contain;
    background-repeat: no-repeat; }
  .resource-type-links .dropdown-container .dropdown .title .image.white-papers, .resource-type-links .dropdown-container .dropdown .title .image.all {
    margin-top: -5px; }
  .resource-type-links .dropdown-container .dropdown .title .image.smart-stuff {
    height: 40px;
    width: 40px;
    margin-top: -8px;
    margin-left: -5px; }
  .resource-type-links .dropdown-container .dropdown .title label {
    text-transform: none;
    float: left;
    font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    font-size: 1.7142857143rem;
    line-height: 30px;
    line-height: 2.1428571429rem;
    letter-spacing: 0; }
  .resource-type-links .dropdown-container .dropdown .title:after {
    width: 34.2857142857px;
    height: 60px;
    right: 0;
    background-image: url("../img/icons/ico-carrot-dropdown-white.svg"); }
  .resource-type-links .dropdown-container .dropdown .dropdown-menu {
    max-height: 200px; }
  .resource-type-links .dropdown-container .dropdown ul {
    background: rgba(41, 181, 168, 0.9);
    top: 0 !important; }
  .resource-type-links .dropdown-container .dropdown ul li {
    overflow: visible;
    transition: none;
    padding: 0; }
  .resource-type-links .dropdown-container .dropdown ul li a {
    float: none;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    border: none;
    z-index: 1000;
    padding: 0 20px; }
  .resource-type-links .dropdown-container .dropdown ul li a .image {
    display: block;
    width: 20px;
    height: 20px;
    left: 0;
    margin: 10px 0;
    float: left;
    background-size: contain; }
  .resource-type-links .dropdown-container .dropdown ul li a label {
    border: none;
    line-height: 40px;
    color: #fff;
    float: left;
    display: block; }
  .resource-type-links .dropdown-container .dropdown ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color .2s; }
  .resource-type-links .dropdown-container .dropdown ul li a.smart-stuff .image {
    height: 40px;
    margin: 0 0; }
  .resource-type-links .dropdown-container .dropdown ul li.current_page_item {
    display: none; }
  .resource-type-links .dropdown-container .dropdown ul li:hover {
    background: transparent; } }
@media only screen and (max-width: 640px) {
  header:not(.top-bar) {
    height: 80vh; }
  header:not(.top-bar) .copy h1 {
    font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
    font-weight: 300;
    color: #fff;
    font-size: 27.4285714286px;
    font-size: 1.9591836735rem;
    line-height: 31.4285714286px;
    line-height: 2.2448979592rem;
    letter-spacing: 0.9771428571px;
    letter-spacing: 0.0697959184rem;
    top: 50%; }
  header:not(.top-bar) .copy h1 > strong {
    display: inline-block; }
  header.entry-header {
    height: 65vh; }
  header.hero h1 {
    top: 55%;
    width: 90vw;
    font-size: 36.5714285714px;
    font-size: 2.612244898rem;
    line-height: 44px;
    line-height: 3.1428571429rem; }
  header.hero i.scroll {
    display: none; } }

/*# sourceMappingURL=critical.css.map */
