#mega-menu-wrap-main-nav #mega-menu-main-nav li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.font-weight-500{
    padding-left: 0!important;
    padding-right: 0!important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item >
a.mega-menu-link{
    font-size: 16px;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-menu-item-1898 li > a.mega-menu-link:hover .mega-menu-title{
    color: #ff8300!important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu > li >
ul.mega-sub-menu{
    display: block;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-menu-item-1898 a.mega-menu-link .mega-description-group .mega-menu-title{
    color: #696969
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-menu-item-1898>a.mega-menu-link>.mega-description-group>.mega-menu-title{
    color: #333333;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-menu-item-1898 a.mega-menu-link:hover>.mega-description-group>.mega-menu-title{
    color: #ff8300;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .sub-menu-col-title a.mega-menu-link .mega-description-group .mega-menu-description{
    font-size: 11px;
    max-width: 150px;
    color: #696969
}
.second-column .mega-menu-description{
    font-size: 11px!important;
    max-width: 150px!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    color: #666669!important;
}
.second-column{
    padding-bottom: 0!important;
}
.second-column + .second-column{
    padding-bottom: 0;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-col-orange a.mega-menu-link .mega-description-group {
    width: 100%;
    display: block;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav .mega-sub-menu-col-title>a.mega-menu-link .mega-description-group .mega-menu-description{
    width: 100%;
    max-width: 100%;
    display: block;
    font-size: 14px;
    color: #696969;
}
#mega-menu-766-0-1{
    margin-top: 15px;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu.mega-menu-item .mega-indicator:after{
    transform: rotate(0deg);
    transition: .3s all;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu.mega-menu-item.mega-toggle-on .mega-indicator:after{
    transform: rotate(180deg);
}

.caption-image{
    transform: translateY(-16px);
}

.container header.landing-header {
    height: 350px;
}
.container header.landing-header.commercial-market-header {
    height: 316px;
}
@media only screen and (min-width: 1141px) {
    .mega-menu-logo{
        padding-left: 19px!important;
    }
    #mega-menu-wrap-main-nav #mega-menu-main-nav li#mega-menu-item-719 {
        margin-right: 42px;
    }
}
@media only screen and (max-width: 1165px) and (min-width: 1141px) {
    #mega-menu-wrap-main-nav #mega-menu-main-nav li#mega-menu-item-719 {
        margin-right: 18px;
    }
}