@charset "UTF-8";
/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: HealthSparq
Author: Gambit Studio

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: 400;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  text-rendering: optimizelegibility;
  font-weight: 700;
  margin: .5em auto;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */ }
h1 > small, .h1 > small, h2 > small, .h2 > small, h3 > small, .h3 > small, h4 > small, .h4 > small, h5 > small, .h5 > small {
  font-weight: 400; }
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

body {
  font-family: "ProximaNova-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: normal; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #5e5f61; }
h1.primary, h2.primary, h3.primary, h4.primary, h5.primary, h6.primary, p.primary {
  color: #ff8300; }
h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, h6.secondary, p.secondary {
  color: #29b5a8; }
h1.tertiary, h2.tertiary, h3.tertiary, h4.tertiary, h5.tertiary, h6.tertiary, p.tertiary {
  color: #eb7767; }
h1.accent, h2.accent, h3.accent, h4.accent, h5.accent, h6.accent, p.accent {
  color: #20c1dc; }
h1.neutral, h2.neutral, h3.neutral, h4.neutral, h5.neutral, h6.neutral, p.neutral {
  color: #837570; }
h1.rev, h2.rev, h3.rev, h4.rev, h5.rev, h6.rev, p.rev {
  color: #fff; }

h1 {
  color: #29b5a8;
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  color: inherit;
  font-size: 48px;
  font-size: 3.4285714286rem;
  line-height: 57px;
  line-height: 4.0714285714rem;
  letter-spacing: normal; }

h2 {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 49px;
  line-height: 3.5rem;
  letter-spacing: 0;
  margin: 30px auto;
  margin: 2.1428571429rem auto; }

h3 {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #29b5a8;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 33px;
  line-height: 2.3571428571rem;
  letter-spacing: 0; }

p + h3 {
  margin: 50px auto 0px;
  margin: 3.5714285714rem auto 0rem; }

h4 {
  color: #29b5a8;
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: inherit;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 29px;
  line-height: 2.0714285714rem;
  letter-spacing: 0;
  margin-top: 27px;
  margin-top: 1.9285714286rem; }

h5 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: inherit;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 34px;
  line-height: 2.4285714286rem;
  letter-spacing: 0;
  color: #eb7767; }

h6 {
  font-family: "ProximaNova-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0; }

p, .snippet {
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: normal;
  margin: 18px auto;
  margin: 1.2857142857rem auto; }
p a, .snippet a {
  color: #20c1dc;
  transition: color .25s; }
p a:hover, .snippet a:hover {
  color: #ff8300; }
p strong, .snippet strong {
  font-family: "ProximaNova-Semibold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0; }
p strong > a, .snippet strong > a {
  color: #ff8300; }
p strong > a:hover, .snippet strong > a:hover {
  color: #20c1dc; }

.snippet {
  margin: 0 auto; }

ul:not(.menu) li, ol:not(.menu) li {
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: normal; }
ul.menu, ol.menu {
  list-style: none;
  margin: 0;
  padding: 0; }

.entry-content .entry-title + p, .entry-content article {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #837570;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 36px;
  line-height: 2.5714285714rem;
  letter-spacing: normal; }

section p {
  color: inherit; }

a {
  text-decoration: none; }
a:hover, a:active {
  text-decoration: none; }

blockquote {
  position: relative;
  margin: 50px auto 36px;
  margin: 3.5714285714rem auto 2.5714285714rem;
  padding-top: 24px;
  padding-top: 1.7142857143rem;
  max-width: 550px; }
blockquote:before {
  content: '';
  width: 94px;
  height: 1px;
  background: #979797;
  position: absolute;
  top: 0;
  left: calc(50% - (94px / 2)); }
blockquote, blockquote p {
  text-transform: uppercase;
  text-align: center;
  font-family: "BrandonGrotesque-Light", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #29b5a8;
  font-size: 30px;
  font-size: 2.1428571429rem;
  line-height: 41px;
  line-height: 2.9285714286rem;
  letter-spacing: normal; }
blockquote p {
  margin: 0 auto; }
blockquote p:last-child:not(:first-of-type) {
  position: relative;
  font-size: 18px;
  font-size: 1.2857142857rem;
  color: #868789;
  display: inline-block; }
blockquote p:last-child:not(:first-of-type):before {
  content: '―';
  position: absolute;
  left: -2em; }

small {
  font-family: "ProximaNova-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  font-size: 11px;
  font-size: 0.7857142857rem;
  line-height: 13px;
  line-height: 0.9285714286rem;
  letter-spacing: 0; }

.entry-content label {
  color: #988c88;
  text-align: left; }
.entry-content label.type:not(.primary):after, .entry-content label.type:not(.secondary):after, .entry-content label.type:not(.tertiary):after, .entry-content label.type:not(.accent):after {
  background: #988c88; }

a.btn {
  font-family: "AvenirNextLTPro-Demi", "AvenirNext-DemiBold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.2857142857rem;
  letter-spacing: 5.25px;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  padding: 0.7142857143rem 1.4285714286rem;
  border-radius: 4px;
  border-radius: 0.2857142857rem;
  border: 1px solid;
  -webkit-transition: color 0.25s, border-color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, border-color 0.25s, background 0.25s;
  -o-transition: color 0.25s, border-color 0.25s, background 0.25s;
  transition: color 0.25s, border-color 0.25s, background 0.25s;
  cursor: pointer;
  background-color: #ff8300;
  border-color: #ff8300;
  color: #fff; }
a.btn:hover, a.btn:active {
  background-color: transparent;
  border-color: #ff8300;
  color: #ff8300; }
a.btn.secondary {
  background-color: #29b5a8;
  border-color: #29b5a8;
  color: #fff; }
a.btn.secondary:hover, a.btn.secondary:active {
  background-color: transparent;
  border-color: #29b5a8;
  color: #29b5a8; }
a.btn.tertiary {
  background-color: #eb7767;
  border-color: #eb7767;
  color: #fff; }
a.btn.tertiary:hover, a.btn.tertiary:active {
  background-color: transparent;
  border-color: #eb7767;
  color: #eb7767; }
a.btn.accent {
  background-color: #20c1dc;
  border-color: #20c1dc;
  color: #fff; }
a.btn.accent:hover, a.btn.accent:active {
  background-color: transparent;
  border-color: #20c1dc;
  color: #20c1dc; }
a.btn.neutral {
  background-color: #837570;
  border-color: #837570;
  color: #fff; }
a.btn.neutral:hover, a.btn.neutral:active {
  background-color: transparent;
  border-color: #837570;
  color: #837570; }
a.btn.small {
  font-size: smaller;
  line-height: normal;
  letter-spacing: 3px; }

label {
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 3.11px;
  letter-spacing: 0.2221428571rem;
  text-transform: uppercase; }
label.type {
  display: block;
  position: relative;
  text-align: center; }
label.type:after {
  content: "";
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -12px;
  bottom: -0.8571428571rem;
  transform: translateX(-50%);
  width: 100px;
  width: 7.1428571429rem;
  height: 1px; }
label.type.left {
  text-align: left; }
label.type.left:after {
  left: 0;
  transform: none; }
label.primary {
  color: #ff8300; }
label.primary.type:after {
  background: #ff8300; }
label.secondary {
  color: #29b5a8; }
label.secondary.type:after {
  background: #29b5a8; }
label.tertiary {
  color: #eb7767; }
label.tertiary.type:after {
  background: #eb7767; }
label.accent {
  color: #20c1dc; }
label.accent.type:after {
  background: #20c1dc; }
label.neutral {
  color: #837570; }
label.neutral.type:after {
  background: #837570; }

.entry-content a > img, .entry-content img {
  margin-bottom: 2.5rem; }

a > img.alignright {
  float: right;
  margin: 0 0 1em 1em; }
a > img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }
a > img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem; }

img {
  max-width: 100%;
  height: auto; }
img.alignright {
  float: right;
  margin: 1em 0 1em 1em; }
img.alignleft {
  float: left;
  margin: 1em 1em 1em 0; }
img.aligncenter {
  display: block;
  margin: 2.5rem auto; }

.wp-caption > img {
  margin: 0 auto; }
.wp-caption .wp-caption-text {
  font-size: 12px;
  color: #988c88;
  margin: .5rem auto;
  line-height: 1.2rem;
  text-align: center; }
.wp-caption.alignright {
  float: right;
  margin: 1em 0 1em 1em; }
.wp-caption.alignleft {
  float: left;
  margin: 1em 1em 1em 0; }
.wp-caption.aligncenter {
  display: block;
  margin: 2.5rem auto; }

code, pre {
  font-family: "Consolas","Courier New", "Lucida Sans Typewriter", monospace;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: inherit;
  letter-spacing: auto;
  color: #868789; }

pre {
  line-height: 20px;
  line-height: 1.4285714286rem;
  padding: 1.4rem;
  background: #868789;
  color: #fff; }

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }

  h3 {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 24.5714285714px;
    line-height: 1.7551020408rem; }

  h4 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }

  p, .snippet {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; } }
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

/*# sourceMappingURL=ie.css.map */
