body {
	font-family:"AvenirNextLTPro-Regular",sans-serif;
	line-height:30px;
	color:#837570;
}

h1,
#tinymce h1 {
	font-family:"museo-slab", serif;
	font-size:48px;
	line-height:58px;
	font-weight:500;
	margin:0;
}

h2,
#tinymce h2  {
	font-family:"AvenirNextLTPro-Regular", sans-serif;
	color:#5E5F61;
	font-size:36px;
	margin:0;
	line-height:86px;
	font-weight:400;
}

h3,
#tinymce h3 {
	font-family:"AvenirNextLTPro-Regular", sans-serif;
	font-size:24px;
	line-height:33px;
	color:#29B5A8;
	margin:0;
}

h4,
#tinymce h4  {
	font-family:"museo-slab", serif;
	font-size:24px;
	font-weight:500;
	margin:0;
}

h5,
#tinymce h5 {
	font-family:"museo-slab", serif;
	font-size:18px;
	font-weight:300;
	margin:0;
}

h6,
#tinymce h6 {
	margin:0;
}

p,
#tinymce p {
	font-size: 18px;
	line-height: 30px;
}

a {
	text-decoration: none;
}

p a {
	color:#20C1DC;
	transition:color .25s;
}

p a:hover {
	color:#FF8300;
}

.entry-content > p:first-of-type {
	font-size: 24px;
	line-height: 36px;
}

blockquote {
	position: relative;
	margin: 50px auto 36px;
	padding-top: 24px;
}

blockquote:before {
	content: '';
	width: 94px;
	height: 1px;
	background: #979797;
	position: absolute;
	top: 0;
	left: calc(50% - (94px / 2));
}

blockquote,
#tinymce blockquote,
blockquote p,
#tinymce blockquote p {
	font-family: "brandon-grotesque";
	font-size: 30px;
	font-weight:300;
	color: #29B5A8;
	line-height: 41px;
	text-transform: uppercase;
	text-align: center;
}

blockquote p {
	margin: 0 auto;
}

blockquote p:last-child {
	position: relative;
	font-size: 18px;
	color: #837570;
	display: inline-block;
}
blockquote p:last-child:before {
	content: '―';
	position: absolute;
	left: -2em;
}

img {max-width:100%;height:auto;}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
