// =======================================
//
// Global Styles
//
// =======================================

* {
	box-sizing:border-box;
}

html {
	margin:0;
	font-size: 14px;
	line-height: 1;
}

body {
	margin:0 auto;
	background:nth($gray, 4);
	@include font($proxima400,400,14,1,normal,nth($gray,1));
	width: 100vw;
	overflow-x: hidden;
}

i {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align:center;
	img {
		width:100%;
		height:auto;
	}
}

.clear {
	clear:both;
}

.container {
	margin:0 auto;
	max-width:1300px;
	width: 100vw;
	background:#fff;
	border-radius: 0 0 6px 6px;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.invisible {
	visibility: hidden;
}
article {
	margin-bottom:80px; // 5.7em
}

section {
	width:100%;
	max-width: 1300px;
}

header:not(.top-bar) {
	width:100vw;
	max-width: 1300px;
	position: relative;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.background,
.overlay,
.grayscale {
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}

.background {
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grayscale {
	filter:gray;
	-webkit-filter:grayscale(100%);
}

.main {
	@include rem('padding',75,200);
}

.screen-reader-text {
	display: none;
}

.mobile, [class*='mobile-'] {
	display: none;
}

@include screen('medium') {
	.desktop {
		display: none;
	}
	.mobile, [class*='mobile-'] {
		display: block;
	}

	.container {
		border-radius: 0;
	}

	.main {
		@include rem('padding',85,70);
	}
}

@include screen('tiny') {
	body {
    background: #fff;
  }

}
