.grid {
  margin: 0 0 20px 0;

  * {
    box-sizing: border-box;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*='col-'] {
    float: left;
    padding-right: 20px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333333%;
}
.col-2-3 {
  width: 66.666666%;
}

.col-1-4 {
  width: 25%;
}

.outer-table {
  display: table;
  width: 100%;
  height:100%;
}

.inner-table {
  display: table-cell;
  vertical-align: middle;
}

@include screen('small') {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
  	width: 100%;
    padding-right: 0;
  }
  .col-1-4 {
    width: 50%;
  }
}
@include screen('tiny') {
  .col-1-4 {
    width: 100%;
    padding-right: 0;
  }
}
