body {
	// font-family: $avenir400;
  // font-weight: 400;
	// line-height:1rem;
	// color:nth($neutral,1);
	@include font($proxima400,400,14,1,normal,nth($gray,1));
}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $serif;
	text-rendering: optimizelegibility;
	font-weight: 700;
	margin: .5em auto;
  > small {
    font-weight: 400;
  }
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

body {
	// font-family: $avenir400;
  // font-weight: 400;
	// line-height:1rem;
	// color:nth($neutral,1);
	@include font($proxima400,400,14,1,normal,nth($gray,1));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: nth($gray,1);
	&.primary {
		color: nth($primary,1);
	}
	&.secondary {
		color: nth($secondary,1);
	}
	&.tertiary {
		color: nth($tertiary,1);
	}
	&.accent {
		color: nth($accent,1);
	}
	&.neutral {
		color: nth($neutral,1);
	}
	&.rev {
		color: #fff;
	}
}

h1 {
  color: nth($secondary,1);
	@include font($museo500,500,48,57,normal);
}

h2  {
	@include font($avenir400,400,36,49,0);
	@include rem('margin',30,auto);
}
// h3 {
// 	@include font($museo300,300,36,43,0,nth($primary,1));
// }

h3 {
	@include font($avenir400,400,24,33,0,nth($secondary,1));
}

p + h3 {
	@include rem('margin',50,auto,0);
}

h4 {
  color:nth($secondary,1);
	@include font($museo700,700,24,29,0);
	@include rem('margin-top',27);
}

h5 {
	@include font($museo300,300,24,34,0);
  // text-transform: uppercase;
  color:nth($tertiary,1);
}

h6 {
	@include font($proxima400,400,18,30,0);
}

p,
.snippet {
	@include font($proxima300,300,18,30,normal,nth($gray,1));
	@include rem('margin',18,auto);
  a {
    color:nth($accent,1);
  	transition:color .25s;
    &:hover {
    	color:nth($primary,1);
    }
  }
	strong {
		@include font($proxima600,600,inherit,inherit);
		> a {
			color:nth($primary,1);
			&:hover {
	    	color:nth($accent,1);
	    }
		}
	}
}
.snippet {
	margin: 0 auto;
}

ul, ol {
	&:not(.menu, .osano-cm-drawer-item) {
		li {
			color: red;
			a {
				color:nth($accent,1);
				transition:color .25s;
				&:hover {
					color:nth($primary,1);
				}
			}
			@include font($proxima300,300,18,30,normal,nth($gray,1));
		}
	}
	&.menu {
		list-style: none;
		margin:0;
		padding:0;
	}
}

.entry-content .entry-title + p,
.entry-content article {
	@include font($avenir400,400,24,36,normal,nth($neutral,1));
}

section p {
	color: inherit;
}

a {
	text-decoration: none;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

blockquote {
  position: relative;
	@include rem('margin',50,auto,36);
	@include rem('padding-top',24);
	max-width: 550px;
  &:before {
  	content: '';
  	width: 94px;
  	height: 1px;
  	background: #979797;
  	position: absolute;
  	top: 0;
  	left: calc(50% - (94px / 2));
  }
  &,
  p {
  	text-transform: uppercase;
  	text-align: center;
		@include font($brandon300,300,30,41,normal,nth($secondary,1));
  }

  p {
		margin: 0 auto;
		&:last-child {
	    &:not(:first-of-type) {
        position: relative;
  			@include font-size(18);
  	  	color: nth($gray,2);
  	  	display: inline-block;
  	    &:before {
  	    	content: '―';
  	    	position: absolute;
  	    	left: -2em;
  	    }
      }
	  }
	}
}
small {
	@include font($proxima400,400,11,13,0);
}

.entry-content label {
	color: nth($neutral,2);
	text-align: left;
	&.type {
		&:not(.primary),
		&:not(.secondary),
		&:not(.tertiary),
		&:not(.accent) {
			&:after {
				background: nth($neutral,2);
			}
		}
	}
}

// button,
a.btn {
	@include font($avenir700,700,14,18,5.25,#fff);
	text-transform:uppercase;
	display:inline-block;
	@include rem('padding',10,20);
	@include rem('border-radius',4);
	border:1px solid;
	@include trans(color .25s, border-color .25s, background .25s);
	cursor: pointer;
	@include btn-solid($primary);
	&.secondary {
		@include btn-solid($secondary);
	}
	&.tertiary {
		@include btn-solid($tertiary);
	}
	&.accent {
		@include btn-solid($accent);
	}
	&.neutral {
		@include btn-solid($neutral);
	}
	&.small {
		font-size: smaller;
		line-height: normal;
		letter-spacing: 3px;
	}
}

label {
	@include font($brandon700,700,14,20,3.11,#fff);
	text-transform: uppercase;
	&.type {
		display: block;
		position: relative;
		text-align: center;
		&:after {
			content: "";
			background: #fff;
			position: absolute;
			left: 50%;
			@include rem('bottom',-12);
			transform: translateX(-50%);
			@include rem('width',100);
			height: 1px;
		}
		&.left {
			text-align: left;
			&:after {
				left: 0;
				transform: none;
			}
		}
	}
	&.primary {
		color: nth($primary,1);
		&.type:after {
			background: nth($primary,1);
		}
	}
	&.secondary {
		color: nth($secondary,1);
		&.type:after {
			background: nth($secondary,1);
		}
	}
	&.tertiary {
		color: nth($tertiary,1);
		&.type:after {
			background: nth($tertiary,1);
		}
	}
	&.accent {
		color: nth($accent,1);
		&.type:after {
			background: nth($accent,1);
		}
	}
	&.neutral {
		color: nth($neutral,1);
		&.type:after {
			background: nth($neutral,1);
		}
	}
}

.entry-content {
	a > img,
	img {
		margin-bottom: 2.5rem;
	}
}
a {
  > img {
    &.alignright {
      float:right;
      margin:0 0 1em 1em;
    }
    &.alignleft {
      float:left;
      margin:0 1em 1em 0;
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2.5rem;
    }
  }
}

img {
  max-width:100%;
  height:auto;
  &.alignright {
    float:right;
    margin:1em 0 1em 1em;
  }
  &.alignleft {
    float:left;
    margin:1em 1em 1em 0;
  }
  &.aligncenter {
    display: block;
    margin: 2.5rem auto;
  }
}

.wp-caption {
	> img {
		margin: 0 auto;
	}
	.wp-caption-text {
		font-size: 12px;
		color: nth($neutral,2);
		margin: .5rem auto;
		line-height: 1.2rem;
		text-align: center;
	}
	&.alignright {
    float:right;
    margin:1em 0 1em 1em;
  }
  &.alignleft {
    float:left;
    margin:1em 1em 1em 0;
  }
  &.aligncenter {
    display: block;
    margin: 2.5rem auto;
  }
}




code,
pre {
	font-family: "Consolas","Courier New", "Lucida Sans Typewriter", monospace;
	@include font-size(16);
	line-height: inherit;
	letter-spacing: auto;
	color: nth($gray,2);
}
pre {
	@include line-height(20);
	padding:1.4rem;
	background: nth($gray,2);
	color:#fff;
}


@include screen('tiny') {
	h1 {

	}
	h2 {
		@include font-size(50 / $retina_diff);
		@include line-height(60 / $retina_diff);
	}
	h3 {
		@include font-size(30 / $retina_diff);
		@include line-height(43 / $retina_diff);
	}
	h4 {
		@include font-size(50 / $retina_diff);
		@include line-height(60 / $retina_diff);
	}
	h5 {

	}
	h6 {

	}
	p,
	.snippet {
		@include font-size(30 / $retina_diff);
		@include line-height(40 / $retina_diff);
	}
}
