// Select dropdowns for filtering, sorting, etc.
$width: 300px;

  .dropdown-container {
    position: absolute;
    z-index: 999;
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .dropdown {
      width: $width;
      max-width: 90vw;
      margin: 0 auto;
      text-align: left;
      text-transform: uppercase;
      @include font($brandon300,300,14,14,2.8,nth($gray, 1));
      &.closed {
        .dropdown-menu {
          margin-top: 0px;
          li {
            height: 0px;
          }
        }
        .title {
          border-bottom: none;
          &:after {
            margin-top: -16px;
            transform: rotate(0deg);
            transition: transform .2s;
          }
        }
      }

    .title {
        width: 100%;
        position: relative;
        height: 40px;
        padding: 0 20px;
        cursor: pointer;
        border-bottom: 1px solid $gray;
        @include font($brandon500,500,14,40,2.8,nth($gray, 1));
        &:after {
          display: block;
          content: '';
          position: absolute;
          right: 10px;
          bottom: 0;
          width: 40px;
          height: 40px;
          background-image: url('../../img/icons/ico-carrot-dropdown.svg');
  				background-size: 25px 13px;
  				background-position: center center;
  				background-repeat: no-repeat;
          transform: rotate(180deg);
          transition: transform .2s;
        }
      }

      .dropdown-menu {
        position: relative;
        overflow: hidden;
        // max-height: 160px;
        transition: all .2s;
        background: rgba(#fff,.9);
      }
      ul {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style:none;

        li {
          width: 100%;
          height: 40px;
          line-height: 40px;
          color: nth($gray,1);
          font-weight: 300;
          text-align: right;
          padding: 0 15px 0 0;
          vertical-align: top;
          overflow: hidden;
          cursor: pointer;
          transition: margin-top 0.5s, height 0.5s;
          position: relative;
          &.current-cat {
            display: none;
          }
          a {
            float: left;
            text-align: left;
            color: nth($gray, 1);
            font-weight: 400;
            padding: 0 0 0 15px;
            text-decoration: none;
            height: 40px;
            line-height: 40px;
            border-left: 5px solid transparent;
            position: absolute;
            left: 0;
            right:0;
            label {
              text-align: left;
              color: nth($gray, 1);
              font-weight: 400;
              padding: 0 0 0 15px;
              text-decoration: none;
              height: 40px;
              line-height: 40px;
            }
          }
          &:hover {
            background-color: nth($gray, 4);
            transition: background-color .2s;
            a {
              border-color: nth($primary, 1);
               transition: border-color .2s;
            }
          }
        }
      }
    }
  }
