.filters {
  @include rem('margin',70,auto,0);
  > .grid {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
  }
  .col-1-2 {
    position: relative;
    min-height: 40px;
    &:nth-of-type(2) {
      text-align: right;
      .dropdown-container {
        right: 0;
      }
    }
  }
}


@include screen('small') {
  .filters {
    max-width: 95%;
    .col-1-2 {
      padding: 0 1%;
    }
  }
// }
//
// @include screen('tiny') {
  .filters {
    max-width: 90%;
    @include rem('margin',40,auto,0);
    .grid {
      margin: 0;
    }
    .col-1-2 {
      padding: 0 5%;
      width: 100%;
      .dropdown-container {
        left: 50%;
        transform: translateX(-50%);
        .dropdown {
          max-width: 80vw;
          @include rem('width',300);
          @include font-size(24);
          @include letter-spacing(4);
        }
      }
      .search-form {
        float: none;
        @include rem('width',300);
        @include rem('margin',40,auto,0);
        max-width: 80vw;
      }
    }
  }
}
