$arrow-size: 35px;
$caret-size: 50px;

.flexslider {
  .nav-arrows {
    position: relative;
    height: 0;
    > a {
      position: absolute;
      bottom: 0;
      width: 10%;
      z-index: 10;
      opacity: .4;
      transition: opacity .25s;
      &:hover {
        opacity: 1;
      }
      > img {
        position: absolute;
        top: 50%;
        margin-top: -($caret-size / 2);
        height: $caret-size;
        cursor: pointer;
      }

      &.flex-prev {
        > img {
          left: $caret-size * .75;
        }
      }
      &.flex-next {
        right: 0;
        > img {
          right: $caret-size * .75;
        }
      }

    }
  }
}

.flexslider {
  ul.flex-direction-nav {
    a {

      &:before  {
          content: ' ';
          display: block;
          width: $arrow-size;
          height: $arrow-size;
          background-size:cover;
          background-position: center center;
          background-repeat: no-repeat;
      }
      &.flex-prev {
        left: -$arrow-size;
        transition: left .2s;
        &:before {
          background-image: url('../../img/icons/ico-page-prev@2x.png');
        }
      }
      &.flex-next {
        right: -$arrow-size;
        transition: right .2s;
        &:before  {
          background-image: url('../../img/icons/ico-page-next@2x.png');
        }
      }
    }
  }
	&:hover {
    ul.flex-direction-nav {
      .flex-prev {
        left: 1 - ($arrow-size / 2);
      }
      .flex-next {
        right: 1 - ($arrow-size / 2);
      }
    }
	}
}
