input[type=text],
input[type=email] {
	font-family: $avenir400;
	font-weight: 400;
	@include font-size(13);
	@include line-height(30);
	border:1px solid #E9EAEE;
	border-radius:4px;
	text-indent:15px;
	width:100%;
}

.entry-content {
	.mktoForm {
		margin-bottom: -40px;
	}
}
.mktoForm {
	max-width:460px;
	.mktoFormCol,
	.mktoFieldWrap,
	.mktoButtonRow,
	.mktoButtonWrap {
    float: none;
    width: 100%;
	}
	.mktoGutter {
		display: none;
	}
	&,
	input.mktoField,
	textarea.mktoField,
	select.mktoField,
	button {
		font-family: $sans;
		width: 100% !important;
		float: none;
		max-width:460px;
	}

	label.mktoLabel {
		font-family: $sans;
		float: none;
	  line-height: 21px;
		font-weight: 400 !important;
		color: nth($neutral, 1);
		margin: 0 auto 16px;
		font-family: $sans_heading;
		/* SITE: */
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
	}
	.mktoRequiredField .mktoAsterix {
		color: transparent;
		float: none;
		display: inline-block;
		position: absolute;
		left: 100%;
		top: 0;
		padding-left: 5px !important;
		&:before {
			content: '(REQUIRED)';
			font-size: 10px;
			color: #bf0000;
			color: nth($gray, 3);
			vertical-align: -webkit-baseline-middle;

		}
	}
	input.mktoField {
		&[type=text],
		&[type=url],
		&[type=email],
		&[type=tel],
		&[type=number],
		&[type=date] {
			box-shadow: none;
			border:1px solid #E9EAEE;
			border-radius:4px;
			@include font($avenir400,400,13,30,0,nth($gray, 1));
			height: 3rem !important;
			text-indent: .9rem;
			&:focus {
				outline: none;
			  border-color: nth($primary, 1);
			}
		}
	}
	textarea.mktoField,
	select.mktoField {
		box-shadow: none !important;
		// @include font($avenir400,400,13,30,0,nth($gray, 1));
		line-height: (40 / 16) * 1rem !important; // 40px
		font-family: $avenir400 !important;
		font-size: (13 / 16) * 1rem !important; // 13px
		color: nth($gray, 1) !important;
		letter-spacing: 0 !important;
		border:1px solid #E9EAEE !important;
		border-radius:4px !important;
		font-weight: 400 !important;
		padding: 0 .9rem  !important;
		&:focus {
			outline: none;
		  border: 1px solid nth($primary, 1) !important;
		}
	}

	textarea.mktoField {
		line-height: (18 / 16) * 1rem !important; // 40px
		height: 12rem !important;
		padding: .9rem !important;
	}
	select.mktoField {
		height: 3rem;
	}

	.mktoButtonWrap {
		margin-left: 0 !important;
		display:block;
		&,
		&.mktoPurpleCandy {
			button.mktoButton {
			  font-weight: 700;
			  color: #fff;
			  text-transform: uppercase;
			  font-size: 18px;
			  line-height: 30px;
			  letter-spacing: 3px;
			  outline: none;
			  box-shadow: none;
			  border: none;
			  border-radius: 4px;
			  margin-bottom: 1rem;
			  background: nth($secondary, 1);
				display: block;
				margin: 3rem auto;
				max-width: 70%;
				text-shadow: none;
				&:hover {
					background: nth($primary, 1);
				}
			}
		}
	}
	+ a {
		opacity: 1;
		transition: opacity .25s;
	}
	&:visible {
		+ a {
			opacity: 0;
		}
	}

	.mktoFormRow fieldset.mktoFormCol {
    border: none;
    padding: 0;
	}

	.mktoFieldWrap {
	  float: none;
	  width: 100%;
	}
	.mktoFormCol {
	  width: 100%;
	}
	.mktoOffset {
		height:auto !important;
	}

}

section.marketo-form-wrapper {
	background: #47c1b6;

	.inner {
		background-color: #fff;
		padding: 50px 40px 30px 40px;
		margin: 50px 0;
		border-radius: 8px;

		#_content {
			text-align: center;

			h1 {
				color: #47c1b6;
				font-family: $museo500;
				font-size: 48px;
			}
			p {
				width: 75%;
			}
		}

		.mktoForm {
			margin-right: auto;
			margin-left: auto;

			.mktoButtonWrap.mktoRound button.mktoButton {
				background-color: #ff8300;
				max-width: 200px;
				border: 1px solid #ff8300;
				transition: .3s;
				margin-top: 1rem;

				&:hover {
					background-color: #fff;
					color: #ff8300;
				}
			}

			.mktoRequiredField label.mktoLabel {
				font-family: $proxima400;
				letter-spacing: 1.5px;
				color: $text-color;

				.mktoAsterix {
					text-transform: lowercase;
					font-family: $proxima400;
					letter-spacing: 1.5px;

					&:before {
						font-size: 13px;
					}
				}
			}
		}
	}
}

.page-template-page-form {
	#_content {
		display: block;
		&.hidden {
			display: none;
		}
	}
	#success_content {
		height: 0;
		overflow: hidden;
		opacity: 0;
		&.visible {
			height: auto;
			opacity: 1;
			transition: opacity .5s;
		}
	}
	.contact-details {
		margin-top: 75px;
	}
}

@include screen('(min-width:768px)') {
	article.resources {
		.mktoForm {
			max-width: 100%;
			padding: 5%;
			background: nth($gray, 4);
			.mktoFormRow {
				clear: none;
				float: left;
		    width: 47.5%;
		    margin-right: 5%;
				&:nth-child(2n+1) {
					margin-right: 0;
				}
			}
			.mktoButtonWrap button.mktoButton, .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
				margin: 2rem auto 0;
				max-width: 50%;
			}
		}
	}

	#mktoForm_176 {
		max-width: 90%;
		fieldset {
			margin: 0 auto !important;
			border: none;
			.mktoFormRow {
				clear: none;
				float: left;
				width: 47.5%;
				margin-right: 5%;
				&:nth-child(2n+1) {
					margin-right: 0;
				}
			}
		}
		> .mktoFormRow:nth-child(3) {
			.mktoFormRow {
		    width: 100%;
				clear: both;
				float: none;
				label.mktoLabel {
					float: left;
					margin: 0 auto 8px;
					strong {
						font-weight: 400;
					}
				}
				textarea.mktoField {
					max-width: 100%;
				}
			}
		}
		.mktoButtonWrap button.mktoButton, .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
			margin: 2rem auto 0;
			max-width: 50%;
		}
	}

}
