// =======================================
//
//  Modals
//
// =======================================

.modal,
.remodal {
  background: #E6E3E2;
  color: nth($neutral, 1);
  border-radius: 10px;
	box-shadow: 0 .86em 3.14em 0 rgba(0,0,0,.34);
  padding: 3.57em 6.43em;
  .remodal-close {
  	width: 1.57rem;
  	height: 1.57rem;
  	top: 2.29rem;
  	right: 2.29rem;
  	left: auto;
  	color: nth($neutral, 1);
    z-index: 1;
    &:before {
    	display: none;
    }
  }
}

.remodal-overlay {
	background: rgba(255,255,255,.9);
}


@include screen('tiny') {
  .remodal-wrapper {
    padding: 0;
  }
  .modal,
  .remodal {
    width: 100vw;
		height: 100vh;
		max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
		border-radius: 0;
    .remodal-close {
      top: 5vw;
      right: 5vw;
    }
  }
}
