footer {
  .navigation.pagination {
    .nav-links {
      font-family: $proxima700;
      font-weight: 700;
      @include font-size(16);
      @include line-height(35);
      @include letter-spacing(6);
      a,
      span {
        display: inline-block;
        @include line-height(35);
        @include rem('margin',0,5);
        @include rem('padding',0,5);
        vertical-align: bottom;
        color: nth($neutral, 1);
      }
      span {
        color: nth($secondary, 1);
      }
      a {
        &:hover {
          color: nth($primary, 1);
        }
        &.next,
        &.prev {
          @include rem('width',35);
          @include rem('height',35);
          @include rem('width',0,15);
          padding: 0;
        }
      }
    }
  }
}

@include screen('tiny') {
  footer {
    .navigation.pagination {
      .nav-links {
        a,
        span {
          margin: 0;
        }
      }
    }
  }
}
