.search.modal.remodal {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(84% -26%, #EB7767 9%, #FDA14B 69%, #FF8300 100%);
  background-image: radial-gradient(circle at top left, #FF8300, #FDA14B, #EB7767 );
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  border-radius: 0;
  position: fixed;
  left: 0;

  .container {
    background: transparent;
    width: 90%;
    max-width: 821px;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
  }
}

.search-form {
  // display: block;
  width: 100%;
  input {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    //opacity: 0.5;
    font-family: "MuseoSlab-100", $slab;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 58px;
    width: calc(100% - 58px);
    float: left;
    &:focus {
      outline: none;
    }
  }
  button {
    &.btn {
      background: transparent;
      border-radius: 0;
      border: none;
      width: 58px;
      height: 58px;
      padding: 0;
      &:focus,
      &:active {
        outline: none;
        opacity: .5;
      }
      &:hover {
        opacity: .5;
      }

      > i {
        width: 40px;
        height: 40px;
        // vertical-align: bottom;
        background-image: url('../img/icons/ico-search-white.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  padding: 15px 0;
  border-bottom: 1px solid #fff;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(#fff,.5);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(#fff,.5);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(#fff,.5);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(#fff,.5);
  }
}

.filters {
  .search-form {
    padding: 0 0 5px;
    border-bottom: 1px solid nth($gray, 1);
    max-width: 360px;
    float: right;
    margin-right: 20px;
    input {
      font-size: 30px;
      color: nth($gray, 1);
      line-height: 32px;
      width: calc(100% - 35px);
    }
    button {
      &.btn {
        width: 34px;
        height: 34px;

        > img {
          width: 26px;
        }
        > i {
          width: 24px;
          height: 24px;
          background-image: url('../img/icons/ico-search.svg');
        }
      }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(nth($gray, 1),.5);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(nth($gray, 1),.5);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(nth($gray, 1),.5);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(nth($gray, 1),.5);
    }
  }
}


@include screen('tiny') {
  
  .search.modal.remodal {
    padding: 10vh 5vw;
  }
  .search-form {
    padding: .75rem 0;
    input {
      @include font-size(48 / $retina_diff);
      @include line-height(58 / $retina_diff);
      width: calc(100% - 8vw);
    }
    button.btn {
      width: 8vw;
      height: 8vw;
      > i {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}
