/* Social Sharing Plugin Styles --------------------*/

.entry-content {
  ul.kiwi-article-bar {
    margin-top: 1.5rem;
    text-align: left;
    li {
      text-align: center;
      a {
        border-radius: 4px;
        padding: .75rem;
        line-height: 1rem;
        height: auto;
        font-size: 18px;
        &.kiwi-nw-email {
          background-color: nth($primary,1);
          &:hover,
          &:active,
          &:focus {
            background-color: nth($primary,3);
          }
        }
      }
    }
  }
}


@include screen('tiny') {
  .entry-content {
    ul.kiwi-article-bar {
      width: 95%;
      li {
        margin: 0;
        padding: 0;
        width: 20%;
        a {
          width: 100%;
          border-radius: 0;
        }
        &:first-child {
          a {
            border-radius: 4px 0 0 4px;
          }
        }
        &:last-child {
          a {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }
  }
}

// Replace default plugin stylesheet for icons:

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$kicon-close: "\e908";
$kicon-at: "\e900";
$kicon-envelope: "\e901";
$kicon-linkedin: "\e902";
$kicon-twitter: "\e903";
$kicon-facebook: "\e904";
$kicon-send: "\e905";
$kicon-pinterest: "\e906";
$kicon-reddit: "\e907";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cfbnyo');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cfbnyo#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?cfbnyo') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?cfbnyo') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?cfbnyo##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kicon-"], [class*=" kicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kicon-close {
  &:before {
    content: $kicon-close;
  }
}
.kicon-at {
  &:before {
    content: $kicon-at;
  }
}
.kicon-envelope {
  &:before {
    content: $kicon-envelope;
  }
}
.kicon-linkedin {
  &:before {
    content: $kicon-linkedin;
  }
}
.kicon-twitter {
  &:before {
    content: $kicon-twitter;
  }
}
.kicon-facebook {
  &:before {
    content: $kicon-facebook;
  }
}
.kicon-send {
  &:before {
    content: $kicon-send;
  }
}
.kicon-pinterest {
  &:before {
    content: $kicon-pinterest;
  }
}
.kicon-reddit {
  &:before {
    content: $kicon-reddit;
  }
}
