/* Social Sharing Plugin Styles --------------------*/

// .heateorSssSharing > .heateorSssSharingSvg {
//   float: left;
//   width: 40px !important;
//   background-color: rgba(255,255,255,.10) !important;
// }
// .heateorSssSharing > .heateor_sss_square_count {
//   float: right;
//   display: block;
//   visibility: visible;
//   width: calc(100% - 40px) !important;
//   font-size: 14px;
//   line-height: 40px;
//   font-weight: 500;
//   font-family: 'proxima-nova', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// }
  // .heateorSssSharingRound[data-channel="Facebook"] > i {
  //   background-color: #38559c;
  // }
  // .heateorSssSharingRound[data-channel="Twitter"] > i {
  //   background-color: #00aaf3;
  // }
  // .heateorSssSharingRound[data-channel="Reddit"] > i {
  //   background-color: #ff4500;
  // }
  // .heateorSssSharingRound[data-channel="Email"] > i {
  //   background-color: #dc4c40;
  // }

.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
  margin-bottom: 40px;
}
.entry-title + .heateor_sss_sharing_container {
  margin-top: 40px;
}

.heateorSssSharing,
.heateorSssSharingButton {
    margin: 0px 8px 0 0;
	}
.heateorSssSharing > .heateorSssSharingSvg {
    float: left;
    width: 40px !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
	}
.heateorSssSharing > .heateor_sss_square_count {
    float: right;
    display: block;
    visibility: visible;
    width: calc(100% - 40px) !important;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    font-family: $sans;
	}
.heateorSssSharingRound[data-channel="Facebook"] > i,
.heateorSssSharingRound .heateorSssFacebookBackground {
    background-color: #38559c;
	}
.heateorSssSharingRound[data-channel="Facebook"] > i:hover,
.heateorSssSharingRound .heateorSssFacebookBackground:hover {
      background-color: #2b4176;
		}
.heateorSssSharingRound[data-channel="Twitter"] > i,
.heateorSssSharingRound .heateorSssTwitterBackground {
    background-color: #00aaf3;
	}
.heateorSssSharingRound[data-channel="Twitter"] > i:hover,
.heateorSssSharingRound .heateorSssTwitterBackground:hover {
      background-color: #0086c0;
		}
.heateorSssSharingRound[data-channel="Reddit"] > i,
.heateorSssSharingRound .heateorSssRedditBackground {
    background-color: #ff4500;
	}
.heateorSssSharingRound[data-channel="Reddit"] > i:hover,
.heateorSssSharingRound .heateorSssRedditBackground:hover {
      background-color: #cc3700;
		}
/*.heateorSssSharingRound[data-channel="Reddit"] > i .heateorSssRedditSvg,
.heateorSssSharingRound .heateorSssRedditBackground .heateorSssRedditSvg {
      background: url("../../img/icons/ico-social-reddit.svg") no-repeat center center;
		}*/
.heateorSssSharingRound[data-channel="Email"] > i,
.heateorSssSharingRound .heateorSssEmailBackground {
    background-color: #dc4c40;
	}
.heateorSssSharingRound[data-channel="Email"] > i:hover,
.heateorSssSharingRound .heateorSssEmailBackground:hover {
      background-color: #c53024;
		}
.heateorSssSharingRound:hover .heateorSssFacebookBackground {
    background-color: #2b4176;
	}
.heateorSssSharingRound:hover .heateorSssTwitterBackground {
    background-color: #0086c0;
	}
.heateorSssSharingRound:hover .heateorSssRedditBackground {
    background-color: #cc3700;
	}
.heateorSssSharingRound:hover .heateorSssEmailBackground {
    background-color: #c53024;
	}


.entry-title + .heateorSssClear ~ .heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
  margin-top: 40px;
}


@include screen('tiny') {
  .heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
    height:10vw;
    ul.heateor_sss_sharing_ul {
      width: 100vw;
      left: 0;
      text-align: center;
      position: absolute;
      height: 10vw;
      li {
        float: none !important;
        display: inline-block;
      }
    }
  }

  .heateor_sss_horizontal_sharing .heateorSssSharing {
    width: 22vw !important;
    height: 10vw !important;
    margin: .5vw;
    > .heateorSssSharingSvg {
      width: 10vw !important;
    }
    > .heateor_sss_square_count {
      @include font-size(11);
      line-height: 10vw;
      width: 12vw !important;
    }
  }
}
