.grid {
  margin: 0 0 20px 0; }
.grid * {
  box-sizing: border-box; }
.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='col-'] {
  float: left;
  padding-right: 20px; }
.grid [class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.333333%; }

.col-2-3 {
  width: 66.666666%; }

.col-1-4 {
  width: 25%; }

.outer-table {
  display: table;
  width: 100%;
  height: 100%; }

.inner-table {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
    width: 100%;
    padding-right: 0; }

  .col-1-4 {
    width: 50%; } }
@media only screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
    padding-right: 0; } }
.error404 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
.error404 header > .container {
  background: transparent;
  padding: 50px 75px;
  padding: 3.5714285714rem 5.3571428571rem; }
.error404 header > .container a {
  display: block;
  float: left; }
.error404 header > .container a img {
  margin-bottom: 0; }
.error404 main {
  background: #fff;
  width: 90%;
  max-width: 960px;
  padding: 10rem 12rem 6rem;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
.error404 main h1 {
  margin: 1.79rem 0 2.14rem; }
.error404 main p {
  margin-bottom: 1rem; }
.error404 main .menu {
  padding: 0;
  list-style: none; }
.error404 main .menu li {
  line-height: 1.36rem; }
.error404 main .menu li.btn {
  display: none; }
.error404 main .menu li a {
  display: block; }
.error404 main .menu li a, .error404 main .menu li a:visited {
  font-family: "BrandonGrotesque-Medium", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff8300;
  font-size: .93rem;
  line-height: 1.36rem;
  letter-spacing: .03rem;
  display: block; }
.error404 main .menu li a:hover {
  color: #febf84; }
.error404 main .menu li ul {
  display: none; }
.error404 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0; }
.error404 footer .main-footer, .error404 footer .mobile-footer {
  padding: 50px 0px;
  padding: 3.5714285714rem 0rem; }
.error404 footer .utility-nav {
  margin: 0; }

@media only screen and (max-width: 991px) {
  .error404 main {
    padding: 6rem 8rem 4rem; } }
@media only screen and (max-width: 640px) {
  .error404 {
    background: #f7f5f5; }
  .error404 header > .container .logo {
    width: 250px; }
  .error404 main {
    padding: 6rem 6rem 4rem;
    width: 100%;
    border-radius: 0;
    top: 40%; }
  .error404 main .menu li {
    display: inline-block;
    margin: .5rem 1rem .5rem 0; }
  .error404 main .menu li a {
    padding: 10px 15px 10px 0; } }

/*# sourceMappingURL=404.css.map */
