/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover {
  outline: none; }

.slides {
  margin: 0;
  padding: 0;
  list-style: none; }
.slides > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }
.flexslider .slides img {
  width: 100%;
  display: block; }
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }
.flexslider .slides {
  zoom: 1; }
.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
.flex-direction-nav a.flex-next:before {
  content: '\f002'; }
.flex-direction-nav .flex-prev {
  left: -50px; }
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }
.flex-pauseplay a:hover {
  opacity: 1; }
.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.flex-control-thumbs img:hover {
  opacity: 1; }
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.flexslider .nav-arrows {
  position: relative;
  height: 0; }
.flexslider .nav-arrows > a {
  position: absolute;
  bottom: 0;
  width: 10%;
  z-index: 10;
  opacity: .4;
  transition: opacity .25s; }
.flexslider .nav-arrows > a:hover {
  opacity: 1; }
.flexslider .nav-arrows > a > img {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  cursor: pointer; }
.flexslider .nav-arrows > a.flex-prev > img {
  left: 37.5px; }
.flexslider .nav-arrows > a.flex-next {
  right: 0; }
.flexslider .nav-arrows > a.flex-next > img {
  right: 37.5px; }

.flexslider ul.flex-direction-nav a:before {
  content: ' ';
  display: block;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.flexslider ul.flex-direction-nav a.flex-prev {
  left: -35px;
  transition: left .2s; }
.flexslider ul.flex-direction-nav a.flex-prev:before {
  background-image: url("../../img/icons/ico-page-prev@2x.png"); }
.flexslider ul.flex-direction-nav a.flex-next {
  right: -35px;
  transition: right .2s; }
.flexslider ul.flex-direction-nav a.flex-next:before {
  background-image: url("../../img/icons/ico-page-next@2x.png"); }
.flexslider:hover ul.flex-direction-nav .flex-prev {
  left: -16.5px; }
.flexslider:hover ul.flex-direction-nav .flex-next {
  right: -16.5px; }

.callouts {
  width: 100%;
  max-width: 980px;
  margin: 75px auto; }
.callouts h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 36px;
  line-height: 2.5714285714rem;
  letter-spacing: 0; }
.callouts .block {
  border-radius: 6px;
  position: relative;
  background: center center no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  height: 310px;
  max-width: 450px;
  width: calc(50% - 40px);
  float: left;
  padding: 0 10px; }
.callouts .block *:not(.overlay) {
  color: #fff;
  position: relative; }
.callouts .block .overlay {
  border-radius: 6px;
  opacity: .65;
  background: #ff8300;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #ff8300, #fda14b, #eb7767);
  background: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767); }
.callouts .block label {
  top: 77px;
  top: 5.5rem;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 3.11px;
  letter-spacing: 0.2221428571rem;
  max-width: 90%;
  margin: 0 auto;
  display: block; }
.callouts .block label:after {
  width: 52px;
  width: 3.7142857143rem; }
.callouts .block h4 {
  position: relative;
  max-width: 80%;
  top: 77px;
  top: 5.5rem;
  margin: 30px auto 0px;
  margin: 2.1428571429rem auto 0rem; }
.callouts .block p {
  padding: 0 20px;
  margin: 9px auto; }
.callouts .block.header {
  width: 100%;
  max-width: 940px;
  height: 525px; }
.callouts .block.header .type {
  padding-top: 115px; }
.callouts .block.header h4 {
  font-size: 36px;
  padding-top: 100px; }
.callouts .block.wide {
  width: 100%;
  max-width: 940px;
  padding: 0;
  background-color: #eb7767; }
.callouts .block.wide.events {
  background-color: #5e5f61; }
.callouts .block.wide.resources {
  background-color: #29b5a8; }
.callouts .block.wide .copy {
  float: left;
  padding: 0 10px;
  width: calc(100% - 490px); }
.callouts .block.wide .background {
  width: 490px;
  float: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
.callouts .block.post .overlay {
  background: #eb7767 44%;
  background: -webkit-linear-gradient(bottom, #eb7767 44%, #d4432f 96%);
  background: linear-gradient(to top, #eb7767 44%, #d4432f 96%); }
.callouts .block.resources .overlay {
  background: #29b5a8 23%;
  background: -webkit-linear-gradient(bottom, #29b5a8 23%, #008B7E 88%);
  background: linear-gradient(to top, #29b5a8 23%, #008B7E 88%); }
.callouts .block.link {
  background-color: #20c1dc; }
.callouts .block.link .overlay {
  background: radial-gradient(84% -26%, #29b5a8 9%, #49d0e4 69%, #20c1dc 100%);
  background: radial-gradient(circle at top left, #20c1dc, #49d0e4, #29b5a8);
  background: #29b5a8;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #29b5a8, #47c1b6, #20c1dc);
  background: radial-gradient(circle at top left, #29b5a8, #47c1b6, #20c1dc); }
.callouts .block.video {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
.callouts .block.video .thumb, .callouts .block.video .thumb > *, .callouts .block.video .youtube-player {
  position: absolute; }
.callouts .block.video .thumb, .callouts .block.video .overlay, .callouts .block.video .image, .callouts .block.video .video-placeholder, .callouts .block.video .youtube-player, .callouts .block.video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-radius: 6px; }
.callouts .block.video .youtube-player {
  z-index: 101; }
.callouts .block.video iframe {
  z-index: 50; }
.callouts .block.video i, .callouts .block.video h4 {
  z-index: 200;
  color: #fff;
  opacity: 1;
  transition: opacity .25s; }
.callouts .block.video i {
  left: calc(50% - 30px);
  top: calc(50% - 60px);
  width: 60px; }
.callouts .block.video h4 {
  text-align: center;
  top: calc(50% + 20px);
  margin: 0 5%;
  max-width: 90%;
  width: 90%; }
.callouts .block.video .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.callouts .block.video .overlay {
  z-index: 101; }
.callouts .block.video.header .thumb i {
  width: 90px;
  left: calc(50% - 45px);
  top: calc(50% - 90px); }
.callouts .block.video.header .thumb h3 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 43px;
  line-height: 3.0714285714rem;
  letter-spacing: 0;
  top: calc(50% + 30px);
  padding: 0 10% 0;
  width: 100%;
  text-align: center;
  z-index: 1000; }
.callouts .block.video.header .thumb .overlay {
  background: linear-gradient(0deg, #FF8300 0%, #FF612A 100%);
  background: #ff8300;
  background: -webkit-linear-gradient(bottom, #ff8300, #FF612A);
  background: linear-gradient(to top, #ff8300, #FF612A); }
.callouts a.block {
  transition: box-shadow .25s; }
.callouts a.block:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); }

section.main + .callouts {
  padding: 50px 0 75px;
  margin: 0 auto;
  border-top: 1px solid #E9EAEE; }
section.main + .callouts > h2 {
  margin-bottom: 20px; }

@media only screen and (max-width: 1299px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 991px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 768px) {
  .callouts {
    margin: 0 auto; }
  .callouts h2 {
    margin-top: 40px; } }
@media only screen and (max-width: 640px) {
  .callouts h2 {
    font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5e5f61;
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 20.5714285714px;
    line-height: 1.4693877551rem;
    letter-spacing: 0; }

  section.callouts .block, section.callouts .event, section.events .block, section.events .event {
    max-width: 90vw;
    width: 90vw;
    margin: 0 5vw 5vw;
    height: auto;
    min-height: 70vw; }
  section.callouts .block h4, section.callouts .event h4, section.events .block h4, section.events .event h4 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    margin: 0 auto;
    max-width: 90%; }
  section.callouts .block label, section.callouts .event label, section.events .block label, section.events .event label {
    top: 3.5rem;
    font-size: 11px;
    font-size: 0.7857142857rem;
    letter-spacing: 2.5px;
    letter-spacing: 0.1785714286rem; }
  section.callouts .block label + h4, section.callouts .event label + h4, section.events .block label + h4, section.events .event label + h4 {
    top: 3.5rem;
    margin-top: 2rem; }
  section.callouts .block .copy label, section.callouts .event .copy label, section.events .block .copy label, section.events .event .copy label {
    padding-top: 0; }
  section.callouts .block.header, section.callouts .event.header, section.events .block.header, section.events .event.header {
    height: 90vw;
    width: 90vw; }
  section.callouts .block.header h4, section.callouts .block.header h3, section.callouts .event.header h4, section.callouts .event.header h3, section.events .block.header h4, section.events .block.header h3, section.events .event.header h4, section.events .event.header h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem;
    line-height: 27.4285714286px;
    line-height: 1.9591836735rem;
    padding: 0 2.5%; }
  section.callouts .block.header.video .thumb i, section.callouts .event.header.video .thumb i, section.events .block.header.video .thumb i, section.events .event.header.video .thumb i {
    width: 20%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); }
  section.callouts .block.header.video .thumb h3, section.callouts .event.header.video .thumb h3, section.events .block.header.video .thumb h3, section.events .event.header.video .thumb h3 {
    font-size: 25.1428571429px;
    font-size: 1.7959183673rem;
    line-height: 30.8571428571px;
    line-height: 2.2040816327rem;
    padding: 0 2.5%;
    top: 50%; }
  section.callouts .block.wide, section.callouts .event.wide, section.events .block.wide, section.events .event.wide {
    height: 115vw;
    width: 90vw; }
  section.callouts .block.wide .copy, section.callouts .block.wide .background, section.callouts .event.wide .copy, section.callouts .event.wide .background, section.events .block.wide .copy, section.events .block.wide .background, section.events .event.wide .copy, section.events .event.wide .background {
    width: 100%;
    height: 50%; }
  section.callouts .block.wide .background, section.callouts .event.wide .background, section.events .block.wide .background, section.events .event.wide .background {
    border-radius: 0 0 6px 6px; }
  section.callouts .block.wide .copy, section.callouts .event.wide .copy, section.events .block.wide .copy, section.events .event.wide .copy {
    padding-bottom: 19.4285714286px; }
  section.callouts .block.wide label, section.callouts .event.wide label, section.events .block.wide label, section.events .event.wide label {
    padding-top: 0;
    top: 2.5rem; }
  section.callouts .block.wide label + h4, section.callouts .event.wide label + h4, section.events .block.wide label + h4, section.events .event.wide label + h4 {
    top: 2.5rem; }
  section.events {
    margin-top: -40vw; }
  section.events .event {
    min-height: 61vw; }
  section.events .event.featured {
    min-height: 82.5vw; } }
.about h2 {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  color: #29b5a8;
  font-size: 48px;
  font-size: 3.4285714286rem;
  line-height: 57px;
  line-height: 4.0714285714rem;
  letter-spacing: 0;
  margin: 0 auto; }
.about h3 {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ff8300;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0; }
.about .main ul {
  font-family: "ProximaNova-Semibold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 600;
  list-style: none;
  padding-left: 70px; }
.about .main ul li {
  position: relative;
  margin-bottom: 18px; }
.about .main ul li:before {
  content: '';
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -18px;
  top: 9px;
  width: 7px;
  height: 14px; }
.about .main ul li > p {
  margin: 0 auto; }

.team-slider {
  border: none;
  color: #fff; }
.team-slider .slides > li {
  height: 450px; }
.team-slider ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.team-slider .flex-control-paging {
  bottom: 50px;
  left: 45%;
  text-align: left;
  z-index: 100; }
.team-slider .flex-control-paging li:first-child {
  margin-left: 0; }
.team-slider .flex-control-paging li a {
  background: rgba(247, 245, 245, 0.4);
  box-shadow: none; }
.team-slider .flex-control-paging li a:hover, .team-slider .flex-control-paging li a.flex-active {
  background: #f7f5f5; }
.team-slider .nav-arrows a {
  height: 450px; }
.team-slider .team-slide {
  height: 450px;
  position: relative; }
.team-slider .team-slide .copy {
  position: absolute;
  left: 45%;
  bottom: 105px;
  width: 575px; }
.team-slider .team-slide .copy h4 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 43px;
  line-height: 3.0714285714rem;
  letter-spacing: 0; }
.team-slider .team-slide .copy h5 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0;
  opacity: .75; }
.team-slider .team-slide .copy p {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0; }
.team-slider .team-slide .image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 10%;
  opacity: 1;
  transition: opacity .5s; }
.team-slider .team-slide .image img.pie {
  display: none; }
.team-slider .team-slide .image img.placeholder {
  bottom: -10%;
  opacity: 0;
  transition: opacity .5s; }
.team-slider .team-slide .image img.lazy {
  opacity: 0; }
.team-slider .team-slide .image img.lazy + .placeholder {
  opacity: 1; }

.leadership {
  padding: 50px 0 0;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto; }
.leadership h2 {
  text-align: center;
  margin-bottom: 50px; }
.leadership .leader {
  height: 250px;
  width: 540px;
  border-radius: 6px;
  float: left;
  margin: 20px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  transition: box-shadow .25s; }
.leadership .leader:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); }
.leadership .leader .image {
  height: 250px;
  width: 250px;
  position: relative;
  float: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }
.leadership .leader .background {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }
.leadership .leader .overlay {
  opacity: .25;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }
.leadership .leader .copy {
  padding: 30px;
  padding-bottom: 0;
  border-bottom: 30px solid transparent;
  height: 250px;
  overflow: hidden; }
.leadership .leader .copy h4 {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 29px;
  line-height: 2.0714285714rem;
  letter-spacing: 0;
  margin: 0; }
.leadership .leader .copy h5 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 22px;
  line-height: 1.5714285714rem;
  letter-spacing: 0;
  opacity: .9; }
.leadership .leader .copy p {
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 22px;
  line-height: 1.5714285714rem;
  letter-spacing: 0;
  max-height: calc(22px * 5);
  overflow: hidden; }

.leader.modal {
  width: 100%;
  max-width: 1120px;
  height: auto;
  min-height: 400px;
  max-height: 575px;
  float: none;
  margin: 0 auto;
  padding: 0;
  text-align: left; }
.leader.modal .remodal-close {
  color: #fff; }
.leader.modal .image {
  height: 576px;
  margin-top: -1px;
  width: 45%;
  display: block;
  float: left;
  position: relative; }
.leader.modal .image .background {
  z-index: 100;
  border-radius: 10px 0 0 10px; }
.leader.modal .image .overlay {
  z-index: 101;
  border-radius: 10px 0 0 10px;
  opacity: .25; }
.leader.modal .copy {
  position: relative;
  display: block;
  float: right;
  height: 575px;
  width: 55%;
  overflow: hidden;
  padding: 41px 66px 41px 55px;
  color: #fff; }
.leader.modal .copy h4 {
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 43px;
  line-height: 3.0714285714rem;
  color: #fff; }
.leader.modal .copy h5 {
  font-size: 24px;
  font-size: 1.7142857143rem;
  color: #fff; }
.leader.modal .copy p {
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  max-height: none;
  overflow: visible; }
.leader.modal .copy p:first-child:not(:empty) {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500; }
.leader.modal .copy .content {
  max-height: 79%;
  overflow: auto;
  padding-right: 15px; }

@media only screen and (max-width: 1299px) {
  .team-slide .image img {
    left: 5%; }
  .team-slide .copy {
    width: 50%; }

  .leadership {
    width: 100%; }
  .leadership .leader {
    width: 48%;
    margin: 20px 1%; } }
@media only screen and (max-width: 991px) {
  .team-slide .image img {
    left: 5%; }
  .team-slide .copy {
    width: 50%; }

  .leadership .leader {
    width: 48%;
    margin: 20px 1%; }

  .leader.modal .image {
    height: 90vw;
    width: 100vw; }
  .leader.modal .image, .leader.modal .image .background {
    border-radius: 6px 6px 0 0; }
  .leader.modal .copy {
    border-radius: 0;
    width: 100vw;
    height: calc(100vh - 90vw);
    border-bottom: 10vmin solid transparent;
    padding: 10vmin; }
  .leader.modal .copy h4 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 24.5714285714px;
    line-height: 1.7551020408rem; }
  .leader.modal .copy h5 {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem; }
  .leader.modal .copy p {
    font-size: 13.7142857143px;
    font-size: 0.9795918367rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    max-height: none;
    overflow: visible; }
  .leader.modal .copy p:first-child:not(:empty) {
    margin-top: 1rem;
    font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
    font-weight: 500; } }
@media only screen and (max-width: 768px) {
  .team-slider .slides > li {
    height: 550px; }
  .team-slider .slides .team-slide .image img {
    width: 45%;
    left: 0; }
  .team-slider .slides .team-slide .copy {
    width: 52%;
    left: 45%; }
  .team-slider .flex-control-paging {
    left: 45%; }

  .leadership .leader {
    width: 90%;
    margin: 20px 5%; } }
@media only screen and (max-width: 640px) {
  .about h2 {
    font-size: 27.4285714286px;
    font-size: 1.9591836735rem;
    line-height: 32.5714285714px;
    line-height: 2.3265306122rem; }
  .about h3 {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }
  .about .main ul {
    padding-left: 7vw; }
  .about .main ul li:before {
    width: 10px;
    width: 0.7142857143rem;
    height: 20px;
    height: 1.4285714286rem;
    left: -5vw;
    top: 2px; }

  .team-slider .slides > li {
    height: 90vh; }
  .team-slider .slides .team-slide .image img {
    position: relative;
    max-width: 100%;
    max-height: 45vh;
    margin-top: 3%;
    width: 45vh;
    left: auto;
    margin: 2vh auto; }
  .team-slider .slides .team-slide .copy {
    width: 80%;
    left: 10%;
    top: auto;
    bottom: auto;
    top: 49vh; }
  .team-slider .slides .team-slide .copy h4 {
    font-size: 30.8571428571px;
    font-size: 2.2040816327rem;
    line-height: 25.1428571429px;
    line-height: 1.7959183673rem;
    letter-spacing: 0;
    margin-bottom: 5px; }
  .team-slider .slides .team-slide .copy h5 {
    font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 18.2857142857px;
    line-height: 1.306122449rem;
    letter-spacing: 0;
    margin-bottom: 1rem; }
  .team-slider .slides .team-slide .copy p {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 27.4285714286px;
    line-height: 1.9591836735rem;
    margin: 0 auto; }
  .team-slider .flex-control-paging {
    width: 70%;
    text-align: center;
    left: 15%;
    bottom: 3%; }
  .team-slider .nav-arrows {
    display: none; }

  .leadership {
    padding: 0; }
  .leadership .leader {
    width: 90vw;
    height: 120vw; }
  .leadership .leader .image {
    height: 90vw;
    width: 90vw; }
  .leadership .leader .image, .leadership .leader .image .background {
    border-radius: 6px 6px 0 0; }
  .leadership .leader .copy {
    height: 30vw;
    padding: 8vw 10vw;
    border-bottom: none; }
  .leadership .leader h4 {
    font-size: 30.8571428571px;
    font-size: 2.2040816327rem;
    line-height: 1.2; }
  .leadership .leader h5 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 2; }
  .leadership .leader p {
    font-size: 16px;
    font-size: 1.1428571429rem;
    display: none; } }

/*# sourceMappingURL=about.css.map */
