.grid {
  margin: 0 0 20px 0; }
.grid * {
  box-sizing: border-box; }
.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='col-'] {
  float: left;
  padding-right: 20px; }
.grid [class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.333333%; }

.col-2-3 {
  width: 66.666666%; }

.col-1-4 {
  width: 25%; }

.outer-table {
  display: table;
  width: 100%;
  height: 100%; }

.inner-table {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
    width: 100%;
    padding-right: 0; }

  .col-1-4 {
    width: 50%; } }
@media only screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
    padding-right: 0; } }
.dropdown-container {
  position: absolute;
  z-index: 999; }
.dropdown-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dropdown-container .dropdown {
  width: 300px;
  max-width: 90vw;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Light", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown.closed .dropdown-menu {
  margin-top: 0px; }
.dropdown-container .dropdown.closed .dropdown-menu li {
  height: 0px; }
.dropdown-container .dropdown.closed .title {
  border-bottom: none; }
.dropdown-container .dropdown.closed .title:after {
  margin-top: -16px;
  transform: rotate(0deg);
  transition: transform .2s; }
.dropdown-container .dropdown .title {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #5e5f61 #868789 #aeafb0 #f7f5f5;
  font-family: "BrandonGrotesque-Medium", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.8571428571rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown .title:after {
  display: block;
  content: '';
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/ico-carrot-dropdown.svg");
  background-size: 25px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: transform .2s; }
.dropdown-container .dropdown .dropdown-menu {
  position: relative;
  overflow: hidden;
  transition: all .2s;
  background: rgba(255, 255, 255, 0.9); }
.dropdown-container .dropdown ul {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
.dropdown-container .dropdown ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #5e5f61;
  font-weight: 300;
  text-align: right;
  padding: 0 15px 0 0;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  transition: margin-top 0.5s, height 0.5s;
  position: relative; }
.dropdown-container .dropdown ul li.current-cat {
  display: none; }
.dropdown-container .dropdown ul li a {
  float: left;
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  border-left: 5px solid transparent;
  position: absolute;
  left: 0;
  right: 0; }
.dropdown-container .dropdown ul li a label {
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px; }
.dropdown-container .dropdown ul li:hover {
  background-color: #f7f5f5;
  transition: background-color .2s; }
.dropdown-container .dropdown ul li:hover a {
  border-color: #ff8300;
  transition: border-color .2s; }

.filters {
  margin: 70px auto 0px;
  margin: 5rem auto 0rem; }
.filters > .grid {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }
.filters .col-1-2 {
  position: relative;
  min-height: 40px; }
.filters .col-1-2:nth-of-type(2) {
  text-align: right; }
.filters .col-1-2:nth-of-type(2) .dropdown-container {
  right: 0; }

@media only screen and (max-width: 768px) {
  .filters {
    max-width: 95%; }
  .filters .col-1-2 {
    padding: 0 1%; }

  .filters {
    max-width: 90%;
    margin: 40px auto 0px;
    margin: 2.8571428571rem auto 0rem; }
  .filters .grid {
    margin: 0; }
  .filters .col-1-2 {
    padding: 0 5%;
    width: 100%; }
  .filters .col-1-2 .dropdown-container {
    left: 50%;
    transform: translateX(-50%); }
  .filters .col-1-2 .dropdown-container .dropdown {
    max-width: 80vw;
    width: 300px;
    width: 21.4285714286rem;
    font-size: 24px;
    font-size: 1.7142857143rem;
    letter-spacing: 4px;
    letter-spacing: 0.2857142857rem; }
  .filters .col-1-2 .search-form {
    float: none;
    width: 300px;
    width: 21.4285714286rem;
    margin: 40px auto 0px;
    margin: 2.8571428571rem auto 0rem;
    max-width: 80vw; } }
footer .navigation.pagination .nav-links {
  font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 35px;
  line-height: 2.5rem;
  letter-spacing: 6px;
  letter-spacing: 0.4285714286rem; }
footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
  display: inline-block;
  line-height: 35px;
  line-height: 2.5rem;
  margin: 0px 5px;
  margin: 0rem 0.3571428571rem;
  padding: 0px 5px;
  padding: 0rem 0.3571428571rem;
  vertical-align: bottom;
  color: #837570; }
footer .navigation.pagination .nav-links span {
  color: #29b5a8; }
footer .navigation.pagination .nav-links a:hover {
  color: #ff8300; }
footer .navigation.pagination .nav-links a.next, footer .navigation.pagination .nav-links a.prev {
  width: 35px;
  width: 2.5rem;
  height: 35px;
  height: 2.5rem;
  width: 0px 15px;
  width: 0rem 1.0714285714rem;
  padding: 0; }

@media only screen and (max-width: 640px) {
  footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
    margin: 0; } }
.index {
  max-width: 1200px;
  width: 95%;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 80px; }
.index.layoutPending {
  opacity: 0;
  transition: opacity .5s; }
.index.layoutComplete, .index.layoutComplete.layoutPending {
  opacity: 1;
  transition: opacity .5s; }
.index .block {
  margin: 0 0 40px;
  float: left;
  position: relative;
  color: #5e5f61;
  border-radius: 6px; }
.index .block, .index .block-sizer {
  width: 360px;
  width: calc((1200px - 80px) / 3);
  height: auto; }
.index .gutter-sizer {
  width: 40px;
  height: 1px; }
.index.resource-index .block, .index.press-index .block {
  background: #F7F5F5 calc(100% - 20px) 20px no-repeat;
  background-size: auto 30px;
  padding: 80px 20px 20px;
  transition: box-shadow .25s; }
.index.resource-index .block:hover, .index.press-index .block:hover {
  box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.25); }
.index.resource-index .block h3, .index.press-index .block h3 {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #ff8300;
  margin-bottom: 15px; }
.index.resource-index .block p, .index.press-index .block p {
  margin: 0; }
.index + footer {
  margin: 0 auto 80px;
  display: inline-block;
  text-align: center;
  width: 100%; }

@media only screen and (max-width: 1299px) {
  .index .block, .index .block-sizer {
    width: 30%; }
  .index .gutter-sizer {
    width: 3.333333%; } }
@media only screen and (max-width: 991px) {
  .index {
    padding-top: 75px; }
  .index .block, .index .block-sizer {
    width: 47.5%; }
  .index .gutter-sizer {
    width: 5%; } }
@media only screen and (max-width: 640px) {
  .index {
    margin-top: 7vw;
    width: 100vw; }
  .index .block, .index .block-sizer {
    width: 86vw;
    height: 86vw; }
  .index .gutter-sizer {
    width: 7vw; }
  .index .block {
    margin: 0 7vw 7vw; } }
.index.blog-index {
  margin: 70px auto 0px;
  margin: 5rem auto 0rem;
  padding-bottom: 80px;
  padding-bottom: 5.7142857143rem;
  padding-top: 0; }
.index.blog-index .block {
  text-align: center;
  margin: 0 0 50px;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 550px; }
.index.blog-index .block .image {
  background: center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 240px;
  border-radius: 6px;
  transition: box-shadow .25s; }
.index.blog-index .block .image.default {
  background-image: url("../../img/blog-placeholder.jpg"); }
.index.blog-index .block h3 {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  color: #ff8300;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 25px auto 20px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis; }
.index.blog-index .block .author {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  color: #cccccc;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  margin-top: 18px; }
.index.blog-index .block .snippet {
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #5e5f61;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 120px;
  max-height: 120px; }
.index.blog-index .block:hover .image {
  box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.25); }
.index.blog-index .block:hover h3 {
  color: #29b5a8;
  transition: color .25s; }

@media only screen and (max-width: 640px) {
  .index.blog-index {
    padding-bottom: 0; }
  .index.blog-index .block, .index.blog-index .block-sizer {
    width: 90vw;
    height: auto; }
  .index.blog-index .block {
    margin: 0 5vw 20vw; }
  .index.blog-index .block .image {
    height: 60vw; }
  .index.blog-index .block h3 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 33.1428571429px;
    line-height: 2.3673469388rem;
    max-height: 132.5714285714px;
    max-height: 9.4693877551rem; }
  .index.blog-index .block .snippet {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    max-height: 91.4285714286px;
    max-height: 6.5306122449rem; }
  .index.blog-index .block .author {
    font-size: 13.7142857143px;
    font-size: 0.9795918367rem;
    line-height: 17.1428571429px;
    line-height: 1.2244897959rem; }
  .index.blog-index + footer {
    margin: 0 auto 3rem; } }

/*# sourceMappingURL=blog.css.map */
