/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover {
  outline: none; }

.slides {
  margin: 0;
  padding: 0;
  list-style: none; }
.slides > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }
.flexslider .slides img {
  width: 100%;
  display: block; }
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }
.flexslider .slides {
  zoom: 1; }
.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
.flex-direction-nav a.flex-next:before {
  content: '\f002'; }
.flex-direction-nav .flex-prev {
  left: -50px; }
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }
.flex-pauseplay a:hover {
  opacity: 1; }
.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.flex-control-thumbs img:hover {
  opacity: 1; }
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.flexslider .nav-arrows {
  position: relative;
  height: 0; }
.flexslider .nav-arrows > a {
  position: absolute;
  bottom: 0;
  width: 10%;
  z-index: 10;
  opacity: .4;
  transition: opacity .25s; }
.flexslider .nav-arrows > a:hover {
  opacity: 1; }
.flexslider .nav-arrows > a > img {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  cursor: pointer; }
.flexslider .nav-arrows > a.flex-prev > img {
  left: 37.5px; }
.flexslider .nav-arrows > a.flex-next {
  right: 0; }
.flexslider .nav-arrows > a.flex-next > img {
  right: 37.5px; }

.flexslider ul.flex-direction-nav a:before {
  content: ' ';
  display: block;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.flexslider ul.flex-direction-nav a.flex-prev {
  left: -35px;
  transition: left .2s; }
.flexslider ul.flex-direction-nav a.flex-prev:before {
  background-image: url("../../img/icons/ico-page-prev@2x.png"); }
.flexslider ul.flex-direction-nav a.flex-next {
  right: -35px;
  transition: right .2s; }
.flexslider ul.flex-direction-nav a.flex-next:before {
  background-image: url("../../img/icons/ico-page-next@2x.png"); }
.flexslider:hover ul.flex-direction-nav .flex-prev {
  left: -16.5px; }
.flexslider:hover ul.flex-direction-nav .flex-next {
  right: -16.5px; }

.slideshow {
  width: 100%;
  max-width: 1130px;
  margin: 100px auto; }
.slideshow .life-slider {
  float: left;
  max-width: 560px;
  width: 50%;
  margin: 0;
  border: none; }
.slideshow .life-slider img {
  border-radius: 10px; }
.slideshow .copy {
  height: 370px;
  max-width: 510px;
  text-align: left;
  float: left;
  width: 45%;
  margin-left: 5%; }
.slideshow .copy h2 {
  color: #ff8300;
  font-weight: 300; }
.careers-vision {
  margin-top: 70px; }
.careers-vision .copy {
  margin: 0 auto;
  width: 85%; }
.careers-vision .copy p {
  color: #ff8300;
  font-family: "AvenirNextLTPro-Medium", "AvenirNext-Medium", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.7142857143rem;
  font-weight: 500; }

.core-values {
  background-image: radial-gradient(86% 119%, #49D0E4 0%, #29B5A8 100%);
  color: #fff;
  text-align: center;
  padding: 100px 10%; }
.core-values h2 {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 60px; }
.core-values .icon {
  display: inline-block;
  width: 220px;
  padding: 0 10px 20px;
  vertical-align: top; }
.core-values .icon .image {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: center center no-repeat;
  border: 2px solid #fff;
  border-radius: 500px; }
.core-values .icon label {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  padding-top: 40px; }
.core-values .descriptions {
  margin-top: 60px; }

.careers {
  padding: 75px 130px;
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300; }
.careers h2 {
  color: #29b5a8;
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  font-size: 48px;
  font-size: 3.4285714286rem; }
.careers h4 {
  font-weight: 300; }
.careers p:first-of-type, .careers p.intro {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0; }
.careers ul {
  padding: 0 25px; }
.careers ul li {
  margin: 10px auto;
  line-height: 25px;
  line-height: 1.7857142857rem; }
.careers a:last-of-type {
  color: #ff8300;
  position: relative;
  padding: 0 21px 0 0;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0; }
.careers a:last-of-type:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 22px;
  width: 9px; }
.careers a:last-of-type:hover {
  color: #29b5a8;
  transition: color .4s; }
.careers a:last-of-type:hover:after {
  background-image: url("../../img/icons/ico-carrot-turq.svg");
  transition: background-image .4s; }
.careers .grid {
  margin-bottom: 80px; }
.careers .grid [class*='col-'] {
  padding-right: 60px; }

@media only screen and (max-width: 768px) {
  .slideshow .flex-direction-nav a {
    margin-top: -17.1428571429px;
    width: 34.2857142857px;
    height: 34.2857142857px; }
  .slideshow .flex-direction-nav a:before {
    width: 34.2857142857px;
    height: 34.2857142857px; }
  .slideshow .life-slider {
    width: 85vw;
    margin: 0 auto;
    float: none; }
  .slideshow .life-slider .flex-direction-nav .flex-prev {
    left: -17.1428571429px; }
  .slideshow .life-slider .flex-direction-nav .flex-next {
    right: -17.1428571429px; }

  .careers .grid .col-1-2:nth-of-type(2) h4 {
    display: none; } }
@media only screen and (max-width: 640px) {
  .slideshow .life-slider + .copy {
    max-width: 90vw;
    width: 90vw;
    height: auto;
    margin: 30px auto;
    margin: 2.1428571429rem auto;
    float: none; }
  .slideshow .life-slider + .copy h2 {
    margin-bottom: 10px;
    margin-bottom: 0.7142857143rem;
    font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
    font-weight: 500;
    color: #ff8300;
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 1.5;
    letter-spacing: 0; }
  .slideshow .life-slider + .copy h2 + p {
    margin-top: 0; }
  .slideshow .life-slider + .copy p {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }

  .core-values {
    padding: 3rem 10%; }
  .core-values h2 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }
  .core-values .icon {
    margin: 0 auto 3rem; }
  .core-values .icon label {
    padding-top: 1.5rem; }
  .core-values .descriptions {
    margin-top: 0; }
  .core-values .descriptions p {
    font-family: "ProximaNova-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 21.1428571429px;
    line-height: 1.5102040816rem;
    letter-spacing: 0; }

  .careers {
    padding: 10vw 5vw; }
  .careers [class*='col-'] {
    width: 100%;
    padding: 0; }
  .careers div.col-1-2:first-of-type p:first-of-type {
    font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
    font-weight: 500;
    color: #837570;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    letter-spacing: 0; }
  .careers li {
    font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: inherit;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    letter-spacing: 0; }
  .careers a:last-of-type {
    font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ff8300;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    letter-spacing: 0;
    padding-right: 22.8571428571px; }
  .careers a:last-of-type:after {
    width: 20px;
    height: 20px; } }

/*# sourceMappingURL=culture.css.map */
