.grid {
  margin: 0 0 20px 0; }
.grid * {
  box-sizing: border-box; }
.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='col-'] {
  float: left;
  padding-right: 20px; }
.grid [class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.333333%; }

.col-2-3 {
  width: 66.666666%; }

.col-1-4 {
  width: 25%; }

.outer-table {
  display: table;
  width: 100%;
  height: 100%; }

.inner-table {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
    width: 100%;
    padding-right: 0; }

  .col-1-4 {
    width: 50%; } }
@media only screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
    padding-right: 0; } }
footer .navigation.pagination .nav-links {
  font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 35px;
  line-height: 2.5rem;
  letter-spacing: 6px;
  letter-spacing: 0.4285714286rem; }
footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
  display: inline-block;
  line-height: 35px;
  line-height: 2.5rem;
  margin: 0px 5px;
  margin: 0rem 0.3571428571rem;
  padding: 0px 5px;
  padding: 0rem 0.3571428571rem;
  vertical-align: bottom;
  color: #837570; }
footer .navigation.pagination .nav-links span {
  color: #29b5a8; }
footer .navigation.pagination .nav-links a:hover {
  color: #ff8300; }
footer .navigation.pagination .nav-links a.next, footer .navigation.pagination .nav-links a.prev {
  width: 35px;
  width: 2.5rem;
  height: 35px;
  height: 2.5rem;
  width: 0px 15px;
  width: 0rem 1.0714285714rem;
  padding: 0; }

@media only screen and (max-width: 640px) {
  footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
    margin: 0; } }
section.events {
  margin: -90px auto 0;
  position: relative;
  max-width: 980px;
  width: 100%; }

.event {
  color: #fff;
  border-radius: 6px;
  background: center center no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  height: 310px;
  max-width: 450px;
  width: 50%;
  float: left;
  position: relative; }
.event.header {
  width: 100%;
  max-width: 940px;
  height: 525px; }
.event.header h4 {
  font-size: 36px;
  padding-top: 100px;
  line-height: 1.2;}
.event.header .dates {
  padding-top: 115px; }
.event .overlay {
  background: #837570;
  opacity: .75;
  border-radius: 6px; }
.event h4 {
  position: relative;
  top: 77px;
  margin: 30px auto 0;
  max-width: 90%;
  line-height: 1.2;}
.event .dates {
  position: relative;
  top: 77px; }

a.event {
  transition: box-shadow .25s; }
a.event:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 1299px) {
  section.events {
    margin: -40px auto 0;
  }
}

@media only screen and (max-width: 992px) {
  section.events {
    margin: 0px auto 0;
  }
}

@media only screen and (max-width: 480px) {
  section.events {
    margin: 20px auto 0;
  }
}

/*# sourceMappingURL=events.css.map */
