/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover {
  outline: none; }

.slides {
  margin: 0;
  padding: 0;
  list-style: none; }
.slides > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }
.flexslider .slides img {
  width: 100%;
  display: block; }
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }
.flexslider .slides {
  zoom: 1; }
.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
.flex-direction-nav a.flex-next:before {
  content: '\f002'; }
.flex-direction-nav .flex-prev {
  left: -50px; }
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }
.flex-pauseplay a:hover {
  opacity: 1; }
.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.flex-control-thumbs img:hover {
  opacity: 1; }
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  font-size: 62px;
  line-height: 50px;
  vertical-align: bottom; }
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative; }
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden; }
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
  display: block; }
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden; }
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0); }
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
  position: absolute; }
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s; }
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.flexslider .nav-arrows {
  position: relative;
  height: 0; }
.flexslider .nav-arrows > a {
  position: absolute;
  bottom: 0;
  width: 10%;
  z-index: 10;
  opacity: .4;
  transition: opacity .25s; }
.flexslider .nav-arrows > a:hover {
  opacity: 1; }
.flexslider .nav-arrows > a > img {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  cursor: pointer; }
.flexslider .nav-arrows > a.flex-prev > img {
  left: 37.5px; }
.flexslider .nav-arrows > a.flex-next {
  right: 0; }
.flexslider .nav-arrows > a.flex-next > img {
  right: 37.5px; }

.flexslider ul.flex-direction-nav a:before {
  content: ' ';
  display: block;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.flexslider ul.flex-direction-nav a.flex-prev {
  left: -35px;
  transition: left .2s; }
.flexslider ul.flex-direction-nav a.flex-prev:before {
  background-image: url("../../img/icons/ico-page-prev@2x.png"); }
.flexslider ul.flex-direction-nav a.flex-next {
  right: -35px;
  transition: right .2s; }
.flexslider ul.flex-direction-nav a.flex-next:before {
  background-image: url("../../img/icons/ico-page-next@2x.png"); }
.flexslider:hover ul.flex-direction-nav .flex-prev {
  left: -16.5px; }
.flexslider:hover ul.flex-direction-nav .flex-next {
  right: -16.5px; }

.callouts {
  width: 100%;
  max-width: 980px;
  margin: 75px auto; }
.callouts h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 36px;
  line-height: 2.5714285714rem;
  letter-spacing: 0; }
.callouts .block {
  border-radius: 6px;
  position: relative;
  background: center center no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  height: 310px;
  max-width: 450px;
  width: calc(50% - 40px);
  float: left;
  padding: 0 10px; }
.callouts .block *:not(.overlay) {
  color: #fff;
  position: relative; }
.callouts .block .overlay {
  border-radius: 6px;
  opacity: .65;
  background: #ff8300;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #ff8300, #fda14b, #eb7767);
  background: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767); }
.callouts .block label {
  top: 77px;
  top: 5.5rem;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 3.11px;
  letter-spacing: 0.2221428571rem;
  max-width: 90%;
  margin: 0 auto;
  display: block; }
.callouts .block label:after {
  width: 52px;
  width: 3.7142857143rem; }
.callouts .block h4 {
  position: relative;
  max-width: 80%;
  top: 77px;
  top: 5.5rem;
  margin: 30px auto 0px;
  margin: 2.1428571429rem auto 0rem; }
.callouts .block p {
  padding: 0 20px;
  margin: 9px auto; }
.callouts .block.header {
  width: 100%;
  max-width: 940px;
  height: 525px; }
.callouts .block.header .type {
  padding-top: 115px; }
.callouts .block.header h4 {
  font-size: 36px;
  padding-top: 100px; }
.callouts .block.wide {
  width: 100%;
  max-width: 940px;
  padding: 0;
  background-color: #eb7767; }
.callouts .block.wide.events {
  background-color: #5e5f61; }
.callouts .block.wide.resources {
  background-color: #29b5a8; }
.callouts .block.wide .copy {
  float: left;
  padding: 0 10px;
  width: calc(100% - 490px); }
.callouts .block.wide .background {
  width: 490px;
  float: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
.callouts .block.post .overlay {
  background: #eb7767 44%;
  background: -webkit-linear-gradient(bottom, #eb7767 44%, #d4432f 96%);
  background: linear-gradient(to top, #eb7767 44%, #d4432f 96%); }
.callouts .block.resources .overlay {
  background: #29b5a8 23%;
  background: -webkit-linear-gradient(bottom, #29b5a8 23%, #008B7E 88%);
  background: linear-gradient(to top, #29b5a8 23%, #008B7E 88%); }
.callouts .block.link {
  background-color: #20c1dc; }
.callouts .block.link .overlay {
  background: radial-gradient(84% -26%, #29b5a8 9%, #49d0e4 69%, #20c1dc 100%);
  background: radial-gradient(circle at top left, #20c1dc, #49d0e4, #29b5a8);
  background: #29b5a8;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #29b5a8, #47c1b6, #20c1dc);
  background: radial-gradient(circle at top left, #29b5a8, #47c1b6, #20c1dc); }
.callouts .block.video {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
.callouts .block.video .thumb, .callouts .block.video .thumb > *, .callouts .block.video .youtube-player {
  position: absolute; }
.callouts .block.video .thumb, .callouts .block.video .overlay, .callouts .block.video .image, .callouts .block.video .video-placeholder, .callouts .block.video .youtube-player, .callouts .block.video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-radius: 6px; }
.callouts .block.video .youtube-player {
  z-index: 101; }
.callouts .block.video iframe {
  z-index: 50; }
.callouts .block.video i, .callouts .block.video h4 {
  z-index: 200;
  color: #fff;
  opacity: 1;
  transition: opacity .25s; }
.callouts .block.video i {
  left: calc(50% - 30px);
  top: calc(50% - 60px);
  width: 60px; }
.callouts .block.video h4 {
  text-align: center;
  top: calc(50% + 20px);
  margin: 0 5%;
  max-width: 90%;
  width: 90%; }
.callouts .block.video .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.callouts .block.video .overlay {
  z-index: 101; }
.callouts .block.video.header .thumb i {
  width: 90px;
  left: calc(50% - 45px);
  top: calc(50% - 90px); }
.callouts .block.video.header .thumb h3 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 43px;
  line-height: 3.0714285714rem;
  letter-spacing: 0;
  top: calc(50% + 30px);
  padding: 0 10% 0;
  width: 100%;
  text-align: center;
  z-index: 1000; }
.callouts .block.video.header .thumb .overlay {
  background: linear-gradient(0deg, #FF8300 0%, #FF612A 100%);
  background: #ff8300;
  background: -webkit-linear-gradient(bottom, #ff8300, #FF612A);
  background: linear-gradient(to top, #ff8300, #FF612A); }
.callouts a.block {
  transition: box-shadow .25s; }
.callouts a.block:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); }

section.main + .callouts {
  padding: 50px 0 75px;
  margin: 0 auto;
  border-top: 1px solid #E9EAEE; }
section.main + .callouts > h2 {
  margin-bottom: 20px; }

@media only screen and (max-width: 1299px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 991px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 768px) {
  .callouts {
    margin: 0 auto; }
  .callouts h2 {
    margin-top: 40px; } }
@media only screen and (max-width: 640px) {
  .callouts h2 {
    font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5e5f61;
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 20.5714285714px;
    line-height: 1.4693877551rem;
    letter-spacing: 0; }

  section.callouts .block, section.callouts .event, section.events .block, section.events .event {
    max-width: 90vw;
    width: 90vw;
    margin: 0 5vw 5vw;
    height: auto;
    min-height: 70vw; }
  section.callouts .block h4, section.callouts .event h4, section.events .block h4, section.events .event h4 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    margin: 0 auto;
    max-width: 90%; }
  section.callouts .block label, section.callouts .event label, section.events .block label, section.events .event label {
    top: 3.5rem;
    font-size: 11px;
    font-size: 0.7857142857rem;
    letter-spacing: 2.5px;
    letter-spacing: 0.1785714286rem; }
  section.callouts .block label + h4, section.callouts .event label + h4, section.events .block label + h4, section.events .event label + h4 {
    top: 3.5rem;
    margin-top: 2rem; }
  section.callouts .block .copy label, section.callouts .event .copy label, section.events .block .copy label, section.events .event .copy label {
    padding-top: 0; }
  section.callouts .block.header, section.callouts .event.header, section.events .block.header, section.events .event.header {
    height: 90vw;
    width: 90vw; }
  section.callouts .block.header h4, section.callouts .block.header h3, section.callouts .event.header h4, section.callouts .event.header h3, section.events .block.header h4, section.events .block.header h3, section.events .event.header h4, section.events .event.header h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem;
    line-height: 27.4285714286px;
    line-height: 1.9591836735rem;
    padding: 0 2.5%; }
  section.callouts .block.header.video .thumb i, section.callouts .event.header.video .thumb i, section.events .block.header.video .thumb i, section.events .event.header.video .thumb i {
    width: 20%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); }
  section.callouts .block.header.video .thumb h3, section.callouts .event.header.video .thumb h3, section.events .block.header.video .thumb h3, section.events .event.header.video .thumb h3 {
    font-size: 25.1428571429px;
    font-size: 1.7959183673rem;
    line-height: 30.8571428571px;
    line-height: 2.2040816327rem;
    padding: 0 2.5%;
    top: 50%; }
  section.callouts .block.wide, section.callouts .event.wide, section.events .block.wide, section.events .event.wide {
    height: 115vw;
    width: 90vw; }
  section.callouts .block.wide .copy, section.callouts .block.wide .background, section.callouts .event.wide .copy, section.callouts .event.wide .background, section.events .block.wide .copy, section.events .block.wide .background, section.events .event.wide .copy, section.events .event.wide .background {
    width: 100%;
    height: 50%; }
  section.callouts .block.wide .background, section.callouts .event.wide .background, section.events .block.wide .background, section.events .event.wide .background {
    border-radius: 0 0 6px 6px; }
  section.callouts .block.wide .copy, section.callouts .event.wide .copy, section.events .block.wide .copy, section.events .event.wide .copy {
    padding-bottom: 19.4285714286px; }
  section.callouts .block.wide label, section.callouts .event.wide label, section.events .block.wide label, section.events .event.wide label {
    padding-top: 0;
    top: 2.5rem; }
  section.callouts .block.wide label + h4, section.callouts .event.wide label + h4, section.events .block.wide label + h4, section.events .event.wide label + h4 {
    top: 2.5rem; }
  section.events {
    margin-top: -40vw; }
  section.events .event {
    min-height: 61vw; }
  section.events .event.featured {
    min-height: 82.5vw; } }
.home header.top-bar:not(.special) ~ .container:first-of-type {
  margin-top: 0; }

.talking-points {
  height: 695px;
  position: relative;
  background: bottom right no-repeat;
  background-size: 500px;
  box-shadow: inset 0 90px 90px -90px rgba(0, 0, 0, 0.2);
  margin-bottom: -30px; }
.talking-points h2 {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #5e5f61;
  margin-bottom: 20px; }
.talking-points h3 {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  color: #ff8300;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0; }
.talking-points p {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0; }
.talking-points .copy {
  text-align: center;
  width: 860px;
  padding-top: 140px; }
.talking-points .points {
  margin-bottom: 50px;
  height: 278px; }
.talking-points .point {
  display: inline-block;
  width: 190px;
  padding: 0;
  margin: 0 30px;
  position: relative; }
.talking-points .point:after {
  content: '';
  width: 1px;
  height: 278px;
  background: #ccc;
  position: absolute;
  right: -30px;
  top: 0; }
.talking-points .point:last-child:after {
  display: none; }
.talking-points a:last-of-type {
  color: #29b5a8;
  position: relative;
  padding: 0 21px 0 0;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0; }
.talking-points a:last-of-type:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-turq.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 9px; }
.talking-points a:last-of-type:hover {
  color: #ff8300;
  transition: color .4s; }
.talking-points a:last-of-type:hover:after {
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  transition: background-image .25s; }

.numbers {
  position: relative;
  background: bottom center no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 100px; }
.numbers *:not(.overlay):not(.odometer):not(svg) {
  position: relative;
  color: #fff; }
.numbers .overlay {
  opacity: .85;
  background-image: radial-gradient(86% 119%, #49D0E4 0%, #29B5A8 100%); }
.numbers h2 {
  padding-top: 120px;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 48px;
  line-height: 3.4285714286rem;
  letter-spacing: 0; }
.numbers p {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 24px;
  line-height: 1.7142857143rem;
  letter-spacing: 0;
  margin: 0; }
.numbers .number {
  display: inline-block;
  height: 265px;
  width: 265px;
  border: 2px solid #fff;
  border-radius: 300px;
  margin: 60px;
  overflow: hidden; }
.numbers .number .figure {
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: #fff;
  font-size: 62px;
  font-size: 4.4285714286rem;
  line-height: 70px;
  line-height: 5rem;
  letter-spacing: 1.72px;
  letter-spacing: 0.1228571429rem;
  padding-top: 50px; }
.numbers .number .figure:after {
  content: "";
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 120px;
  margin-left: -60px;
  height: 1px; }
.numbers .number .figure > span:not(.odometer) {
  line-height: 50px;
  vertical-align: middle; }
.numbers .number label {
  font-family: "BrandonGrotesque-Regular", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  font-size: 1.2857142857rem;
  line-height: 26px;
  line-height: 1.8571428571rem;
  letter-spacing: 3px;
  letter-spacing: 0.2142857143rem;
  display: inline-block;
  width: 150px;
  padding-top: 40px;
  text-align: center; }

.dynamic {
  height: 700px;
  position: relative;
  box-shadow: inset 0 90px 90px -90px rgba(0, 0, 0, 0.2); }
.dynamic .image {
  background: bottom center no-repeat;
  background-size: auto 500px;
  height: 630px;
  width: 100%;
  max-width: 470px;
  position: absolute;
  bottom: 0;
  left: 100px; }
.dynamic .copy {
  position: absolute;
  max-width: 540px;
  width: 45%;
  left: 50%;
  bottom: 150px; }
.dynamic .woah {
  position: absolute;
  top: 90px;
  left: 50px;
  z-index: 101; }
.dynamic .woah .static {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  top: -5%;
  left: 10%;
  transform: rotate(-5deg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat; }
.dynamic h2, .dynamic h3 {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  color: #29b5a8;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: inherit;
  letter-spacing: 0; }
.dynamic a {
  color: #ff8300;
  font-size: 18px;
  font-size: 1.2857142857rem; }
.dynamic a:last-of-type {
  color: #ff8300;
  position: relative;
  padding: 0 21px 0 0;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0; }
.dynamic a:last-of-type:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 9px; }
.dynamic a:last-of-type:hover {
  color: #29b5a8;
  transition: color .25s; }
.dynamic a:last-of-type:hover:after {
  background-image: url("../../img/icons/ico-carrot-turq.svg");
  transition: background-image .25s; }

@media only screen and (max-width: 1140px) {
  .talking-points {
    background-image: none !important;
    height: auto; }
  .talking-points .copy {
    max-width: 100vw;
    width: 100vw;
    padding-left: 0;
    padding: 73px 0;
    padding: 73px 0px;
    padding: 5.2142857143rem 0rem;
    margin: 0 auto; }
  .talking-points .copy h2 {
    text-align: center; }
  .talking-points .points {
    height: 250px; }
  .talking-points .point {
    width: 25vw;
    margin: 0 2.5vw 5vw; } }
@media only screen and (max-width: 1299px) {
  .dynamic .image {
    left: 50px; }
  .dynamic .woah {
    left: 0; }
  .dynamic .copy {
    width: 40%;
    left: 55%; } }
@media only screen and (max-width: 991px) {
  header.hero h2 {
    padding-top: 150px;
    line-height: 46px;
    width: 80%;
    margin: 0 auto; }

  section.dynamic .image {
    left: 50px; }
  section.dynamic .copy {
    width: 40%;
    left: 55%; } }
@media only screen and (max-width: 768px) {
  section.main {
    padding: 85px 60px;
    padding: 6.0714285714rem 4.2857142857rem; }
  section.hero {
    height: 70vh; }
  section.hero h1 {
    top: 60%;
    transform: translateY(-75%);
    left: 10%;
    width: 80%; }
  section.hero .feature {
    display: none; }
  section.talking-points .copy {
    width: 100%; }
  section.talking-points .points {
    display: inline-block;
    margin: 30px auto 0px;
    margin: 2.1428571429rem auto 0rem; }
  section.talking-points .point {
    padding: 0;
    float: left;
    border: none;
    position: relative; }
  section.talking-points .point:after {
    content: '';
    position: absolute;
    top: 0px;
    top: 0rem;
    right: -25px;
    right: -1.7857142857rem;
    height: 250px;
    height: 17.8571428571rem;
    width: 1px;
    display: block;
    background: #ccc; }
  section.talking-points .point:first-child {
    margin-left: 0; }
  section.talking-points .point:last-child:after {
    display: none; }
  section.talking-points .point img {
    max-height: 70px;
    width: auto; }
  section.talking-points .point h3 {
    font-size: 20px;
    font-size: 1.4285714286rem;
    line-height: 27px;
    line-height: 1.9285714286rem; }
  section.talking-points .point p {
    font-size: 15px;
    font-size: 1.0714285714rem;
    line-height: 27px;
    line-height: 1.9285714286rem; }
  section.talking-points .point > h3:first-child, section.talking-points .point > p:first-child {
    font-size: 1rem;
    line-height: 1; }
  section.talking-points .copy h2 {
    font-size: 30px;
    font-size: 2.1428571429rem;
    line-height: 41px;
    line-height: 2.9285714286rem;
    text-align: center; }
  section.numbers {
    height: 539px; }
  section.numbers h2 {
    padding-top: 67px; }
  section.numbers p {
    margin-bottom: 51px; }
  section.numbers .number {
    width: 210px;
    height: 210px;
    margin: 0 15px; }
  section.numbers .number .figure {
    padding-top: 58px;
    font-size: 48px;
    font-size: 3.4285714286rem;
    line-height: 57px;
    line-height: 4.0714285714rem;
    letter-spacing: 1.33px;
    letter-spacing: 0.095rem; }
  section.numbers .number .figure:after {
    bottom: -5px;
    width: 98px;
    margin-left: -49px; }
  section.numbers .number label {
    font-size: 16px;
    font-size: 1.1428571429rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    padding-top: 26px; }
  section.dynamic {
    height: 479px; }
  section.dynamic .image {
    height: 350px;
    background-size: contain;
    left: -30px; }
  section.dynamic .woah {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 40px; }
  section.dynamic .woah .static {
    left: -5%;
    top: -7%; }
  section.dynamic .woah .inner li {
    width: 40px; }
  section.dynamic .woah .inner li img {
    opacity: 1; }
  section.dynamic .copy {
    width: 48%;
    bottom: 35px;
    left: 50%; }
  section.dynamic .copy h3 {
    font-size: 30px;
    line-height: 36px; } }
@media only screen and (max-width: 640px) {
  section.main {
    padding: 48.5714285714px 20px;
    padding: 3.4693877551rem 1.4285714286rem; }
  section.main + .callouts > h2 {
    margin-bottom: 22.8571428571px;
    margin-bottom: 1.6326530612rem;
    margin-top: 0; }
  section.talking-points {
    height: auto;
    padding-bottom: 47.4285714286px;
    padding-bottom: 3.387755102rem; }
  section.talking-points .copy {
    width: 95%;
    margin: 0 auto;
    padding-top: 129px;
    padding-top: 73.7142857143px;
    padding-top: 5.2653061224rem;
    padding-left: 0; }
  section.talking-points .copy h2 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 38.8571428571px;
    line-height: 2.7755102041rem;
    margin-bottom: 37.7142857143px;
    margin-bottom: 2.693877551rem; }
  section.talking-points .copy a:last-of-type {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 17.1428571429px;
    line-height: 1.2244897959rem;
    padding-right: 20px;
    padding-right: 1.4285714286rem; }
  section.talking-points .copy a:last-of-type:after {
    width: 8.5714285714px;
    width: 0.612244898rem;
    height: 15.4285714286px;
    height: 1.1020408163rem; }
  section.talking-points .points {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto; }
  section.talking-points .point {
    width: 100%;
    padding: 0 10%;
    padding-bottom: 27.4285714286px;
    padding-bottom: 1.9591836735rem;
    margin: 0px auto 51.4285714286px;
    margin: 0rem auto 3.6734693878rem; }
  section.talking-points .point:after {
    width: 100%;
    height: 1px;
    bottom: 0;
    top: auto;
    right: 0; }
  section.talking-points .point img {
    max-height: 186px;
    max-width: 310px;
    width: auto;
    height: auto;
    margin-bottom: 28.5714285714px;
    margin-bottom: 2.0408163265rem; }
  section.talking-points .point h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem; }
  section.talking-points .point p {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    margin-top: 11.4285714286px;
    margin-top: 0.8163265306rem; }
  section.numbers {
    height: auto;
    padding: 60px 45px 66px;
    padding: 4.2857142857rem 3.2142857143rem 4.7142857143rem; }
  section.numbers h2 {
    padding-top: 0;
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }
  section.numbers p {
    margin: 29.1428571429px 0px;
    margin: 2.0816326531rem 0rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }
  section.numbers .number {
    margin: 0 auto 50px;
    margin: 0px auto 29.1428571429px;
    margin: 0rem auto 2.0816326531rem;
    display: block; }
  section.numbers .number .figure {
    padding-top: 32.5714285714px;
    padding-top: 2.3265306122rem;
    padding-top: 57px;
    padding-top: 4.0714285714rem;
    font-size: 35.4285714286px;
    font-size: 2.5306122449rem;
    line-height: 42.2857142857px;
    line-height: 3.0204081633rem;
    letter-spacing: 0.9828571429px;
    letter-spacing: 0.0702040816rem; }
  section.numbers .number .figure:after {
    bottom: -15px;
    width: 124px;
    margin-left: -62px;
    margin-left: -35.4285714286px;
    margin-left: -2.5306122449rem;
    width: 70.8571428571px;
    width: 5.0612244898rem;
    bottom: -8.5714285714px;
    bottom: -0.612244898rem; }
  section.numbers .number label {
    padding-top: 22.8571428571px;
    padding-top: 1.6326530612rem;
    font-size: 18px;
    font-size: 1.2857142857rem;
    line-height: 21px;
    line-height: 1.5rem; }
  section.dynamic {
    background-image: linear-gradient(0deg, rgba(247, 245, 245, 0) 0%, #F7F5F5 100%);
    height: auto;
    width: 100%;
    padding-top: 87px;
    padding-top: 49.7142857143px;
    padding-top: 3.5510204082rem; }
  section.dynamic .image {
    width: 80%;
    left: 20%;
    position: relative;
    margin-top: 114.2857142857px;
    margin-top: 8.1632653061rem;
    height: 393.1428571429px;
    height: 28.0816326531rem; }
  section.dynamic .woah {
    height: 65vmin;
    width: 85vmin;
    left: 8%;
    bottom: 23%;
    top: auto;
    overflow: hidden; }
  section.dynamic .woah .inner {
    width: 95%;
    height: 99%;
    transform: rotate(195deg) translate(40%, -5%); }
  section.dynamic .woah .inner li {
    width: 34.2857142857px; }
  section.dynamic .woah {
    width: 100%;
    height: 55vmin;
    left: 0; }
  section.dynamic .woah .static {
    left: -2%;
    top: auto; }
  section.dynamic .copy {
    position: relative;
    width: 90%;
    left: 0;
    margin: 0 auto;
    top: 0;
    bottom: auto; }
  section.dynamic .copy h3 {
    font-size: 50px;
    line-height: 60px;
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }
  section.dynamic .copy p {
    font-size: 30px;
    line-height: 40px;
    margin: 70px 0;
    margin: 40px 0px;
    margin: 2.8571428571rem 0rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }
  section.dynamic .copy p:last-of-type {
    text-align: center; }
  section.dynamic .copy a:last-of-type {
    font-size: 30px;
    line-height: 30px;
    padding-right: 35px;
    padding-right: 20px;
    padding-right: 1.4285714286rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 17.1428571429px;
    line-height: 1.2244897959rem; }
  section.dynamic .copy a:last-of-type:after {
    width: 8.5714285714px;
    width: 0.612244898rem;
    height: 15.4285714286px;
    height: 1.1020408163rem; } }
@media only screen and (max-width: 520px) {
  section.dynamic .woah {
    height: 60vmin;
    width: 85vmin;
    left: 8%;
    bottom: 25%;
    width: 100%;
    height: 75vmin;
    left: 0; }
  section.dynamic .woah .static {
    left: 0;
    top: 5%; } }
@media only screen and (max-width: 420px) {
  section.dynamic .image {
    width: 100%;
    height: 228.5714285714px;
    height: 16.3265306122rem;
    left: 17.1428571429px;
    left: 1.2244897959rem;
    margin-top: 85.7142857143px;
    margin-top: 6.1224489796rem;
    position: relative; }
  section.dynamic .woah {
    height: 85vmin;
    width: 95%;
    left: 0px;
    bottom: 100px;
    bottom: 7.1428571429rem;
    height: 214.2857142857px;
    height: 15.306122449rem;
    top: auto;
    width: 100%;
    height: 55vmin;
    left: 0;
    bottom: auto; }
  section.dynamic .woah .static {
    left: -2%;
    top: auto; } }
section.dynamic .image.static {
  background-size: contain; }
@media only screen and (max-width: 991px) {
  section.dynamic .image.static {
    max-width: 50vw;
    left: 0; } }
@media only screen and (max-width: 768px) {
  section.dynamic .image.static {
    height: 90%;
    left: 0; } }
@media only screen and (max-width: 640px) {
  section.dynamic .image.static {
    height: 90vmin;
    width: 100%;
    max-width: 100%;
    left: 0;
    margin-top: 0; } }
.qa-slide .question .ti-container{
  opacity: 0;
  transition: 4s linear 0s;
}
.flex-active-slide .question .ti-container{
  opacity: 1;
}
/*# sourceMappingURL=home.css.map */

