/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Mobile Stylesheet for Home

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
@media only screen and (max-width: 640px) {
  section.main {
    padding: 48.5714285714px 20px;
    padding: 3.4693877551rem 1.4285714286rem; }
  section.main + .callouts > h2 {
    margin-bottom: 22.8571428571px;
    margin-bottom: 1.6326530612rem;
    margin-top: 0; }
  section.talking-points {
    height: auto;
    padding-bottom: 47.4285714286px;
    padding-bottom: 3.387755102rem; }
  section.talking-points .copy {
    width: 95%;
    margin: 0 auto;
    padding-top: 129px;
    padding-top: 73.7142857143px;
    padding-top: 5.2653061224rem;
    padding-left: 0; }
  section.talking-points .copy h2 {
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 38.8571428571px;
    line-height: 2.7755102041rem;
    margin-bottom: 37.7142857143px;
    margin-bottom: 2.693877551rem; }
  section.talking-points .copy a:last-of-type {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 17.1428571429px;
    line-height: 1.2244897959rem;
    padding-right: 20px;
    padding-right: 1.4285714286rem; }
  section.talking-points .copy a:last-of-type:after {
    width: 8.5714285714px;
    width: 0.612244898rem;
    height: 15.4285714286px;
    height: 1.1020408163rem; }
  section.talking-points .points {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto; }
  section.talking-points .point {
    width: 100%;
    padding: 0 10%;
    padding-bottom: 27.4285714286px;
    padding-bottom: 1.9591836735rem;
    margin: 0px auto 51.4285714286px;
    margin: 0rem auto 3.6734693878rem; }
  section.talking-points .point:after {
    width: 100%;
    height: 1px;
    bottom: 0;
    top: auto;
    right: 0; }
  section.talking-points .point img {
    max-height: 186px;
    max-width: 310px;
    width: auto;
    height: auto;
    margin-bottom: 28.5714285714px;
    margin-bottom: 2.0408163265rem; }
  section.talking-points .point h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem; }
  section.talking-points .point p {
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    margin-top: 11.4285714286px;
    margin-top: 0.8163265306rem; }
  section.numbers {
    height: auto;
    padding: 60px 45px 66px;
    padding: 4.2857142857rem 3.2142857143rem 4.7142857143rem; }
  section.numbers h2 {
    padding-top: 0;
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }
  section.numbers p {
    margin: 29.1428571429px 0px;
    margin: 2.0816326531rem 0rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }
  section.numbers .number {
    margin: 0 auto 50px;
    margin: 0px auto 29.1428571429px;
    margin: 0rem auto 2.0816326531rem;
    display: block; }
  section.numbers .number .figure {
    padding-top: 32.5714285714px;
    padding-top: 2.3265306122rem;
    padding-top: 57px;
    padding-top: 4.0714285714rem;
    font-size: 35.4285714286px;
    font-size: 2.5306122449rem;
    line-height: 42.2857142857px;
    line-height: 3.0204081633rem;
    letter-spacing: 0.9828571429px;
    letter-spacing: 0.0702040816rem; }
  section.numbers .number .figure:after {
    bottom: -15px;
    width: 124px;
    margin-left: -62px;
    margin-left: -35.4285714286px;
    margin-left: -2.5306122449rem;
    width: 70.8571428571px;
    width: 5.0612244898rem;
    bottom: -8.5714285714px;
    bottom: -0.612244898rem; }
  section.numbers .number label {
    padding-top: 22.8571428571px;
    padding-top: 1.6326530612rem;
    font-size: 18px;
    font-size: 1.2857142857rem;
    line-height: 21px;
    line-height: 1.5rem; }
  section.dynamic {
    background-image: linear-gradient(0deg, rgba(247, 245, 245, 0) 0%, #F7F5F5 100%);
    height: auto;
    width: 100%;
    padding-top: 87px;
    padding-top: 49.7142857143px;
    padding-top: 3.5510204082rem; }
  section.dynamic .image {
    width: 80%;
    left: 20%;
    position: relative;
    margin-top: 114.2857142857px;
    margin-top: 8.1632653061rem;
    height: 393.1428571429px;
    height: 28.0816326531rem; }
  section.dynamic .woah {
    height: 65vmin;
    width: 85vmin;
    left: 8%;
    bottom: 23%;
    top: auto;
    overflow: hidden; }
  section.dynamic .woah .inner {
    width: 95%;
    height: 99%;
    transform: rotate(195deg) translate(40%, -5%); }
  section.dynamic .woah .inner li {
    width: 34.2857142857px; }
  section.dynamic .copy {
    position: relative;
    width: 90%;
    left: 0;
    margin: 0 auto;
    top: 0;
    bottom: auto; }
  section.dynamic .copy h3 {
    font-size: 50px;
    line-height: 60px;
    font-size: 28.5714285714px;
    font-size: 2.0408163265rem;
    line-height: 34.2857142857px;
    line-height: 2.4489795918rem; }
  section.dynamic .copy p {
    font-size: 30px;
    line-height: 40px;
    margin: 70px 0;
    margin: 40px 0px;
    margin: 2.8571428571rem 0rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem; }
  section.dynamic .copy p:last-of-type {
    text-align: center; }
  section.dynamic .copy a:last-of-type {
    font-size: 30px;
    line-height: 30px;
    padding-right: 35px;
    padding-right: 20px;
    padding-right: 1.4285714286rem;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 17.1428571429px;
    line-height: 1.2244897959rem; }
  section.dynamic .copy a:last-of-type:after {
    width: 8.5714285714px;
    width: 0.612244898rem;
    height: 15.4285714286px;
    height: 1.1020408163rem; }

  body.dIE section.dynamic .woah {
    width: 100%;
    height: 55vmin;
    left: 0; }
  body.dIE section.dynamic .woah .static {
    left: -2%;
    top: auto; } }
@media only screen and (max-width: 520px) {
  section.dynamic .woah {
    height: 60vmin;
    width: 85vmin;
    left: 8%;
    bottom: 25%; }

  body.dIE section.dynamic .woah {
    width: 100%;
    height: 75vmin;
    left: 0; }
  body.dIE section.dynamic .woah .static {
    left: 0;
    top: 5%; } }
@media only screen and (max-width: 420px) {
  section.dynamic .image {
    width: 100%;
    height: 228.5714285714px;
    height: 16.3265306122rem;
    left: 17.1428571429px;
    left: 1.2244897959rem;
    margin-top: 85.7142857143px;
    margin-top: 6.1224489796rem;
    position: relative; }
  section.dynamic .woah {
    height: 85vmin;
    width: 95%;
    left: 0px;
    bottom: 100px;
    bottom: 7.1428571429rem;
    height: 214.2857142857px;
    height: 15.306122449rem;
    top: auto; }
  section.dynamic .woah .inner li {
    width: 28.5714285714px; }

  body.dIE section.dynamic .woah {
    width: 100%;
    height: 55vmin;
    left: 0;
    bottom: auto; }
  body.dIE section.dynamic .woah .static {
    left: -2%;
    top: auto; } }

/*# sourceMappingURL=home_tiny.css.map */
