/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Mobile to Tablet Stylesheet for Home

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
@media only screen and (max-width: 768px) {
  section.main {
    padding: 85px 60px;
    padding: 6.0714285714rem 4.2857142857rem; }
  section.hero {
    height: 70vh; }
  section.hero h1 {
    top: 60%;
    transform: translateY(-75%);
    left: 10%;
    width: 80%; }
  section.hero .feature {
    display: none; }
  section.talking-points .copy {
    width: 100%; }
  section.talking-points .points {
    display: inline-block;
    margin: 30px auto 0px;
    margin: 2.1428571429rem auto 0rem; }
  section.talking-points .point {
    padding: 0;
    float: left;
    border: none;
    position: relative; }
  section.talking-points .point:after {
    content: '';
    position: absolute;
    top: 0px;
    top: 0rem;
    right: -25px;
    right: -1.7857142857rem;
    height: 250px;
    height: 17.8571428571rem;
    width: 1px;
    display: block;
    background: #ccc; }
  section.talking-points .point:first-child {
    margin-left: 0; }
  section.talking-points .point:last-child:after {
    display: none; }
  section.talking-points .point img {
    max-height: 70px;
    width: auto; }
  section.talking-points .point h3 {
    font-size: 20px;
    font-size: 1.4285714286rem;
    line-height: 27px;
    line-height: 1.9285714286rem; }
  section.talking-points .point p {
    font-size: 15px;
    font-size: 1.0714285714rem;
    line-height: 27px;
    line-height: 1.9285714286rem; }
  section.talking-points .point > h3:first-child, section.talking-points .point > p:first-child {
    font-size: 1rem;
    line-height: 1; }
  section.talking-points .copy h2 {
    font-size: 30px;
    font-size: 2.1428571429rem;
    line-height: 41px;
    line-height: 2.9285714286rem;
    text-align: center; }
  section.numbers {
    height: 539px; }
  section.numbers h2 {
    padding-top: 67px; }
  section.numbers p {
    margin-bottom: 51px; }
  section.numbers .number {
    width: 210px;
    height: 210px;
    margin: 0 15px; }
  section.numbers .number .figure {
    padding-top: 58px;
    font-size: 48px;
    font-size: 3.4285714286rem;
    line-height: 57px;
    line-height: 4.0714285714rem;
    letter-spacing: 1.33px;
    letter-spacing: 0.095rem; }
  section.numbers .number .figure:after {
    bottom: -5px;
    width: 98px;
    margin-left: -49px; }
  section.numbers .number label {
    font-size: 16px;
    font-size: 1.1428571429rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    padding-top: 26px; }
  section.dynamic {
    height: 479px; }
  section.dynamic .image {
    height: 350px;
    background-size: contain;
    left: -30px; }
  section.dynamic .woah {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 40px; }
  section.dynamic .woah .static {
    left: -5%;
    top: -7%; }
  section.dynamic .woah .inner li {
    width: 40px; }
  section.dynamic .woah .inner li img {
    opacity: 1; }
  section.dynamic .copy {
    width: 48%;
    bottom: 35px;
    left: 50%; }
  section.dynamic .copy h3 {
    font-size: 30px;
    line-height: 36px; } }

/*# sourceMappingURL=home_small.css.map */
