.grid {
  margin: 0 0 20px 0; }
.grid * {
  box-sizing: border-box; }
.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='col-'] {
  float: left;
  padding-right: 20px; }
.grid [class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.333333%; }

.col-2-3 {
  width: 66.666666%; }

.col-1-4 {
  width: 25%; }

.outer-table {
  display: table;
  width: 100%;
  height: 100%; }

.inner-table {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
    width: 100%;
    padding-right: 0; }

  .col-1-4 {
    width: 50%; } }
@media only screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
    padding-right: 0; } }
.index {
  max-width: 1200px;
  width: 95%;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 80px; }
.index.layoutPending {
  opacity: 0;
  transition: opacity .5s; }
.index.layoutComplete, .index.layoutComplete.layoutPending {
  opacity: 1;
  transition: opacity .5s; }
.index .block {
  margin: 0 0 40px;
  float: left;
  position: relative;
  color: #5e5f61;
  border-radius: 6px; }
.index .block, .index .block-sizer {
  width: 360px;
  width: calc((1200px - 80px) / 3);
  height: auto; }
.index .gutter-sizer {
  width: 40px;
  height: 1px; }
.index.resource-index .block, .index.press-index .block {
  background: #F7F5F5 calc(100% - 20px) 20px no-repeat;
  background-size: auto 30px;
  padding: 80px 20px 20px;
  transition: box-shadow .25s; }
.index.resource-index .block:hover, .index.press-index .block:hover {
  box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.25); }
.index.resource-index .block h3, .index.press-index .block h3 {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #ff8300;
  margin-bottom: 15px; }
.index.resource-index .block p, .index.press-index .block p {
  margin: 0; }
.index + footer {
  margin: 0 auto 80px;
  display: inline-block;
  text-align: center;
  width: 100%; }

@media only screen and (max-width: 1299px) {
  .index .block, .index .block-sizer {
    width: 30%; }
  .index .gutter-sizer {
    width: 3.333333%; } }
@media only screen and (max-width: 991px) {
  .index {
    padding-top: 75px; }
  .index .block, .index .block-sizer {
    width: 47.5%; }
  .index .gutter-sizer {
    width: 5%; } }
@media only screen and (max-width: 640px) {
  .index {
    margin-top: 7vw;
    width: 100vw; }
  .index .block, .index .block-sizer {
    width: 86vw;
    height: 86vw; }
  .index .gutter-sizer {
    width: 7vw; }
  .index .block {
    margin: 0 7vw 7vw; } }
footer .navigation.pagination .nav-links {
  font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 35px;
  line-height: 2.5rem;
  letter-spacing: 6px;
  letter-spacing: 0.4285714286rem; }
footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
  display: inline-block;
  line-height: 35px;
  line-height: 2.5rem;
  margin: 0px 5px;
  margin: 0rem 0.3571428571rem;
  padding: 0px 5px;
  padding: 0rem 0.3571428571rem;
  vertical-align: bottom;
  color: #837570; }
footer .navigation.pagination .nav-links span {
  color: #29b5a8; }
footer .navigation.pagination .nav-links a:hover {
  color: #ff8300; }
footer .navigation.pagination .nav-links a.next, footer .navigation.pagination .nav-links a.prev {
  width: 35px;
  width: 2.5rem;
  height: 35px;
  height: 2.5rem;
  width: 0px 15px;
  width: 0rem 1.0714285714rem;
  padding: 0; }

@media only screen and (max-width: 640px) {
  footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
    margin: 0; } }
.index.press-index .block {
  padding-top: 20px;
  padding-bottom: 60px;
  height: 350px; }
.index.press-index .block h3 {
  font-size: 24px;
  color: #837570;
  font-weight: 500;
  max-height: calc(4 * 31px);
  overflow: hidden;
  margin: 0; }
.index.press-index .block .date {
  font-size: 13px;
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  color: #aeafb0;
  margin: 10px 0;
  line-height: 24px;
  margin: 8px 0; }
.index.press-index .block .snippet {
  max-height: calc(4 * 26px);
  overflow: hidden;
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #5e5f61;
  line-height: 26px; }
.index.press-index .block .link {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: #ff8300;
  font-size: 14px;
  padding: 0 21px 0 0;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px; }
.index.press-index .block .link:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 9px; }
.index.press-index .block.external {
  background-image: url("../../img/icons/ico-expand-orange.svg");
  background-size: 19px 19px;
  background-position: 95% 4%;
  background-repeat: no-repeat; }
.index.press-index .block.external h3 {
  max-width: 90%; }

.press-contact {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px; }
.press-contact h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #29b5a8; }
.press-contact p {
  margin: 10px auto; }
.press-contact a {
  margin-top: 0; }
.press-contact a:hover {
  color: #29b5a8; }
.press-contact .grid [class*='col-']:only-of-type {
  float: none;
  display: block;
  margin: 0 auto; }

@media only screen and (max-width: 640px) {
  .press-index .block, .press-index .block-sizer {
    height: auto;
    width: 90vw; }
  .press-index .block {
    padding: 35px 30px 90px; }
  .press-index .block h3 {
    font-size: 48px;
    line-height: 58px;
    max-height: calc(4 * 58px); }
  .press-index .block .date {
    font-size: 24px;
    line-height: 32px;
    margin: 15px 0; }
  .press-index .block .snippet {
    font-size: 30px;
    line-height: 42px;
    max-height: calc(4 * 42px); }
  .press-index .block .link {
    font-size: 24px;
    line-height: 28px;
    bottom: 30px;
    right: 30px;
    padding-right: 30px; }
  .press-index .block .link:after {
    width: 18px;
    height: 27px; } }

/*# sourceMappingURL=press.css.map */
