.index {
  max-width: 1200px;
  width: 95%;
  padding-top: 100px;
  margin: 0 auto;
  padding-bottom: 80px; }
.index.layoutPending {
  opacity: 0;
  transition: opacity .5s; }
.index.layoutComplete, .index.layoutComplete.layoutPending {
  opacity: 1;
  transition: opacity .5s; }
.index .block {
  margin: 0 0 40px;
  float: left;
  position: relative;
  color: #5e5f61;
  border-radius: 6px; }
.index .block, .index .block-sizer {
  width: 360px;
  width: calc((1200px - 80px) / 3);
  height: auto; }
.index .gutter-sizer {
  width: 40px;
  height: 1px; }
.index.resource-index .block, .index.press-index .block {
  background: #F7F5F5 calc(100% - 20px) 20px no-repeat;
  background-size: auto 30px;
  padding: 80px 20px 20px;
  transition: box-shadow .25s; }
.index.resource-index .block:hover, .index.press-index .block:hover {
  box-shadow: 0px 7px 32px 0px rgba(0, 0, 0, 0.25); }
.index.resource-index .block h3, .index.press-index .block h3 {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #ff8300;
  margin-bottom: 15px; }
.index.resource-index .block p, .index.press-index .block p {
  margin: 0; }
.index + footer {
  margin: 0 auto 80px;
  display: inline-block;
  text-align: center;
  width: 100%; }

@media only screen and (max-width: 1299px) {
  .index .block, .index .block-sizer {
    width: 30%; }
  .index .gutter-sizer {
    width: 3.333333%; } }
@media only screen and (max-width: 991px) {
  .index {
    padding-top: 75px; }
  .index .block, .index .block-sizer {
    width: 47.5%; }
  .index .gutter-sizer {
    width: 5%; } }
@media only screen and (max-width: 640px) {
  .index {
    margin-top: 7vw;
    width: 100vw; }
  .index .block, .index .block-sizer {
    width: 86vw;
    height: 86vw; }
  .index .gutter-sizer {
    width: 7vw; }
  .index .block {
    margin: 0 7vw 7vw; } }
.dropdown-container {
  position: absolute;
  z-index: 999; }
.dropdown-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dropdown-container .dropdown {
  width: 300px;
  max-width: 90vw;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Light", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown.closed .dropdown-menu {
  margin-top: 0px; }
.dropdown-container .dropdown.closed .dropdown-menu li {
  height: 0px; }
.dropdown-container .dropdown.closed .title {
  border-bottom: none; }
.dropdown-container .dropdown.closed .title:after {
  margin-top: -16px;
  transform: rotate(0deg);
  transition: transform .2s; }
.dropdown-container .dropdown .title {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #5e5f61 #868789 #aeafb0 #f7f5f5;
  font-family: "BrandonGrotesque-Medium", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.8571428571rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown .title:after {
  display: block;
  content: '';
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/ico-carrot-dropdown.svg");
  background-size: 25px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: transform .2s; }
.dropdown-container .dropdown .dropdown-menu {
  position: relative;
  overflow: hidden;
  transition: all .2s;
  background: rgba(255, 255, 255, 0.9); }
.dropdown-container .dropdown ul {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
.dropdown-container .dropdown ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #5e5f61;
  font-weight: 300;
  text-align: right;
  padding: 0 15px 0 0;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  transition: margin-top 0.5s, height 0.5s;
  position: relative; }
.dropdown-container .dropdown ul li.current-cat {
  display: none; }
.dropdown-container .dropdown ul li a {
  float: left;
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  border-left: 5px solid transparent;
  position: absolute;
  left: 0;
  right: 0; }
.dropdown-container .dropdown ul li a label {
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px; }
.dropdown-container .dropdown ul li:hover {
  background-color: #f7f5f5;
  transition: background-color .2s; }
.dropdown-container .dropdown ul li:hover a {
  border-color: #ff8300;
  transition: border-color .2s; }

footer .navigation.pagination .nav-links {
  font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1428571429rem;
  line-height: 35px;
  line-height: 2.5rem;
  letter-spacing: 6px;
  letter-spacing: 0.4285714286rem; }
footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
  display: inline-block;
  line-height: 35px;
  line-height: 2.5rem;
  margin: 0px 5px;
  margin: 0rem 0.3571428571rem;
  padding: 0px 5px;
  padding: 0rem 0.3571428571rem;
  vertical-align: bottom;
  color: #837570; }
footer .navigation.pagination .nav-links span {
  color: #29b5a8; }
footer .navigation.pagination .nav-links a:hover {
  color: #ff8300; }
footer .navigation.pagination .nav-links a.next, footer .navigation.pagination .nav-links a.prev {
  width: 35px;
  width: 2.5rem;
  height: 35px;
  height: 2.5rem;
  width: 0px 15px;
  width: 0rem 1.0714285714rem;
  padding: 0; }

@media only screen and (max-width: 640px) {
  footer .navigation.pagination .nav-links a, footer .navigation.pagination .nav-links span {
    margin: 0; } }
input[type=text], input[type=email] {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  border: 1px solid #E9EAEE;
  border-radius: 4px;
  text-indent: 15px;
  width: 100%; }

.entry-content .mktoForm {
  margin-bottom: -40px; }

.mktoForm {
  max-width: 460px; }
.mktoForm .mktoFormCol, .mktoForm .mktoFieldWrap, .mktoForm .mktoButtonRow, .mktoForm .mktoButtonWrap {
  float: none;
  width: 100%; }
.mktoForm .mktoGutter {
  display: none; }
.mktoForm, .mktoForm input.mktoField, .mktoForm textarea.mktoField, .mktoForm select.mktoField, .mktoForm button {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  width: 100% !important;
  float: none;
  max-width: 460px; }
.mktoForm label.mktoLabel {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  float: none;
  line-height: 21px;
  font-weight: 400 !important;
  color: #837570;
  margin: 0 auto 16px;
  font-family: "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  /* SITE: */
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; }
.mktoForm .mktoRequiredField .mktoAsterix {
  color: transparent;
  float: none;
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 5px !important; }
.mktoForm .mktoRequiredField .mktoAsterix:before {
  content: '(REQUIRED)';
  font-size: 10px;
  color: #bf0000;
  color: #aeafb0;
  vertical-align: -webkit-baseline-middle; }
.mktoForm input.mktoField[type=text], .mktoForm input.mktoField[type=url], .mktoForm input.mktoField[type=email], .mktoForm input.mktoField[type=tel], .mktoForm input.mktoField[type=number], .mktoForm input.mktoField[type=date] {
  box-shadow: none;
  border: 1px solid #E9EAEE;
  border-radius: 4px;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0;
  height: 3rem !important;
  text-indent: .9rem; }
.mktoForm input.mktoField[type=text]:focus, .mktoForm input.mktoField[type=url]:focus, .mktoForm input.mktoField[type=email]:focus, .mktoForm input.mktoField[type=tel]:focus, .mktoForm input.mktoField[type=number]:focus, .mktoForm input.mktoField[type=date]:focus {
  outline: none;
  border-color: #ff8300; }
.mktoForm textarea.mktoField, .mktoForm select.mktoField {
  box-shadow: none !important;
  line-height: 2.5rem !important;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif !important;
  font-size: 0.8125rem !important;
  color: #5e5f61 !important;
  letter-spacing: 0 !important;
  border: 1px solid #E9EAEE !important;
  border-radius: 4px !important;
  font-weight: 400 !important;
  padding: 0 .9rem  !important; }
.mktoForm textarea.mktoField:focus, .mktoForm select.mktoField:focus {
  outline: none;
  border: 1px solid #ff8300 !important; }
.mktoForm textarea.mktoField {
  line-height: 1.125rem !important;
  height: 12rem !important;
  padding: .9rem !important; }
.mktoForm select.mktoField {
  height: 3rem; }
.mktoForm .mktoButtonWrap {
  margin-left: 0 !important;
  display: block; }
.mktoForm .mktoButtonWrap button.mktoButton, .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  background: #29b5a8;
  display: block;
  margin: 3rem auto;
  max-width: 70%;
  text-shadow: none; }
.mktoForm .mktoButtonWrap button.mktoButton:hover, .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton:hover {
  background: #ff8300; }
.mktoForm + a {
  opacity: 1;
  transition: opacity .25s; }
.mktoForm:visible + a {
  opacity: 0; }
.mktoForm .mktoFormRow fieldset.mktoFormCol {
  border: none;
  padding: 0; }
.mktoForm .mktoFieldWrap {
  float: none;
  width: 100%; }
.mktoForm .mktoFormCol {
  width: 100%; }
.mktoForm .mktoOffset {
  height: auto !important; }

.page-template-page-form #_content {
  display: block; }
.page-template-page-form #_content.hidden {
  display: none; }
.page-template-page-form #success_content {
  height: 0;
  overflow: hidden;
  opacity: 0; }
.page-template-page-form #success_content.visible {
  height: auto;
  opacity: 1;
  transition: opacity .5s; }
.page-template-page-form .contact-details {
  margin-top: 75px; }

@media only screen and (min-width: 768px) {
  article.resources .mktoForm {
    max-width: 100%;
    padding: 5%;
    background: #f7f5f5; }
  article.resources .mktoForm .mktoFormRow {
    clear: none;
    float: left;
    width: 47.5%;
    margin-right: 5%; }
  article.resources .mktoForm .mktoFormRow:nth-child(2n+1) {
    margin-right: 0; }
  article.resources .mktoForm .mktoButtonWrap button.mktoButton, article.resources .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
    margin: 2rem auto 0;
    max-width: 50%; }

  #mktoForm_176 {
    max-width: 90%; }
  #mktoForm_176 fieldset {
    margin: 0 auto !important;
    border: none; }
  #mktoForm_176 fieldset .mktoFormRow {
    clear: none;
    float: left;
    width: 47.5%;
    margin-right: 5%; }
  #mktoForm_176 fieldset .mktoFormRow:nth-child(2n+1) {
    margin-right: 0; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow {
    width: 100%;
    clear: both;
    float: none; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow label.mktoLabel {
    float: left;
    margin: 0 auto 8px; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow label.mktoLabel strong {
    font-weight: 400; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow textarea.mktoField {
    max-width: 100%; }
  #mktoForm_176 .mktoButtonWrap button.mktoButton, #mktoForm_176 .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
    margin: 2rem auto 0;
    max-width: 50%; } }
.resource-type-links {
  position: absolute;
  bottom: -54px;
  width: 100%;
  z-index: 100; }

.resource-type-links a {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 30px;
  margin-bottom: 0;
  color: #5E5F61;
  text-align: center;
  display: inline-block; }
.resource-type-links a.smart-stuff .image {
  height: 90px;
  background-size: contain;
  background-position: bottom;
  margin-bottom: 10px; }
.resource-type-links a .image {
  background: center center no-repeat;
  height: 60px;
  min-width: 60px;
  margin: 0 auto 20px; }
.resource-type-links a span {
  line-height: 50px;
  display: inline-block;
  border-top: 4px solid transparent;
  padding: 0 10px;
  cursor: pointer; }
.resource-type-links a.current_page_item span, .resource-type-links a:hover span {
  font-family: "AvenirNextLTPro-Demi", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  border-color: #ff8300; }

.term-videos .resource-type-links a.videos span {
  font-family: "AvenirNextLTPro-Demi", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  border-color: #ff8300; }

.term-webinars .resource-type-links a.webinars span {
  font-family: "AvenirNextLTPro-Demi", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  border-color: #ff8300; }

.term-white-papers .resource-type-links a.white-papers span {
  font-family: "AvenirNextLTPro-Demi", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  border-color: #ff8300; }

.index.resource-index .block {
  height: 375px;
  padding: 75px 20px 20px; }
.index.resource-index .block h3 {
  max-height: 120px;
  overflow: hidden; }
.index.resource-index .block p {
  max-height: 120px;
  overflow: hidden; }
.index.resource-index .block.white-papers {
  background-size: 32px 43px; }
.index.resource-index .block.case-studies {
  background-size: 40px 36px; }
.index.resource-index .block.smart-stuff {
  background-size: auto 60px;
  background-position: calc(100% - 20px) 10px; }
.index.resource-index .block .link {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: #29b5a8;
  font-size: 14px;
  padding: 0 21px 0 0;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px; }
.index.resource-index .block .link:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-turq.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 9px; }

@media only screen and (max-width: 1299px) {
  .resource-type-links > a {
    width: calc(16.6% - 66px); }
  .resource-type-links > a span {
    white-space: nowrap;
    padding: 0; } }
@media only screen and (max-width: 991px) {
  .resource-type-links {
    bottom: 80px; }
  .resource-type-links > a {
    display: none; }
  .resource-type-links a {
    margin: 0;
    width: auto; }
  .resource-type-links a .image {
    height: 30px;
    margin: 10px 0; } }
@media only screen and (max-width: 640px) {
  .index.resource-index .block, .index.resource-index .block-sizer {
    width: 86vw;
    height: 90vw; }
  .index.resource-index .gutter-sizer {
    width: 7vw; }
  .index.resource-index .block {
    margin: 0 7vw 7vw; }
  .index.resource-index .block, .index.resource-index .block.case-studies {
    padding: 70px 15px 40px;
    background: #F7F5F5 calc(100% - 20px) 20px no-repeat;
    background-size: auto 24px; }
  .index.resource-index .block h3, .index.resource-index .block.case-studies h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem;
    line-height: 27.4285714286px;
    line-height: 1.9591836735rem;
    max-height: 109.7142857143px;
    max-height: 7.8367346939rem; }
  .index.resource-index .block p, .index.resource-index .block.case-studies p {
    font-size: 18.2857142857px;
    font-size: 1.306122449rem;
    line-height: 25.1428571429px;
    line-height: 1.7959183673rem;
    max-height: 100.5714285714px;
    max-height: 7.1836734694rem; }
  .index.resource-index .block .link, .index.resource-index .block.case-studies .link {
    font-size: 13.7142857143px;
    font-size: 0.9795918367rem;
    bottom: 15px;
    right: 15px; }
  .index.resource-index .block.white-papers {
    background-size: auto 30px; } }

/*# sourceMappingURL=resources.css.map */
