.grid {
  margin: 0 0 20px 0; }
.grid * {
  box-sizing: border-box; }
.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='col-'] {
  float: left;
  padding-right: 20px; }
.grid [class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.333333%; }

.col-2-3 {
  width: 66.666666%; }

.col-1-4 {
  width: 25%; }

.outer-table {
  display: table;
  width: 100%;
  height: 100%; }

.inner-table {
  display: table-cell;
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4 {
    width: 100%;
    padding-right: 0; }

  .col-1-4 {
    width: 50%; } }
@media only screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
    padding-right: 0; } }
body.search .results-container {
  background-image: radial-gradient(84% -26%, #eb7767 9%, #fda14b 69%, #ff8300 100%);
  background-image: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767);
  border-radius: 0; }
body.search .results-container + footer {
  margin-top: 0; }
body.search .results-container .entry-content > header {
  text-align: left;
  height: auto; }
body.search .results-container .entry-content > header > small {
  text-transform: uppercase;
  padding-top: 40px;
  line-height: 28px;
  font-family: "ProximaNova-Semibold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 3.11px;
  display: block; }
body.search .results-container .entry-content > header > h1 {
  color: #FFFFFF;
  margin: 0 auto 23px; }
body.search .results-container .entry-content > h2 {
  color: #fff;
  margin-bottom: 100px; }
body.search .results-container .entry-content + footer {
  text-align: center; }
body.search .results-container .entry-content + footer .navigation.pagination .nav-links a {
  color: #fff; }
body.search .results-container .entry-content .result {
  padding: 40px 0 18px; }
body.search .results-container .entry-content .result + .result {
  border-top: 1px solid #fff; }
body.search .results-container .entry-content .result h3 > a {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer; }
body.search .results-container .entry-content .result h3 > a:hover {
  color: #29b5a8;
  transition: color .2s; }
body.search .results-container .entry-content .result .snippet {
  color: #FFFFFF;
  max-height: 60px;
  overflow: hidden; }
body.search .results-container .entry-content .result .link {
  text-align: right;
  display: inline-block;
  width: 100%;
  height: 45px; }
body.search .results-container .entry-content .result .link > a {
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 0 21px 0 0;
  letter-spacing: 0;
  position: relative;
  top: 15px;
  cursor: pointer; }
body.search .results-container .entry-content .result .link > a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../../img/icons/ico-carrot-white.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 9px; }
body.search .results-container .entry-content .result .link > a:hover {
  color: #29b5a8; }
body.search .results-container .entry-content .result .link > a:hover:after {
  background-image: url("../../img/icons/ico-carrot-turq.svg"); }

@media only screen and (max-width: 640px) {
  body.search .results-container .entry-content > header {
    width: 100%; }
  body.search .results-container .entry-content > header > small {
    padding-top: 0;
    font-size: 14px;
    font-size: 1rem;
    line-height: 24.5714285714px;
    line-height: 1.7551020408rem; }
  body.search .results-container .entry-content > header > h1 {
    font-size: 36px;
    font-size: 2.5714285714rem;
    line-height: 43px;
    line-height: 3.0714285714rem; }
  body.search .results-container .entry-content .result {
    padding: 22.8571428571px 0px 11.4285714286px;
    padding: 1.6326530612rem 0rem 0.8163265306rem; }
  body.search .results-container .entry-content .result h3 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 24.5714285714px;
    line-height: 1.7551020408rem;
    margin-bottom: .5rem; } }

/*# sourceMappingURL=search.css.map */
