@charset "UTF-8";
/* Social Sharing Plugin Styles --------------------*/
.entry-content ul.kiwi-article-bar {
  margin-top: 1.5rem;
  text-align: left; }
.entry-content ul.kiwi-article-bar li {
  text-align: center; }
.entry-content ul.kiwi-article-bar li a {
  border-radius: 4px;
  padding: .75rem;
  line-height: 1rem;
  height: auto;
  font-size: 18px; }
.entry-content ul.kiwi-article-bar li a.kiwi-nw-email {
  background-color: #ff8300; }
.entry-content ul.kiwi-article-bar li a.kiwi-nw-email:hover, .entry-content ul.kiwi-article-bar li a.kiwi-nw-email:active, .entry-content ul.kiwi-article-bar li a.kiwi-nw-email:focus {
  background-color: #febf84; }

@media only screen and (max-width: 640px) {
  .entry-content ul.kiwi-article-bar {
    width: 95%; }
  .entry-content ul.kiwi-article-bar li {
    margin: 0;
    padding: 0;
    width: 20%; }
  .entry-content ul.kiwi-article-bar li a {
    width: 100%;
    border-radius: 0; }
  .entry-content ul.kiwi-article-bar li:first-child a {
    border-radius: 4px 0 0 4px; }
  .entry-content ul.kiwi-article-bar li:last-child a {
    border-radius: 0 4px 4px 0; } }
@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?cfbnyo");
  src: url("../../fonts/icomoon.eot?cfbnyo#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?cfbnyo") format("truetype"), url("../../fonts/icomoon.woff?cfbnyo") format("woff"), url("../../fonts/icomoon.svg?cfbnyo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="kicon-"], [class*=" kicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.kicon-close:before {
  content: ""; }

.kicon-at:before {
  content: ""; }

.kicon-envelope:before {
  content: ""; }

.kicon-linkedin:before {
  content: ""; }

.kicon-twitter:before {
  content: ""; }

.kicon-facebook:before {
  content: ""; }

.kicon-send:before {
  content: ""; }

.kicon-pinterest:before {
  content: ""; }

.kicon-reddit:before {
  content: ""; }

input[type=text], input[type=email] {
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  border: 1px solid #E9EAEE;
  border-radius: 4px;
  text-indent: 15px;
  width: 100%; }

.entry-content .mktoForm {
  margin-bottom: -40px; }

.mktoForm {
  max-width: 460px; }
.mktoForm .mktoFormCol, .mktoForm .mktoFieldWrap, .mktoForm .mktoButtonRow, .mktoForm .mktoButtonWrap {
  float: none;
  width: 100%; }
.mktoForm .mktoGutter {
  display: none; }
.mktoForm, .mktoForm input.mktoField, .mktoForm textarea.mktoField, .mktoForm select.mktoField, .mktoForm button {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  width: 100% !important;
  float: none;
  max-width: 460px; }
.mktoForm label.mktoLabel {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  float: none;
  line-height: 21px;
  font-weight: 400 !important;
  color: #837570;
  margin: 0 auto 16px;
  font-family: "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  /* SITE: */
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; }
.mktoForm .mktoRequiredField .mktoAsterix {
  color: transparent;
  float: none;
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 5px !important; }
.mktoForm .mktoRequiredField .mktoAsterix:before {
  content: '(REQUIRED)';
  font-size: 10px;
  color: #bf0000;
  color: #aeafb0;
  vertical-align: -webkit-baseline-middle; }
.mktoForm input.mktoField[type=text], .mktoForm input.mktoField[type=url], .mktoForm input.mktoField[type=email], .mktoForm input.mktoField[type=tel], .mktoForm input.mktoField[type=number], .mktoForm input.mktoField[type=date] {
  box-shadow: none;
  border: 1px solid #E9EAEE;
  border-radius: 4px;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 30px;
  line-height: 2.1428571429rem;
  letter-spacing: 0;
  height: 3rem !important;
  text-indent: .9rem; }
.mktoForm input.mktoField[type=text]:focus, .mktoForm input.mktoField[type=url]:focus, .mktoForm input.mktoField[type=email]:focus, .mktoForm input.mktoField[type=tel]:focus, .mktoForm input.mktoField[type=number]:focus, .mktoForm input.mktoField[type=date]:focus {
  outline: none;
  border-color: #ff8300; }
.mktoForm textarea.mktoField, .mktoForm select.mktoField {
  box-shadow: none !important;
  line-height: 2.5rem !important;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif !important;
  font-size: 0.8125rem !important;
  color: #5e5f61 !important;
  letter-spacing: 0 !important;
  border: 1px solid #E9EAEE !important;
  border-radius: 4px !important;
  font-weight: 400 !important;
  padding: 0 .9rem  !important; }
.mktoForm textarea.mktoField:focus, .mktoForm select.mktoField:focus {
  outline: none;
  border: 1px solid #ff8300 !important; }
.mktoForm textarea.mktoField {
  line-height: 1.125rem !important;
  height: 12rem !important;
  padding: .9rem !important; }
.mktoForm select.mktoField {
  height: 3rem; }
.mktoForm .mktoButtonWrap {
  margin-left: 0 !important;
  display: block; }
.mktoForm .mktoButtonWrap button.mktoButton, .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  background: #29b5a8;
  display: block;
  margin: 3rem auto;
  max-width: 70%;
  text-shadow: none; }
.mktoForm .mktoButtonWrap button.mktoButton:hover, .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton:hover {
  background: #ff8300; }
.mktoForm + a {
  opacity: 1;
  transition: opacity .25s; }
.mktoForm:visible + a {
  opacity: 0; }
.mktoForm .mktoFormRow fieldset.mktoFormCol {
  border: none;
  padding: 0; }
.mktoForm .mktoFieldWrap {
  float: none;
  width: 100%; }
.mktoForm .mktoFormCol {
  width: 100%; }
.mktoForm .mktoOffset {
  height: auto !important; }

.page-template-page-form #_content {
  display: block; }
.page-template-page-form #_content.hidden {
  display: none; }
.page-template-page-form #success_content {
  height: 0;
  overflow: hidden;
  opacity: 0; }
.page-template-page-form #success_content.visible {
  height: auto;
  opacity: 1;
  transition: opacity .5s; }
.page-template-page-form .contact-details {
  margin-top: 75px; }

@media only screen and (min-width: 768px) {
  article.resources .mktoForm {
    max-width: 100%;
    padding: 5%;
    background: #f7f5f5; }
  article.resources .mktoForm .mktoFormRow {
    clear: none;
    float: left;
    width: 47.5%;
    margin-right: 5%; }
  article.resources .mktoForm .mktoFormRow:nth-child(2n+1) {
    margin-right: 0; }
  article.resources .mktoForm .mktoButtonWrap button.mktoButton, article.resources .mktoForm .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
    margin: 2rem auto 0;
    max-width: 50%; }

  #mktoForm_176 {
    max-width: 90%; }
  #mktoForm_176 fieldset {
    margin: 0 auto !important;
    border: none; }
  #mktoForm_176 fieldset .mktoFormRow {
    clear: none;
    float: left;
    width: 47.5%;
    margin-right: 5%; }
  #mktoForm_176 fieldset .mktoFormRow:nth-child(2n+1) {
    margin-right: 0; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow {
    width: 100%;
    clear: both;
    float: none; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow label.mktoLabel {
    float: left;
    margin: 0 auto 8px; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow label.mktoLabel strong {
    font-weight: 400; }
  #mktoForm_176 > .mktoFormRow:nth-child(3) .mktoFormRow textarea.mktoField {
    max-width: 100%; }
  #mktoForm_176 .mktoButtonWrap button.mktoButton, #mktoForm_176 .mktoButtonWrap.mktoPurpleCandy button.mktoButton {
    margin: 2rem auto 0;
    max-width: 50%; } }
.sidebar {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 260px;
  right: -320px;
  max-height: 100%;
  overflow: auto; }
.sidebar > .widget_media_image.rectangle {
  position: relative;
  height: auto;
  min-height: 400px; }
.sidebar > .widget_media_image.rectangle img {
  position: absolute;
  top: 0;
  border-radius: 5px 5px 0 0;
  z-index: 8;
  object-fit: cover;
  height: 222px !important; }
.sidebar > .widget_media_image.rectangle h2 {
  position: absolute;
  bottom: 180px;
  border-radius: 5px 5px 0 0;
  margin-top: -3rem;
  z-index: 10;
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0;
  padding: 0 21px 15px;
  overflow: hidden;
  text-overflow: ellipsis; }
.sidebar > .widget_media_image.rectangle > div {
  height: auto;
  width: 100%;
  padding: 6px 21px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 222px; }
.sidebar > .widget_media_image.rectangle > div:before {
  content: '';
  position: absolute;
  top: -222px;
  left: 0;
  width: 300px;
  height: 222px;
  border-radius: 5px 5px 0 0;
  opacity: .6;
  z-index: 9;
  background-color: inherit; }
.sidebar > .widget_media_image.rectangle > div p {
  color: #fff;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }
.sidebar > .widget_media_image.rectangle > div a {
  color: #fff;
  font-family: "AvenirNext-DemiBold", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3.33px;
  text-transform: uppercase; }
.sidebar > .widget_media_image.rectangle > div a:hover {
  color: #fff;
  text-decoration: underline; }
.sidebar > .widget_media_image {
  position: relative;
  height: auto; }
.sidebar > .widget_media_image img {
  position: absolute;
  top: 0;
  border-radius: 5px;
  z-index: 8;
  object-fit: cover; }
.sidebar > .widget_media_image h2 {
  z-index: 10;
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  letter-spacing: 0;
  padding: 0 21px 15px;
  overflow: hidden;
  text-overflow: ellipsis; }
.sidebar > .widget_media_image.rectangle {
  min-height: 400px; }
.sidebar > .widget_media_image.rectangle img {
  border-radius: 5px 5px 0 0;
  height: 222px !important; }
.sidebar > .widget_media_image.rectangle h2 {
  position: absolute;
  bottom: 180px;
  border-radius: 5px 5px 0 0;
  margin-top: -3rem; }
.sidebar > .widget_media_image.rectangle > .copy {
  height: auto;
  width: 100%;
  padding: 6px 21px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 222px; }
.sidebar > .widget_media_image.rectangle > .copy:before {
  content: '';
  position: absolute;
  top: -222px;
  left: 0;
  width: 300px;
  height: 222px;
  border-radius: 5px 5px 0 0;
  opacity: .6;
  z-index: 9;
  background-color: inherit; }
.sidebar > .widget_media_image.rectangle > .copy p {
  color: #fff;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }
.sidebar > .widget_media_image.rectangle > .copy a {
  color: #fff;
  font-family: "AvenirNext-DemiBold", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3.33px;
  text-transform: uppercase; }
.sidebar > .widget_media_image.rectangle > .copy a:hover {
  color: #fff;
  text-decoration: underline; }
.sidebar > .widget_media_image.square {
  height: 275px; }
.sidebar > .widget_media_image.square img {
  height: 275px !important; }
.sidebar > .widget_media_image.square h2 {
  text-align: center;
  position: relative;
  padding-bottom: 5px;
  padding-top: 75px; }
.sidebar > .widget_media_image.square h5 {
  font-family: "AvenirNext-DemiBold", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 3.33px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 10; }
.sidebar > .widget_media_image.square .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 275px;
  border-radius: 5px;
  opacity: .6;
  z-index: 9; }
.sidebar > .widget_media_image.square a {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 275px;
  border-radius: 5px;
  z-index: 11; }
.sidebar .widget_recent_entries {
  margin-bottom: 45px; }
.sidebar .widget_recent_entries h2 {
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-size: 22px;
  line-height: 27px;
  color: #29b5a8;
  letter-spacing: 0;
  margin-top: 50px; }
.sidebar .widget_recent_entries ul {
  font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #5e5f61;
  line-height: 22px;
  list-style: none;
  padding-left: 24px; }
.sidebar .widget_recent_entries ul li {
  position: relative;
  margin-bottom: 18px;
  overflow: visible; }
.sidebar .widget_recent_entries ul li:before {
  content: '';
  background-image: url("../../img/icons/ico-carrot-orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -22px;
  top: 2px;
  width: 10px;
  height: 18px; }
.sidebar .widget_recent_entries ul li > a {
  color: #5e5f61; }

@media only screen and (max-width: 1299px) {
  .sidebar {
    display: none; } }
article .entry-header {
  background-position: center center; }
article .entry-title {
  margin-top: 0; }
article .author {
  padding: 30px 0; }
article .author, article .author > a {
  font-family: "MuseoSlab-500", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 500;
  color: #837570;
  font-size: 13px;
  font-size: 0.9285714286rem;
  line-height: 18px;
  line-height: 1.2857142857rem;
  letter-spacing: 0; }
article .author .avatar, article .author > a .avatar {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid #aeafb0;
  margin: 0 10px 0 0;
  object-fit: cover; }
article .author > a, article .author > a > a {
  display: block; }
article .author i, article .author > a i {
  padding: 0 5px; }
article .author i img, article .author > a i img {
  margin: 0; }
article .author.author-bio {
  text-align: center; }
article .entry-content {
  max-width: 800px;
  border-top: 10px solid #47C1B6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
  position: relative;
  margin-top: -220px;
  margin-left: 160px;
  padding: 60px 75px 75px 60px; }
article .entry-content + footer {
  max-width: 800px;
  margin-left: 160px;
  padding: 40px 65px 75px;
  margin-top: 0; }
article .entry-content .key-file {
  font-family: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  color: #29B5A8;
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  display: block;
  padding-left: 70px;
  background: url("../../img/icons/ico-download-turq@2x.png") center left no-repeat;
  background-size: 50px;
  line-height: 50px; }
article .entry-content .resource-type {
  font-family: "AvenirNextLTPro-Demi", "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  color: #29b5a8;
  font-size: 14px;
  line-height: 50px;
  padding-left: 45px;
  background: center left no-repeat;
  background-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  margin-bottom: 20px;
  display: inline-block; }
article footer .nocomments {
  display: none; }
article footer nav {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none; }
article footer nav a {
  display: block; }
article footer nav a > div, article footer nav a > img {
  width: auto;
  vertical-align: -webkit-baseline-middle;
  display: inline-block; }
article footer nav a > div {
  margin-left: 15px;
  width: calc(100% - 50px); }
article footer nav h4 {
  text-transform: uppercase;
  font-family: "ProximaNova-Bold", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #29b5a8;
  font-size: 12px;
  font-size: 0.8571428571rem;
  line-height: 14px;
  line-height: 1rem;
  letter-spacing: 2.57px;
  letter-spacing: 0.1835714286rem;
  margin: 0; }
article footer nav h5 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 0; }
article footer nav .next {
  padding: 0;
  text-align: right; }
article footer nav .next a > div {
  margin-right: 15px;
  margin-left: 0; }
article footer .author {
  margin: 60px 0; }
article footer .author .avatar {
  width: 80px;
  height: 80px; }
article footer .author .info {
  display: inline-block; }
article footer .author .info h5 {
  font-family: "MuseoSlab-700", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 700;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 0; }
article footer .author .info h6 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.7142857143rem;
  letter-spacing: 0; }
article.no-image:not(.video) .entry-header {
  height: 250px;
  background-image: radial-gradient(circle at top left, #FDA14B, #eb7767); }
article.no-image:not(.video) .entry-content {
  margin-top: -125px; }
article.press .entry-title {
  margin-bottom: 30px; }
article.press .entry-content {
  padding-bottom: 0; }
article.press .press-contact {
  margin-bottom: 30px;
  margin-bottom: 2.1428571429rem;
  padding-top: 30px;
  padding-top: 2.1428571429rem;
  border-top: 1px solid #ccc; }
article.press .press-contact h6 {
  margin-bottom: 1rem; }
article.type-resources.resource_type-smart-stuff .entry-content .resource-type {
  background: left 0px no-repeat;
  background-size: 60px;
  padding-left: 65px; }
article.type-resources.no-image .entry-header iframe, article.type-resources.has-post-thumbnail .entry-header iframe {
  display: none; }
article.type-resources.video .entry-header {
  height: 713px; }
article.type-resources.video .entry-header iframe {
  display: block; }
article.type-resources.video .entry-content {
  margin-top: 0;
  border-top: none; }
article.type-resources.post-password-required .mktoForm {
  display: none; }
article.type-resources .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 50px; }
article.type-resources .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 768px) {
  article {
    margin-bottom: 50px;
    margin-bottom: 3.5714285714rem; }
  article header {
    height: 370px;
    height: 26.4285714286rem; }
  article .entry-content {
    margin: 0 auto;
    margin-top: -125px;
    margin-top: -8.9285714286rem;
    padding: 57.1428571429px 42.8571428571px 42.8571428571px 34.2857142857px;
    padding: 4.0816326531rem 3.0612244898rem 3.0612244898rem 2.4489795918rem; }
  article .entry-content + footer {
    max-width: 93%;
    margin: 0 auto;
    border-radius: 0;
    padding: 34.2857142857px 17.1428571429px;
    padding: 2.4489795918rem 1.2244897959rem; }
  article footer nav .prev, article footer nav .next {
    width: 75%;
    margin: 0 auto;
    float: none !important; }
  article footer nav .prev {
    margin-bottom: 2rem; } }
@media only screen and (max-width: 640px) {
  article {
    margin-bottom: 0; }
  article header {
    height: 65vh; }
  article .entry-title {
    font-size: 27.4285714286px;
    font-size: 1.9591836735rem;
    line-height: 32.5714285714px;
    line-height: 2.3265306122rem;
    margin-top: 2rem; }
  article .entry-content {
    max-width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding: 34.2857142857px 17.1428571429px;
    padding: 2.4489795918rem 1.2244897959rem; }
  article .entry-content + footer {
    max-width: 100%; }
  article .entry-content .resource-type {
    background-size: 50px;
    padding: 10px 0px 10px 60px;
    padding: 0.7142857143rem 0rem 0.7142857143rem 4.2857142857rem;
    font-size: 11.4285714286px;
    font-size: 0.8163265306rem;
    letter-spacing: 3.8742857143px;
    letter-spacing: 0.2767346939rem; }
  article .entry-content .author a {
    font-size: 11.4285714286px;
    font-size: 0.8163265306rem;
    line-height: 13.1428571429px;
    line-height: 0.9387755102rem; }
  article .entry-content > p:first-of-type {
    font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #837570;
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 25.1428571429px;
    line-height: 1.7959183673rem;
    letter-spacing: normal; }
  article .entry-content ul {
    font-family: "ProximaNova-Light", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: inherit;
    font-size: 17.1428571429px;
    font-size: 1.2244897959rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    letter-spacing: 0; }
  article .entry-content ul li {
    margin: 0px auto 20px;
    margin: 0rem auto 1.4285714286rem; }
  article .author:not(.author-bio) .avatar, article .author:not(.author-bio) > a .avatar {
    width: 10vw;
    height: 10vw; }
  article footer .author {
    margin: 2.5rem 0; }
  article footer .author .avatar {
    display: block;
    margin: 0px auto 20px;
    margin: 0rem auto 1.4285714286rem; }
  article footer .author .info {
    display: block;
    text-align: center; }
  article footer nav a > div h4 {
    margin-top: 0; }
  article footer nav .prev, article footer nav .next {
    width: 100%; }
  article.video .entry-header {
    height: 30vh; }
  article.video .entry-header > iframe {
    width: 100%;
    height: 100% !important; } }

/*# sourceMappingURL=single.css.map */
