.callouts {
  width: 100%;
  max-width: 980px;
  margin: 75px auto; }
.callouts h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5f61;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 36px;
  line-height: 2.5714285714rem;
  letter-spacing: 0; }
.callouts .block {
  border-radius: 6px;
  position: relative;
  background: center center no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  height: 310px;
  max-width: 450px;
  width: calc(50% - 40px);
  float: left;
  padding: 0 10px; }
.callouts .block *:not(.overlay) {
  color: #fff;
  position: relative; }
.callouts .block .overlay {
  border-radius: 6px;
  opacity: .65;
  background: #ff8300;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #ff8300, #fda14b, #eb7767);
  background: radial-gradient(circle at top left, #ff8300, #fda14b, #eb7767); }
.callouts .block label {
  top: 77px;
  top: 5.5rem;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Bold", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.4285714286rem;
  letter-spacing: 3.11px;
  letter-spacing: 0.2221428571rem;
  max-width: 90%;
  margin: 0 auto;
  display: block; }
.callouts .block label:after {
  width: 52px;
  width: 3.7142857143rem; }
.callouts .block h4 {
  position: relative;
  max-width: 80%;
  top: 77px;
  top: 5.5rem;
  margin: 30px auto 0px;
  margin: 2.1428571429rem auto 0rem; }
.callouts .block p {
  padding: 0 20px;
  margin: 9px auto; }
.callouts .block.header {
  width: 100%;
  max-width: 940px;
  height: 525px; }
.callouts .block.header .type {
  padding-top: 115px; }
.callouts .block.header h4 {
  font-size: 36px;
  padding-top: 100px; }
.callouts .block.wide {
  width: 100%;
  max-width: 940px;
  padding: 0;
  background-color: #eb7767; }
.callouts .block.wide.events {
  background-color: #5e5f61; }
.callouts .block.wide.resources {
  background-color: #29b5a8; }
.callouts .block.wide .copy {
  float: left;
  padding: 0 10px;
  width: calc(100% - 490px); }
.callouts .block.wide .background {
  width: 490px;
  float: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
.callouts .block.post .overlay {
  background: #eb7767 44%;
  background: -webkit-linear-gradient(bottom, #eb7767 44%, #d4432f 96%);
  background: linear-gradient(to top, #eb7767 44%, #d4432f 96%); }
.callouts .block.resources .overlay {
  background: #29b5a8 23%;
  background: -webkit-linear-gradient(bottom, #29b5a8 23%, #008B7E 88%);
  background: linear-gradient(to top, #29b5a8 23%, #008B7E 88%); }
.callouts .block.link {
  background-color: #20c1dc; }
.callouts .block.link .overlay {
  background: radial-gradient(84% -26%, #29b5a8 9%, #49d0e4 69%, #20c1dc 100%);
  background: radial-gradient(circle at top left, #20c1dc, #49d0e4, #29b5a8);
  background: #29b5a8;
  background: -webkit-radial-gradient(top left, circle farthest-corner, #29b5a8, #47c1b6, #20c1dc);
  background: radial-gradient(circle at top left, #29b5a8, #47c1b6, #20c1dc); }
.callouts .block.video {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
.callouts .block.video .thumb, .callouts .block.video .thumb > *, .callouts .block.video .youtube-player {
  position: absolute; }
.callouts .block.video .thumb, .callouts .block.video .overlay, .callouts .block.video .image, .callouts .block.video .video-placeholder, .callouts .block.video .youtube-player, .callouts .block.video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-radius: 6px; }
.callouts .block.video .youtube-player {
  z-index: 101; }
.callouts .block.video iframe {
  z-index: 50; }
.callouts .block.video i, .callouts .block.video h4 {
  z-index: 200;
  color: #fff;
  opacity: 1;
  transition: opacity .25s; }
.callouts .block.video i {
  left: calc(50% - 30px);
  top: calc(50% - 60px);
  width: 60px; }
.callouts .block.video h4 {
  text-align: center;
  top: calc(50% + 20px);
  margin: 0 5%;
  max-width: 90%;
  width: 90%; }
.callouts .block.video .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.callouts .block.video .overlay {
  z-index: 101; }
.callouts .block.video.header .thumb i {
  width: 90px;
  left: calc(50% - 45px);
  top: calc(50% - 90px); }
.callouts .block.video.header .thumb h3 {
  font-family: "MuseoSlab-300", "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  font-size: 2.5714285714rem;
  line-height: 43px;
  line-height: 3.0714285714rem;
  letter-spacing: 0;
  top: calc(50% + 30px);
  padding: 0 10% 0;
  width: 100%;
  text-align: center;
  z-index: 1000; }
.callouts .block.video.header .thumb .overlay {
  background: linear-gradient(0deg, #FF8300 0%, #FF612A 100%);
  background: #ff8300;
  background: -webkit-linear-gradient(bottom, #ff8300, #FF612A);
  background: linear-gradient(to top, #ff8300, #FF612A); }
.callouts a.block {
  transition: box-shadow .25s; }
.callouts a.block:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); }

section.main + .callouts {
  padding: 50px 0 75px;
  margin: 0 auto;
  border-top: 1px solid #E9EAEE; }
section.main + .callouts > h2 {
  margin-bottom: 20px; }

@media only screen and (max-width: 1299px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 991px) {
  .callouts {
    width: 100%; }
  .callouts .block, .callouts .event {
    max-width: calc(100% - 40px);
    width: calc(50% - 40px); }
  .callouts .block.wide .copy, .callouts .event.wide .copy {
    width: 45%; }
  .callouts .block.wide .background, .callouts .event.wide .background {
    width: 55%; } }
@media only screen and (max-width: 768px) {
  .callouts {
    margin: 0 auto; }
  .callouts h2 {
    margin-top: 40px; } }
@media only screen and (max-width: 640px) {
  .callouts h2 {
    font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5e5f61;
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 20.5714285714px;
    line-height: 1.4693877551rem;
    letter-spacing: 0; }

  section.callouts .block, section.callouts .event, section.events .block, section.events .event {
    max-width: 90vw;
    width: 90vw;
    margin: 0 5vw 5vw;
    height: auto;
    min-height: 70vw; }
  section.callouts .block h4, section.callouts .event h4, section.events .block h4, section.events .event h4 {
    font-size: 20.5714285714px;
    font-size: 1.4693877551rem;
    line-height: 22.8571428571px;
    line-height: 1.6326530612rem;
    margin: 0 auto;
    max-width: 90%; }
  section.callouts .block label, section.callouts .event label, section.events .block label, section.events .event label {
    top: 3.5rem;
    font-size: 11px;
    font-size: 0.7857142857rem;
    letter-spacing: 2.5px;
    letter-spacing: 0.1785714286rem; }
  section.callouts .block label + h4, section.callouts .event label + h4, section.events .block label + h4, section.events .event label + h4 {
    top: 3.5rem;
    margin-top: 2rem; }
  section.callouts .block .copy label, section.callouts .event .copy label, section.events .block .copy label, section.events .event .copy label {
    padding-top: 0; }
  section.callouts .block.header, section.callouts .event.header, section.events .block.header, section.events .event.header {
    height: 90vw;
    width: 90vw; }
  section.callouts .block.header h4, section.callouts .block.header h3, section.callouts .event.header h4, section.callouts .event.header h3, section.events .block.header h4, section.events .block.header h3, section.events .event.header h4, section.events .event.header h3 {
    font-size: 22.8571428571px;
    font-size: 1.6326530612rem;
    line-height: 27.4285714286px;
    line-height: 1.9591836735rem;
    padding: 0 2.5%; }
  section.callouts .block.header.video .thumb i, section.callouts .event.header.video .thumb i, section.events .block.header.video .thumb i, section.events .event.header.video .thumb i {
    width: 20%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); }
  section.callouts .block.header.video .thumb h3, section.callouts .event.header.video .thumb h3, section.events .block.header.video .thumb h3, section.events .event.header.video .thumb h3 {
    font-size: 25.1428571429px;
    font-size: 1.7959183673rem;
    line-height: 30.8571428571px;
    line-height: 2.2040816327rem;
    padding: 0 2.5%;
    top: 50%; }
  section.callouts .block.wide, section.callouts .event.wide, section.events .block.wide, section.events .event.wide {
    height: 115vw;
    width: 90vw; }
  section.callouts .block.wide .copy, section.callouts .block.wide .background, section.callouts .event.wide .copy, section.callouts .event.wide .background, section.events .block.wide .copy, section.events .block.wide .background, section.events .event.wide .copy, section.events .event.wide .background {
    width: 100%;
    height: 50%; }
  section.callouts .block.wide .background, section.callouts .event.wide .background, section.events .block.wide .background, section.events .event.wide .background {
    border-radius: 0 0 6px 6px; }
  section.callouts .block.wide .copy, section.callouts .event.wide .copy, section.events .block.wide .copy, section.events .event.wide .copy {
    padding-bottom: 19.4285714286px; }
  section.callouts .block.wide label, section.callouts .event.wide label, section.events .block.wide label, section.events .event.wide label {
    padding-top: 0;
    top: 2.5rem; }
  section.callouts .block.wide label + h4, section.callouts .event.wide label + h4, section.events .block.wide label + h4, section.events .event.wide label + h4 {
    top: 2.5rem; }
  section.events {
    margin-top: -40vw; }
  section.events .event {
    min-height: 61vw; }
  section.events .event.featured {
    min-height: 82.5vw; } }
.dropdown-container {
  position: absolute;
  z-index: 999; }
.dropdown-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dropdown-container .dropdown {
  width: 300px;
  max-width: 90vw;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  font-family: "BrandonGrotesque-Light", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown.closed .dropdown-menu {
  margin-top: 0px; }
.dropdown-container .dropdown.closed .dropdown-menu li {
  height: 0px; }
.dropdown-container .dropdown.closed .title {
  border-bottom: none; }
.dropdown-container .dropdown.closed .title:after {
  margin-top: -16px;
  transform: rotate(0deg);
  transition: transform .2s; }
.dropdown-container .dropdown .title {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #5e5f61 #868789 #aeafb0 #f7f5f5;
  font-family: "BrandonGrotesque-Medium", "brandon-grotesque", "Gills Sans", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5e5f61;
  font-size: 14px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.8571428571rem;
  letter-spacing: 2.8px;
  letter-spacing: 0.2rem; }
.dropdown-container .dropdown .title:after {
  display: block;
  content: '';
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/ico-carrot-dropdown.svg");
  background-size: 25px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: transform .2s; }
.dropdown-container .dropdown .dropdown-menu {
  position: relative;
  overflow: hidden;
  transition: all .2s;
  background: rgba(255, 255, 255, 0.9); }
.dropdown-container .dropdown ul {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
.dropdown-container .dropdown ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #5e5f61;
  font-weight: 300;
  text-align: right;
  padding: 0 15px 0 0;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  transition: margin-top 0.5s, height 0.5s;
  position: relative; }
.dropdown-container .dropdown ul li.current-cat {
  display: none; }
.dropdown-container .dropdown ul li a {
  float: left;
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  border-left: 5px solid transparent;
  position: absolute;
  left: 0;
  right: 0; }
.dropdown-container .dropdown ul li a label {
  text-align: left;
  color: #5e5f61;
  font-weight: 400;
  padding: 0 0 0 15px;
  text-decoration: none;
  height: 40px;
  line-height: 40px; }
.dropdown-container .dropdown ul li:hover {
  background-color: #f7f5f5;
  transition: background-color .2s; }
.dropdown-container .dropdown ul li:hover a {
  border-color: #ff8300;
  transition: border-color .2s; }

.solution.main {
  padding-left: 130px;
  padding-right: 130px; }
.solution h2 {
  line-height: 1.5em;
  margin: 0 auto 1em; }
.solution p {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 30px; }
.solution p a b {
  color: #ff8300;
  font-weight: 500; }
.solution p a b:hover {
  color: #29b5a8; }

.page-id-370 .landing-header {
  background-position: bottom center; }

.page-id-722 .landing-header {
  overflow: hidden; }
.page-id-722 .landing-header .overlay {
  width: 101%;
  height: 101%; }

.goals {
  padding: 75px 0px;
  padding: 5.3571428571rem 0rem;
  text-align: center; }
.goals .goal {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  max-width: 525px;
  margin: 0 0 50px 0; }
.goals .goal:nth-child(odd) {
  margin-right: 5%; }
.goals .goal:nth-child(n+3) {
  margin-bottom: 0; }
.goals .goal .image {
  width: 82px;
  height: 82px;
  display: block;
  float: left;
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0 25px 0 0; }
.goals .goal .copy {
  display: block;
  float: right;
  width: calc(100% - 107px); }
.goals .goal .copy h2 {
  margin: 0;
  margin-bottom: 7px;
  font-family: "AvenirNextLTPro-Regular", "AvenirNext-Regular", "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ff8300;
  font-size: 24px;
  font-size: 1.7142857143rem;
  line-height: 33px;
  line-height: 2.3571428571rem;
  letter-spacing: 0; }
.goals .goal .copy p {
  color: #5e5f61;
  margin: 0; }

.tout {
  background: center right no-repeat;
  background-size: auto 100%; }
.tout .copy {
  color: #fff;
  padding: 50px 50px 50px 95px;
  width: 50%;
  background-image: linear-gradient(-45deg, #29B5A8 23%, #008B7E 88%); }
.tout h2 {
  color: #fff; }

@media only screen and (max-width: 1299px) {
  .goals .goal {
    width: 40%; }

  .tout {
    padding-top: 500px;
    padding-top: 35.7142857143rem;
    background-position: top center;
    background-size: 100% auto; }
  .tout .copy {
    width: 100%;
    padding: 50px; } }
@media only screen and (max-width: 768px) {
  .tout {
    padding-top: 300px;
    padding-top: 21.4285714286rem;
    background-size: contain; }
  .tout .copy {
    padding: 28.5714285714px;
    padding: 2.0408163265rem; } }
@media only screen and (max-width: 640px) {
  .solutions-subnav .dropdown-container .dropdown {
    width: 90vw;
    max-width: 90vw; }
  .solutions-subnav .dropdown-container .dropdown .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13.7142857143px;
    font-size: 0.9795918367rem; }
  .solutions-subnav .dropdown-container .dropdown:not(.closed) .dropdown-menu ul {
    top: 0 !important; }
  .solutions-subnav .dropdown-container .dropdown ul {
    background: rgba(235, 119, 103, 0.8); }
  .solutions-subnav .dropdown-container .dropdown ul li a {
    color: #fff; }

  .main.solution {
    padding: 48.5714285714px 20px;
    padding: 3.4693877551rem 1.4285714286rem; }

  .goals .goal {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 28.5714285714px;
    margin-bottom: 2.0408163265rem; }
  .goals .goal:nth-child(odd) {
    margin-right: 5%; }
  .goals .goal:nth-child(n+3) {
    margin-bottom: 28.5714285714px;
    margin-bottom: 2.0408163265rem; }
  .goals .goal .image, .goals .goal .copy {
    float: none;
    margin: 0 auto 30px;
    width: 100%; }
  .goals .goal .image {
    background-position: bottom center; }

  .tout {
    padding-top: 200px;
    padding-top: 14.2857142857rem; } }
.page-template-page-solutionesque .main {
  max-width: 70%;
  margin: 0 auto;
  padding: 50px 0px;
  padding: 3.5714285714rem 0rem; }
.page-template-page-solutionesque .main + .goals, .page-template-page-solutionesque .main + .main {
  padding-top: 0; }
.page-template-page-solutionesque .goals {
  padding: 50px 0px;
  padding: 3.5714285714rem 0rem; }
.page-template-page-solutionesque .goals + .goals, .page-template-page-solutionesque .goals + .main {
  padding-top: 0; }
.page-template-page-solutionesque .tout {
  background: none;
  padding: 0;
  display: flex; }
.page-template-page-solutionesque .tout .copy, .page-template-page-solutionesque .tout .image {
  flex: 1; }
.page-template-page-solutionesque .tout .copy {
  order: 1; }
.page-template-page-solutionesque .tout .image {
  order: 2;
  background-size: auto 100%;
  background-position: center right;
  background-repeat: no-repeat; }
@media only screen and (max-width: 991px) {
  .page-template-page-solutionesque .tout {
    display: block; }
  .page-template-page-solutionesque .tout .image {
    background-position: center;
    background-size: cover; }
  .page-template-page-solutionesque .tout .copy, .page-template-page-solutionesque .tout .image {
    width: 100%; } }

/*# sourceMappingURL=solutions.css.map */
