h2.callouts {
	margin-bottom:20px;
	text-align: center;
	padding-bottom: 10px !important;
	@include font($avenir400,400,36,36,0,nth($gray, 1));
}

.callouts {
	width:100%;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;

	&>.callouts {
		margin-top: 0;
		margin-bottom: 0;
	}

	.platform-section,
	.guidance-solutions,
	.section-why-health-sparq {
		background-color:transparent;
	}

	h2 {
		margin-bottom:20px;
		text-align: center;
		@include font($avenir400,400,36,36,0,nth($gray, 1));
	}
	.block {
		border-radius:6px;
		position: relative;
		background:center center no-repeat;
		background-size:cover;
		text-align:center;
		margin:20px;
		height:310px;
		max-width:450px;
		width: calc(50% - 40px);
		float:left;
		padding:0 10px;
		&:hover {

		}

		*:not(.overlay) {
			color:#fff;
			position:relative;
		}

		.overlay {
			border-radius:6px;
			opacity:.65;
			@include gradient(radial, nth($primary,1), nth($primary,2), nth($tertiary,1));
		}

		label {
			@include rem('top',77);
			text-transform: uppercase;
			@include font($brandon700,700,14,20,3.11,#fff);
			max-width: 90%;
			margin: 0 auto;
			display: block;
			&:after {
				@include rem('width',52);
			}
		}

		h4 {
			position: relative;
			max-width: 80%;
			@include rem('top',77);
		 	@include rem('margin',30,auto,0);
		}
		p {
			padding: 0 20px;
			margin: 9px auto;
		}

		&.header {
			width: 100%;
			max-width:940px;
			height:525px;
		  .type {
		  	padding-top:115px;
		  }
		  h4 {
		  	font-size:36px;
		  	padding-top:100px;
		  }
		}

		&.wide {
			width: 100%;
			max-width:940px;
			padding:0;
			background-color:nth($tertiary, 1);
			&.events {
				background-color:nth($gray, 1);
			}
			&.resources {
				background-color:nth($secondary, 1);
			}
			.copy {
				float:left;
				padding:0 10px;
				width:calc(100% - 490px);
			}
			.background {
				width:490px;
				float:right;
				border-top-right-radius:6px;
				border-bottom-right-radius:6px;
			}
		}

		&.post {
			.overlay {
				@include gradient(vertical, nth($tertiary,1) 44%, #d4432f 96%);
			}
		}

		&.resources {
			.overlay {
				@include gradient(vertical, nth($secondary,1) 23%, #008B7E 88%);
			}
		}

		&.link {
			background-color: nth($accent, 1);
			.overlay {
				background: radial-gradient(84% -26%, nth($secondary, 1) 9%, nth($accent, 2) 69%, nth($accent, 1) 100%);
				background: radial-gradient(circle at top left, nth($accent, 1), nth($accent, 2), nth($secondary, 1));
				@include gradient(radial, nth($secondary,1), nth($secondary,2), nth($accent,1));
			}
		}

		&.video {
			position: relative;
			overflow: hidden;
			cursor: pointer;
			transition: box-shadow .25s;
			.thumb,
			.thumb > *,
			.youtube-player {
				position: absolute;
			}
			.thumb,
			.overlay,
			.image,
			.video-placeholder,
			.youtube-player,
			iframe {
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 100;
				border-radius: 6px;
			}
			.youtube-player {
				z-index: 101;
			}
			iframe {
				z-index: 50;
			}
			i,
			h4 {
			  z-index: 200;
			  color: #fff;
			  opacity: 1;
			  transition: opacity .25s;
			}
			i {
				left: calc(50% - 30px);
			  top: calc(50% - 60px);
				width: 60px;
			}
			h4 {
				text-align: center;
				top: calc(50% + 20px);
				margin: 0 5%;
				max-width: 90%;
				width: 90%;
			}
			.image {
				background-size: cover;
    		background-position: center center;
				background-repeat: no-repeat;
			}
			.overlay {
				z-index: 101;
			}
			&:hover {
				box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
			}

			&.header {
				.thumb {
					i {
						width: 90px;
						left: calc(50% - 45px);
					  top: calc(50% - 90px);
					}
					h3 {
						@include font($museo300,300,36,43,0,#fff);
						top: calc(50% + 30px);
						padding: 0 10% 0;
						// top: 50%;
						width: 100%;
						text-align: center;
						z-index: 1000;
					}
					.overlay {
						background: linear-gradient(0deg, #FF8300 0%, #FF612A 100%);
						@include gradient(vertical, nth($primary,1), #FF612A);
					}
				}
			}
		}

	}
	a.block {
		transition:box-shadow .25s;
		&:hover {
			box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
		}
	}
}

section.main + .callouts {
	padding: 50px 0 75px;
	margin: 0 auto;
	border-top: 1px solid #E9EAEE;

	> h2 {
		margin-bottom: 20px;
	}
}

@include screen('large') {
	.callouts {
		width: 100%;
		.block, .event {
			max-width: calc(100% - 40px);
			width: calc(50% - 40px);
			&.wide {
				.copy {
					width: 45%;
				}
				.background {
					width: 55%;
				}
			}
		}
	}
}

@include screen('medium') {
	.callouts {
		width: 100%;
		.block, .event {
			max-width: calc(100% - 40px);
			width: calc(50% - 40px);
			&.wide {
				.copy {
					width: 45%;
				}
				.background {
					width: 55%;
				}
			}
		}
	}
}

@include screen('small') {
		.callouts {
      margin: 0 auto;
      h2 {
        margin-top: 40px;
      }

    }

}

@include screen('tiny') {
	.callouts {
		h2 {
			@include font($avenir400,400,36 / $retina_diff,36 / $retina_diff,0,nth($gray, 1));
		}
	}
section {
	&.callouts,
	&.events {
		.block, .event {
			max-width: 90vw;
			width: 90vw;
			margin: 0 5vw 5vw;
			height: auto;
			min-height: 70vw;
			h4 {
				@include font-size(36 / $retina_diff);
				@include line-height(40 / $retina_diff);
				margin: 0 auto;
				max-width: 90%;
			}
			label {
				top: 3.5rem;
				@include font-size(11);
				@include letter-spacing(2.5);
				+ h4 {
					top: 3.5rem;
					margin-top: 2rem;
				}
			}
			.copy {
				// top: 3.5rem;
				label {
					padding-top:0;
				}
			}
			&.header {
				height: 90vw;
				width: 90vw;
				.dates {
					// padding-top: 30%;
				}
				h4,
				h3 {
					@include font-size(40 / $retina_diff);
					@include line-height(48 / $retina_diff);
					padding: 0 2.5%;
				}
				&.video {
					.thumb {
						i {
							width: 20%;
							left: 50%;
							top: 35%;
							transform: translate(-50%,-50%);
						}
						h3 {
							@include font-size(44 / $retina_diff);
							@include line-height(54 / $retina_diff);
							padding: 0 2.5%;
							top: 50%;
						}
					}
				}
			}
			&.wide {
				height: 115vw;
				width: 90vw;
				.copy,
				.background {
					width: 100%;
					height: 50%;
				}
				.background {
					border-radius: 0 0 6px 6px;
				}
				.copy {
					padding-bottom: 34px / $retina_diff;
				}
				label {
					// padding-top: 58px / $retina_diff;
					padding-top:0;
					top: 2.5rem;
					+ h4 {
						top: 2.5rem;
					}
				}

			}
		}
	}

	&.events {
		margin-top: -40vw;
		.event {
			min-height: 61vw;
			&.featured {
				min-height: 82.5vw;
			}
		}
	}
}
}
