footer {
	@include rem('margin-top',100);
	.container {
		max-width:850px;
		width: 100%;
	}

	.super-footer {
		width:100%;
		background:#fff;
		text-align:center;
		@include rem('padding',90,0);
		h3 {
			@include font($avenir400,400,36,50,0,nth($accent,1));
			margin-top: 0;
			margin-bottom: .4rem;
		}
		p {
			font-size: 1.4rem;
		}
		.btn {
			line-height:1.29rem;
			background: nth($primary, 1);
			padding: 25px 0 23px;
			width: 50%;
			letter-spacing:5.25px;
			border: 2px solid nth($primary, 1);
			margin-top:1.4rem;
			font-size:1.29rem; // 18px
			&:hover {
				color: nth($primary, 1);
				background: transparent;
			}
		}
	}

	.main-footer {
		@include rem('padding',75,0);
		.container {
			background: nth($gray, 4);
		}
		.col-2-3 {
			.col- {
				padding-right: 3.5rem;
				margin-bottom: 1.4rem;
			}
		}
		h5 {
			margin-top:0;
			margin-bottom:1.4rem;
			font-family: $brandon300;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 1.29rem;
			color: nth($secondary, 1);
			letter-spacing: 4px;
		}
		ul {
			margin:0;
			padding:0;
			list-style:none;
		}
		li {
			@include font($avenir400,400,14,28,0,nth($gray,2));
			a {
				color:nth($gray,2);
				&:hover {
					color:nth($gray, 1);
				}
			}
		}
		input[type=email] {
			background-image: url('../img/icons/ico-carrot-turq.svg');
			background-position: calc(100% - 25px) center;
			background-repeat: no-repeat;
			text-indent: 0;
			@include font-size(20);
			@include line-height(30);
			@include rem('height',65);
			@include rem('padding',18,25);
			@include rem('margin-top',25);
			@include rem('background-size',15);
		}
	}

	.logo {
		margin:0 0 2.14rem 2px;
		max-width:100%;
		height:auto;
	}

	.socials {
		a {
			@include rem('margin-right',10);
			display: inline-block;
			height: 3.5rem;
			border-radius: 3.5rem;
			i {
				img {
					width: 3.5rem;
					height: 3.5rem;
				}
			}
			&:hover {
				opacity: .75;
				transition: opacity .2s;
			}
		}
	}

	.mobile-footer {
		background-color: nth($gray, 4);
	  color: nth($gray, 1);
	  padding-top: 5rem;
		.container {
	    background: transparent;
	  }
	  .logo {
	    max-width: 400px;
			width: 70vw;
	    margin: 0 auto 3.57rem;
	    display: block;
	  }
		section {
	    width: 90%;
	    margin: 0 auto;
	    padding: 1.79rem 0;
	    border-bottom: 1px solid nth($gray, 3);
	    &:first-of-type {
	      border-top: 1px solid nth($gray, 3);
	    }
	  }
		.accordion {
			background-color: nth($gray, 4);
			color: nth($secondary, 1);
			cursor: pointer;
			padding: 1.29rem 2.29rem 1.29rem 0;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			transition: 0.4s;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			@include font-size(36 / $retina_diff);
			@include line-height(52 / $retina_diff);
			@include letter-spacing(4 / $retina_diff);
			&:hover,
			&.active {
				background-color: nth($gray, 4);
				color: nth($secondary, 1);
			}
			img {
				width: .75rem;
				@include rem('height',52 / $retina_diff);
				transform: rotate(90deg);
				transition: transform .4s;
				display: inline;
				margin-left: 1.5rem;
				position: absolute;
			}
			&.active {
				img {
					transform: rotate(270deg);
				}
			}
			+ div {
				padding: 0 2.5%;
				background-color: transparent;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;

				.menu {
					text-align: center;
					background: inherit;
					li {
						a {
							display: block;
							font-size: 1.57rem;
							line-height: 2.14rem;
							padding: 1rem 0;
							color: nth($gray,2);
							@include font-size(28 / $retina_diff);
							@include line-height(32 / $retina_diff);
						}
					}
				}
			}
			.menu {
				list-style: none;
				padding: 0;
				li {
					a {
						color: nth($gray,2);
						letter-spacing: 0;
						font-size: 1.57rem;
						line-height: 2.14rem;
						&:hover {
							color: nth($gray, 1);
						}
					}
				}
			}
		}
	}

	.utility-nav {
		color:nth($gray,2);
		font-size:.93rem;
		text-align:center;
		width:100%;
		@include rem('margin',100,auto,25);
		> .menu {
			display:inline;
			margin:0;
			padding:0;
			li {
				display:inline;
				margin:0;
				margin-left:1.07rem;
				padding:0;
				padding-left:1.07rem;
				border-left:1px solid;
				color:nth($gray,2);
				font-size:.93rem;
				a {
					color:nth($gray,2);
					&:hover {
						color: nth($gray, 1);
					}
				}
			}
		}
	}
}



// @include screen('large') {}

@include screen('medium') {
	footer {
		.main-footer {
			@include rem('padding',75,20);
			.col-2-3 .col- {
				@include rem('padding-right',40);
      }
		}
		.socials {
			text-align: center;
		}
		.utility-nav {
			@include rem('margin-top',50);
		}
	}
}

@include screen('small') {
	footer {
    margin-top: 0;
  }
}

@include screen('tiny') {
	footer {
		.super-footer {
			@include rem('padding',55 / $retina_diff,35 / $retina_diff);
			h3 {
				width: 100%;
				margin: 0 auto;
				@include font-size(40 / $retina_diff);
				@include line-height(50 / $retina_diff);
			}
			.btn {
				width: 100%;
				@include font-size(30 / $retina_diff);
				@include line-height(40 / $retina_diff);
				@include letter-spacing(9 / $retina_diff);
				@include rem('margin',40 / $retina_diff,auto,0);
			}
		}

		.socials {
			text-align: center;
			@include rem('margin',60,0);
			a {
				display: inline-block;
				float: none;
				max-width:20vw;
				max-height: 20vw;
				margin: 0;
				@include rem('width',85);
				@include rem('height',85);
				// @include rem('margin',0,18);
				i,
				i > img {
					width:100%;
					height: 100%;
				}
				+ a {
					margin-left: 5vw;
				}
			}
		}

		.utility-nav {
			letter-spacing: 0;
			@include rem('margin-top',50);
			@include rem('padding-bottom',75);
			&,
			.menu li a {
				font-family: $proxima400;
				color: nth($gray,2);
				@include font-size(22 / $retina_diff);
				@include line-height(30 / $retina_diff);
				margin-bottom: 0;
			}
		}
	}
}
