.guidance-solutions {
	background: #FAFAFA;
	padding-bottom: 5rem;

	@include screen('small') {
		padding: 2rem 5vw;
	}

	h2 {
		text-align: center;
		margin-top: 18px;
	}

	.section-solutions {
		padding-top: 50px;
		padding-bottom: 22px;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				height: 300px;
				border-radius: 5px;
				border: solid 1px rgba(94, 95, 97, 0.21);
				background-color: #ffffff;
				margin-bottom: 60px;
				transition: opacity 1s, box-shadow .25s;
				overflow: hidden;
				opacity: 0;
				display: flex;

				@include screen('small') {
					height: auto;
					flex-direction: column;
					justify-content: center;
					margin-bottom: 40px;
				}

				&:nth-child(2n) {
					flex-direction: row-reverse;

					@include screen('small') {
						flex-direction: column;
					}

					.wrapper-image {
						background-color: nth($primary, 1);
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				.wrapper-image,
				.description {
					width: 50%;

					@include screen('small') {
						width: 100%;
						height: 150px;
					}
				}

				&.visible {
					opacity: 1;
				}

				.wrapper-image {
					background-color: nth($secondary, 1);
					display: flex;
					align-items: center;
					justify-content: center;

					@include screen('small') {
						padding: 20px 30px;

						img {
							height: 100px;
						}
					}
				}

				.description {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 24px;
					font-weight: 500;
					color: #5e5f61;
					text-align: center;
					padding: 20px 90px;
					font-family: $museo500;

					@include screen('medium') {
						padding: 20px 30px;
					}
				}
			}
		}
	}
}