// =======================================
//
//  Page/Post Hero (Header)
//  (.hero, .landing-header, .entry-header)
//
// =======================================

header {
	&:not(.top-bar) {
		height: 600px;
		color:#fff;
		text-align: center;
		position: relative;
		background-position: center center;
		.overlay {
			opacity:.85;
		}
		.copy {
			text-align: center;
			position: relative;
			width: 80%;
			height: calc(100% - 200px);
			max-width:980px;
			margin:0 auto;
			color: #fff;
			@include rem('top',100);
			h1 {
				@include font($museo300,300,48,55,1.71,#fff);
				// @include rem('margin-top',57);
				width: 80%;
				position: absolute;
				// top: 50%;
				top: 70%;
				left: 50%;
				transform: translate(-50%,-50%);
				> strong {
					font-family: $museo700;
					font-weight: 700;
				}
			}
			p {
				@include font($avenir500,500,20,27,.4,#fff);
				position: absolute;
				bottom: -50px;
			}
		}
	}

	&.landing-header {
		height: 350px;

		.overlay {
			@include gradient(radial, nth($primary,1), nth($primary,2), nth($tertiary,1));
		}
		.copy {
			position: relative;
			width: 90%;
			max-width:980px;
			margin:0 auto;
			color: #fff;
			@include rem('top',100);
		}
		&.resources-header {
			.overlay {
				@include gradient(vertical, nth($secondary,1) 23%, #008B7E 88%);
			}
		}

		&.commercial-market-header {
			.overlay {
				@include gradient(vertical, nth($secondary,1) 23%, #008B7E 88%);
			}
			.copy h1 {
				width: 100%;
			}
		}
	}

	&.hero {
		height:800px;
		width:100vw;
		max-width: 1300px;
		position: relative;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		color:#fff;
		text-align: center;

		* {
			color:#fff;
			text-align: center;
		}

		.overlay {
			opacity:.75;
			@include gradient(radial, nth($primary,1), nth($primary,2), nth($tertiary,1));
		}

		.copy {
			max-width: 750px;
			h1 {
				@include font-size(36);
				letter-spacing: 0;
			}
		}

		.feature {
			position: absolute;
			@include rem('bottom',200);
			margin: 0 auto;
			border: none;
			@include rem('height',450);
			max-width: 100vw;
			background: transparent;
			ul {
				@include rem('max-height',450);
			}
			.qa-slide {
				@include rem('height',450);
				width: 90%;
			}
			.flex-direction-nav {
				display: none !important;
			}
			.question {
				width: 100%;
				max-width: 650px;
				padding: 0;
				border-bottom: 1px solid #fff;
				display: block;
				margin: 0 auto;
				text-align: left;
				position: absolute;
				bottom: 0;
				left: 53%;
        transform: translateX(-50%);
				@include font($avenir400,400,24,33,0,transparent);
				> span {
					color: #fff !important;
				}
				&:before {
			    content: 'Q:';
			    position: absolute;
					left: -3.5rem;
					@include font($museo900,900,36,inherit,0, #fff);
				}
			}
			.fake-btn {
				@include font($avenir500,500,16,33,1,#fff);
				text-transform: none;
				border: 1px solid #fff;
				width: 80px;
				background:transparent;
				position: absolute;
				bottom: 5px;
				margin-left: 310px;
				left: 50%;
				transform: translateX(-50%);
			}
			.answer {
				@include rem('height',350);
				@include rem('width',850);
				max-width: 750px;
				position: relative;
				margin: 0 auto;
				opacity: 0;
				&.visible {
					opacity: 1;
					transition: opacity 2s;
				}
				img {
					// display: none;
					width: auto;
					height: auto;
					@include rem('max-height',350);
					@include rem('max-width',750);
					margin: 0 auto;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

		i.scroll {
			position: absolute;
			bottom:2.5rem;
			left:50%;
			width:2.14rem;
			height: 4.8rem;
			margin-left:-1.07rem;
			> img {
				max-height: 100%;
				margin: 0;
			}
		}

		@include screen('large') {
			h2 {
				@include rem('padding-top', 150);
				@include line-height(46);
				width: 80%;
				margin: 0 auto;
			}
		}
	}

}

.blog,
.category,
.archive,
.taxonomy {
	.landing-header .overlay {
		@include gradient(vertical, nth($tertiary,1) 44%, #d4432f 96%);
	}
}

.page-template-page-events .landing-header .overlay {
	@include gradient(144deg,nth($neutral,2), nth($secondary,2));
}

.post-type-archive-press .landing-header .overlay {
	@include gradient(140deg,nth($gray,1), nth($tertiary,1));
}


//
//  Hero Subnav
// -------------------------------
// ul.header-subnav,
header nav.subnav {
	position: absolute;
	list-style: none;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	&.solutions-subnav {
		bottom:-18px;
	}
	> ul li {
		display: inline-block;
		border-bottom:4px solid transparent;
		padding: 0 7px;
		margin:0 20px;
		a {
			color:#fff;
			display: block;
			font-size: 16px;
			line-height: 22px;
			padding: 0 0 20px;
			max-width: 100px;
		}
		&:hover {
			border-color:nth($secondary, 1);
		}
		&.current_page_item {
    	border-color: nth($secondary, 1);
		}
		&.has-children {
			position: relative;
			a {
				img {
					max-width: 18px;
				}
			}
			.sub-menu {
				height: 0;
				width: 0;
				position: absolute;
				overflow: hidden;
				padding: 0;
				margin: 0;
				list-style: none;
				min-width: 170px;
				background: nth($secondary, 1);
				box-shadow: 0 9px 10px 0 rgba(0,0,0,0.19);
				border-radius: 5px;
				left: -100%;
				top: 90%;
				z-index: 100;
				&:before {
					content: '';
					width: 20px;
					height: 20px;
					background: nth($secondary, 1);
					transform: rotate(45deg);
					border-radius: 0 0 20px 0;
					position: relative;
					left: calc(50% - 10px);
					top: -10px;
					margin-bottom: -10px;
					display: block;
					z-index: 10;
				}
				li {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
					text-align: center;
					line-height: 20px;
					text-transform: none;
					letter-spacing: normal;
					&:nth-child(n+2) {
						border-top: 1px solid rgba(255,255,255,.2);
					}
					a {
						display: block;
						color: #fff;
						font-family: $sans;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						padding: 10px 20px;
						max-width: 100%;
						&:hover {
							background-color: rgba(#000,.1);
						}
					}
				}
			}
			&:hover {
				border-color: transparent;
				.sub-menu {
					height: auto;
					width: auto;
					overflow: visible;
				}
			}
		}
	}
}


@include screen('medium') {
	header {
		&:not(.top-bar) {
			.copy {
				width: 80%;
				h1 {
					font-size: 40px;
				}
				p {
					display: none;
				}
			}
		}
	}
	.landing-header {
		@include rem('height',800);
		nav.subnav {

			color: #fff;
			&,
			&.solutions-subnav {
				bottom: 60px;
			}
			.dropdown-container {
				left: 50%;
				transform: translateX(-50%);
				.dropdown {
					.title {
						color: #fff;
						&:after {
							background-image: url('../img/icons/ico-carrot-dropdown-white.svg');
						}
					}
				}
			}
		}
	}
	.resource-type-links {
		bottom: 80px;
		position: absolute;
		width: 100%;
		z-index: 100;
		> a,
		> ul {
			display: none;
		}
		.dropdown-container {
			display: block;
			width: 100%;
			left: 0;
			color: #fff;
			.dropdown {
				&:not(.closed) {
					.dropdown-menu {
						height: 200px !important;
						ul {
							top: 0 !important;
						}
					}
				}
				.title {
					// height: 60px / $retina_diff;
					height: 60px;
					border-bottom: none;
					text-transform: none;
					@include rem('padding',15);
					@include font($proxima700,700,24,30,0,#fff);
					.image {
						display: block;
						float: left;
						// width: 35px / $retina_diff;
						// height: 35px / $retina_diff;
						width: 35px;
						height: 35px;
						@include rem('margin',0,15,0,0);
						background-size: contain;
						background-repeat: no-repeat;
						&.white-papers,
						&.all {
							margin-top: -5px;
						}
						&.smart-stuff {
					    height: 40px;
					    width: 40px;
					    margin-top: -8px;
					    margin-left: -5px;
						}
					}
					label {
						text-transform: none;
						float: left;
						@include font($proxima700,700,24,30,0,#fff);
					}
					&:after {
						width: 60px / $retina_diff;
						height: 60px;
						right: 0;
						background-image: url('../img/icons/ico-carrot-dropdown-white.svg');
					}
				}
				.dropdown-menu {
					max-height: 200px;
				}
				ul {
					background: rgba(nth($secondary, 1),.9);
					top: 0 !important;
					li {
						overflow: visible;
						transition: none;
						padding: 0;
						a {
							float: none;
							position: relative;
							display: block;
							width: 100%;
							margin: 0 auto;
							border: none;
							z-index: 1000;
							padding: 0 20px;
							.image {
								display: block;
								width: 20px;
								height: 20px;
								left: 0;
								margin: 10px 0; //10px 20px 10px 0;
								float: left;
								background-size: contain;
							}
							label {
								border: none;
								line-height: 40px;
								color: #fff;
								float: left;
								display: block;
							}
							&:hover {
								background-color: rgba(0,0,0,.05);
								transition: background-color .2s;
							}
							&.smart-stuff {
								.image {
									// width: 30px;
									height: 40px;
									// margin-top: 5px;
									// margin-bottom: 5px;
									// margin-left: -5px;
									margin: 0 0;
								}
								label {
									// margin-left: -5px;
								}
							}
						}
						&.current_page_item {
							display: none;
						}
						&:hover {
							background: transparent;
							// a {
							//   border-color: nth($primary, 1);
							//    transition: border-color .2s;
							// }
						}
					}
				}
			}
		}
	}

}

@include screen('tiny') {
	header {
		&:not(.top-bar) {
			height: 80vh;
			top: 50%;
			.copy {
				h1 {
					@include font($museo300,300,48 / $retina_diff,55 / $retina_diff,1.71 / $retina_diff,#fff);
					> strong {
						display: inline-block;
					}
				}
			}
		}
		&.entry-header {
			//height: 65vh;
			height: 35vh;
		}
		&.hero {
	    h1 {
	      top: 55%;
	      width: 90vw;
	      @include font-size(64 / $retina_diff);
	      @include line-height(77 / $retina_diff);
	    }
	    i.scroll {
	      display: none;
	    }
	  }
	}

}



//
// @include screen('(max-width:420px)') {
// 	header:not(.top-bar) {
// 		.copy {
// 			label.type {
// 				&:after {
// 					left: 75%;
// 				}
// 			}
// 		}
// 	}
// }
