.in-action {
	display: flex;

	@include screen('medium') {
		flex-direction: column;
	}

	.column {
		width: 50%;
		background-image: radial-gradient(circle at 86% -5%, #49d0e4, #29b5a8 73%);
		color: #ffffff;

		@include screen('medium') {
			width: 100%;
		}

		&:nth-child(1) {
			padding: 60px 53px 70px 90px;
			line-height: 1.5;
			font-size: 18px;
			color: #ffffff;

			@include screen('small') {
				padding: 2rem 5vw;
			}

			p {
				color: inherit;
			}

			h4 {
				font-family: $avenir400;
				font-size: 36px;
				font-weight: 400;
				padding-bottom: 16px;
			}
		}

		&:nth-child(2) {
			background-size: cover !important;

			@media screen and (max-width: 991px) {
				display: none;
			}
		}
	}
}