// =======================================
//
//  Index Grid
//
// =======================================

.index {
	max-width: 1200px;
	width: 95%;
	padding-top:100px;
	margin:0 auto;
	padding-bottom:80px;

	&.layoutPending {
		opacity: 0;
		transition: opacity .5s;
	}
	&.layoutComplete {
		&,
		&.layoutPending {
			opacity: 1;
			transition: opacity .5s;
		}
	}

	.block {
		margin:0 0 40px;
		float:left;
		position: relative;
		color:nth($gray, 1);
		border-radius:6px;
	}
	.block,
	.block-sizer {
		width: 360px;
		width: calc((1200px - 80px) / 3);
		height: auto;
	}
	.gutter-sizer {
		width: 40px;
		height: 1px;
	}
	&.resource-index,
	&.press-index {
		.block {
			background:#F7F5F5 calc(100% - 20px) 20px no-repeat;
			background-size:auto 30px;
			padding:80px 20px 20px;
			transition:box-shadow .25s;
			&:hover {
				box-shadow: 0px 7px 32px 0px rgba(0,0,0,0.25);
			}
			h3 {
				font-family: $slab;
				font-weight:700;
				font-size:28px;
				line-height: 30px;
				color: nth($primary, 1);
				margin-bottom: 15px;
			}
			p {
				margin:0;
			}
		}
	}
	+ footer {
		margin: 0 auto 80px;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}


@include screen('large') {
	.index {
    .block,
    .block-sizer {
  		width: 30%;
  	}
  	.gutter-sizer {
  		width: 3.333333%;
  	}
  }
}
@include screen('medium') {
	.index {
    padding-top: 75px;
    .block,
    .block-sizer {
  		width: 47.5%;
  	}
  	.gutter-sizer {
  		width: 5%;
  	}
  }
}
@include screen('tiny') {
	.index {
	  margin-top: 7vw;
	  width: 100vw;
	  .block,
	  .block-sizer {
			width: 86vw;
	    height: 86vw;
		}
		.gutter-sizer {
			width: 7vw;
		}
	  .block {
	    margin: 0 7vw 7vw;
	  }

	}
}
