.section-capabilities {
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 68px;

	@include screen('large') {
		padding: 0 40px;
	}

	@include screen('small') {
		padding: 0 5vw;
	}

	h3 {
		color: #747577;
		text-align: center;
	}

	ul {
		padding: 40px 0 20px 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			width: calc(50% - 40px);
			border-radius: 5px;
			border: solid 1px rgba(94, 95, 97, 0.21);
			background-color: #ffffff;
			margin-bottom: 39px;
			display: flex;
			margin-right: 20px;
			margin-left: 20px;
			transition: box-shadow .25s;
			padding: 35px 25px;

			@include screen('medium') {
				flex-direction: column;
				align-items: center;
				text-align: center;
			}

			@include screen('tiny') {
				width: 100%;
				margin-right: 0;
				margin-left: 0;
			}

			&:hover {
				box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
			}

			.wrapper-image {
				width: 50%;
				max-width: 220px;
				display: block;

				img {
					width: 220px;
				}

				@include screen('medium') {
					text-align: center;
					width: 100%;
				}
			}

			a {
				display: flex;

				@include screen('medium') {
					flex-direction: column;
					align-items: center;
					text-align: center;
				}
			}
			.meta {
				width: 50%;
				display: flex;
				flex-direction: column;
				padding-left: 25px;
				justify-content: center;

				@include screen('medium') {
					padding-left: 0;
					width: 100%;
					padding-top: 20px;
				}

				.title {
					color: nth($gray, 1);
					font-size: 24px;
					font-family: $museo500;
				}

				.description {
					font-style: normal;
					font-size: 16px;
					line-height: 1.38;
					letter-spacing: normal;
					color: nth($gray, 1);
				}
			}
		}
	}

	p {
		margin-bottom: 60px;
		margin-top: 0;
	}

	.btn {
		padding: 21px 36px;

		&.hidden {
			opacity: 0;
		}
	}
}
