.platform-section {
	padding: 24px 90px 80px;
	background: #FAFAFA;

	@include screen('large'){
		padding: 24px 60px 50px;
	}
	@include screen('medium'){
		padding: 24px 30px;
	}
	@include screen('small'){
		padding: 24px 5vw;
	}

	h2 {
		text-align: center;
		width: 90%;
		max-width: 890px;
	}

	.section-features {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			@include screen('medium'){
				justify-content: center;
			}

			li {
				transition: box-shadow 0.25s;
				width: 350px;
				height: 270px;
				border-radius: 5px;
				border: solid 1px rgba(94, 95, 97, 0.21);
				background-color: #ffffff;
				margin: 11px 10px;

				@include screen('medium'){
					width: 300px;
				}

				@include screen('small'){
					width: 100%;
					margin: 11px 0;
				}

				&:hover {
					box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
				}

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					.wrapper-image {
						height: 110px;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						vertical-align: middle;
						overflow: hidden;

						img {
							object-fit: cover;
						}
					}

					.description {
						font-family: $museo300;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: center;
						color: #5e5f61;
						min-height: 2.4em;
						max-width: 240px;
						margin-top: 20px;
					}

				}
			}
		}
	}
}
