.sidebar {
	width:300px;
	height: 100%;
	position: absolute;
	top:260px;
	right:-320px;
	max-height: 100%;
	overflow: auto;

	> .widget_media_image.rectangle {
		position: relative;
		height: auto;
		min-height: 400px;
		img {
			position: absolute;
	    top: 0;
	    border-radius: 5px 5px 0 0;
	    z-index: 8;
	    object-fit: cover;
	    height: 222px !important;
		}
		h2 {
			position: absolute;
			bottom: 180px;
			border-radius: 5px 5px 0 0;
			margin-top: -3rem;
			z-index: 10;
			font-family: "MuseoSlab-700", $slab;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			color: #fff;
			letter-spacing: 0;
			padding: 0 21px 15px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		> div {
			height: auto;
			width: 100%;
			padding: 6px 21px;
			border-radius: 0 0 5px 5px;
			position: absolute;
			top: 222px;
			&:before {
				content: '';
				position: absolute;
				top: -222px;
				left: 0;
				width: 300px;
				height: 222px;
				border-radius: 5px 5px 0 0;
				opacity: .6;
				z-index: 9;
				background-color: inherit;
			}
			p {
				color: #fff;
				font-family: $sans;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}
			a {
				color: #fff;
				font-family: "AvenirNext-DemiBold", $avenir;
				font-weight: 700;
				font-size: 12px;
				letter-spacing: 3.33px;
				text-transform: uppercase;
				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
	> .widget_media_image {
		position: relative;
		height: auto;
		img {
			position: absolute;
			top: 0;
			border-radius: 5px;
			z-index: 8;
			object-fit: cover;
		}
		h2 {
			z-index: 10;
			font-family: "MuseoSlab-700", $slab;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			color: #fff;
			letter-spacing: 0;
			padding: 0 21px 15px;
			overflow: hidden;
			text-overflow: ellipsis;
		}


		&.rectangle {
			min-height: 400px;
			img {
				border-radius: 5px 5px 0 0;
				height: 222px !important;
			}
			h2 {
				position: absolute;
				bottom: 180px;
				border-radius: 5px 5px 0 0;
				margin-top: -3rem;
			}
			> .copy {
				height: auto;
				width: 100%;
				padding: 6px 21px;
				border-radius: 0 0 5px 5px;
				position: absolute;
				top: 222px;
				&:before {
					content: '';
					position: absolute;
					top: -222px;
					left: 0;
					width: 300px;
					height: 222px;
					border-radius: 5px 5px 0 0;
					opacity: .6;
					z-index: 9;
					background-color: inherit;
				}
				p {
					color: #fff;
					font-family: $sans;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
				}
				a {
					color: #fff;
					font-family: "AvenirNext-DemiBold", $avenir;
					font-weight: 700;
					font-size: 12px;
					letter-spacing: 3.33px;
					text-transform: uppercase;
					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
			}
		}

		&.square {
			height: 275px;
			img {
				height: 275px !important;
			}
			h2 {
				text-align: center;
				position: relative;
				padding-bottom: 5px;
				padding-top: 75px;
			}
			h5 {
				font-family: "AvenirNext-DemiBold", $avenir;
				font-size: 12px;
				color: #FFFFFF;
				letter-spacing: 3.33px;
				text-transform: uppercase;
				text-align: center;
				position: relative;
				z-index: 10;
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 300px;
				height: 275px;
				border-radius: 5px;
				opacity: .6;
				z-index: 9;
			}
			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 300px;
				height: 275px;
				border-radius: 5px;
				z-index: 11;
			}
		}

	}

	.widget_recent_entries {
		margin-bottom:45px;
		h2 {
			font-family: "MuseoSlab-700", $slab;
			font-size: 22px;
			line-height: 27px;
			color: nth($secondary, 1);
			letter-spacing: 0;
			margin-top: 50px;
		}
		ul {
      font-family: "ProximaNova-Light", $sans;
      font-weight: 200;
      font-size: 16px;
      color: nth($gray, 1);
      line-height: 22px;
      list-style: none;
      padding-left: 24px;
      li {
        position: relative;
        margin-bottom: 18px;
				overflow: visible;
        &:before {
          content: '';
          background-image: url('../../img/icons/ico-carrot-orange.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
					left: -22px;
			    top: 2px;
			    width: 10px;
			    height: 18px;
        }
        > a {
					color: nth($gray, 1);
        }
      }
    }
	}
}

@include screen('large') {
	.sidebar {
		display: none;
	}
}
