.section-why-health-sparq {
	max-width: 1300px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 24px 68px 0 68px;
	background: #FAFAFA;

	@include screen('large') {
		padding: 24px 40px 0 40px;
	}
	@include screen('small') {
		padding: 24px 5vw 0;
	}

	h2 {
		text-align: center;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include screen('tiny') {
			padding-top: 20px;
		}

		li {
			max-width: 320px;
			width: 100%;
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;
			margin-right: 5px;
			margin-left: 5px;
			text-align: center;
			border-radius: 5px;
			transition: .25s;
			padding: 20px 10px 38px 10px;

			@include screen('small'){
				padding-bottom: 15px;
			}
			@include screen('tiny'){
				max-width: 100%;
			}

			.wrapper-image {
				margin-bottom: 28px;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.meta {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.title {
					font-size: 24px;
					font-family: $museo500;
					margin-bottom: 11px;
					color: nth($gray, 1);

					a {
						color: nth($gray, 1);
					}
				}

				.description {
					font-style: normal;
					font-size: 16px;
					line-height: 1.38;
					letter-spacing: normal;
					color: #5e5f61;
				}
			}
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 60px;
	}

	.btn {
		padding: 21px 36px;

		&.hidden {
			opacity: 0;
		}
	}
}