// =======================================
//
//  Page:  404 Error
//  Slug:  n/a
//
// =======================================



.error404 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  header > .container {
    background: transparent;
    @include rem('padding',50,75);
    a {
      display: block;
      float: left;
      img {
        margin-bottom: 0;
      }
    }
  }

  main {
    background: #fff;
    width: 90%;
    max-width: 960px;
    padding: 10rem 12rem 6rem;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    h1 {
      margin: 1.79rem 0 2.14rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .menu {
      padding: 0;
      list-style: none;
      li {
        line-height: 1.36rem;
        &.btn {
          display: none;
        }
        a {
          display: block;
          &,
          &:visited {
            font-family: $brandon500;
            font-weight: 500;
            text-transform: uppercase;
            color: nth($primary, 1);
            font-size: .93rem;
            line-height: 1.36rem;
            letter-spacing: .03rem;
            display: block;
          }
          &:hover {
            color: nth($primary, 3);
          }
        }
        ul {
          display: none;
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;

    .main-footer,
    .mobile-footer {
      @include rem('padding',50,0);
    }
    .utility-nav {
      margin: 0;
    }
  }
}

@include screen('medium') {
  .error404 {
    main {
      padding: 6rem 8rem 4rem;
    }
  }
}
@include screen('tiny') {
  .error404 {
    background: nth($gray, 4);
    header > .container .logo {
      width: 250px;
    }
    main {
      padding: 6rem 6rem 4rem;
      width: 100%;
      border-radius: 0;
      top: 40%;
      .menu {
        li {
          display: inline-block;
          margin: .5rem 1rem .5rem 0;
          a {
            padding: 10px 15px 10px 0;
          }
        }
      }
    }
  }
}
