// =======================================
//
//  Page:  About
//  Slug:  /about
//
// =======================================


.about {
  h2 {
    @include font($museo500,500,48,57,0,nth($secondary, 1));
    margin: 0 auto;
  }
  h3 {
    @include font($avenir400,400,24,30,0,nth($primary, 1));
  }
  .main {
    ul {
      font-family: "ProximaNova-Semibold", $sans;
      font-weight: 600;
      list-style: none;
      padding-left: 70px;
      li {
        position: relative;
        margin-bottom: 18px;
        &:before {
          content: '';
          background-image: url('../../img/icons/ico-carrot-orange.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: -18px;
          top: 9px;
          width: 7px;
          height: 14px;
        }
        > p {
          margin: 0 auto;
        }
      }
    }
  }
}



//
// Team Section (Slider)
// -------------------------------------

$slide-height: 450px;
.team-slider {
	border:none;
	color:#fff;
	.slides {
		> li {
			height: $slide-height;
		}
	}

	ul {
		list-style: none;
		margin:0;
		padding:0;
	}

	.flex-control-paging {
		bottom:50px;
		left:45%;
		text-align:left;
		z-index:100;
		li {
			&:first-child {
				margin-left:0;
			}
			a {
				background:rgba(nth($gray, 4),.4);
				box-shadow:none;
				&:hover,
				&.flex-active {
					background:nth($gray, 4);
				}
			}
		}
	}

	.nav-arrows {
		a {
			height: $slide-height;
		}
	}

	.team-slide {
		height:$slide-height;
		position:relative;
		.copy {
			position: absolute;
			left:45%;
			bottom: 105px;
			width: 575px;

			h4 {
				@include font($museo300,300,36,43,0,#fff);
			}
			h5 {
				@include font($museo300,300,18,30,0,#fff);
				opacity: .75;
			}
			p {
				margin-bottom: 0;
				margin-top: 20px;
				@include font($proxima300,300,18,30,0,#fff);
			}
		}
		.image {
			img {
				max-width:400px;
				width: 100%;
				height:auto;
				position: absolute;
				bottom:0;
				left:10%;
        opacity: 1;
        transition: opacity .5s;
				&.pie {
					display:none;
				}
        &.placeholder {
          bottom: -10%;
          opacity: 0;
          transition: opacity .5s;
        }
        &.lazy {
          opacity: 0;
          + .placeholder {
            opacity: 1;
          }
        }
			}
		}
	}

}



//
// Leadership Section & Modal
// -------------------------------------

.leadership {
	padding:50px 0 0;
	max-width:1160px;
	width: 100%;
	margin:0 auto;
	h2 {
		text-align: center;
		margin-bottom:50px;
	}

  .leader {
  	height:250px;
  	width:540px;
  	border-radius: 6px;
  	float:left;
  	margin:20px;
  	overflow:hidden;
  	color:#fff;
  	cursor:pointer;
  	transition:box-shadow .25s;
  	&:hover {
  		box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
  	}
  	.image {
  		height:250px;
  		width:250px;
  		position: relative;
  		float:left;
  		border-top-left-radius: 6px;
  		border-bottom-left-radius: 6px;
  	}
  	.background {
  		border-top-left-radius: 6px;
  		border-bottom-left-radius: 6px;
  	}
  	.overlay {
  		opacity:.25;
  		border-top-left-radius: 6px;
  		border-bottom-left-radius: 6px;
  	}
  	.copy {
  		padding: 30px;
  	  padding-bottom: 0;
  	  border-bottom: 30px solid transparent;
  	  height: 250px;
  	  overflow: hidden;
  		h4 {
  			@include font($museo500,500,24,29,0,#fff);
  			margin: 0;
  		}
  		h5 {
  			@include font($museo300,300,18,22,0,#fff);
  			opacity: .9;
  		}
  		p {
  			@include font($proxima300,300,16,22,0,#fff);
  			max-height: calc(22px * 5);
  			overflow: hidden;
  		}
  	}
  }

}

.leader.modal {
	width: 100%;
	max-width: 1120px;
	height: auto;
	min-height: 400px;
	max-height: 575px;
	float: none;
	margin: 0 auto;
	padding: 0;
	text-align: left;

	.remodal-close {
		color: #fff;
	}
	.image {
	  height: 576px;
		margin-top: -1px;
	  width: 45%;
    display: block;
    float: left;
    position: relative;
    .background {
      z-index: 100;
      border-radius: 10px 0 0 10px;
    }
    .overlay {
      z-index: 101;
      border-radius: 10px 0 0 10px;
      opacity: .25;
    }
	}
	.copy {
    position: relative;
    display: block;
    float: right;
	  height: 575px;
		width: 55%;
	  overflow: hidden;
		padding: 41px 66px 41px 55px;
		color: #fff;
		h4 {
			@include font-size(36);
			@include line-height(43);
      color: #fff;
		}
		h5 {
			@include font-size(24);
      color: #fff;
		}
		p {
      color: #fff;
		  @include font-size(18);
			max-height: none;
			overflow: visible;
			&:first-child:not(:empty) {
			  font-family: $museo500;
				font-weight: 500;
			}
		}
		.content {
			max-height: 79%;
		  overflow: auto;
		  padding-right: 15px;
		}
	}
}



//
// Media Queries
// -------------------------------------

@include screen('large') {
  .team-slide {
    .image {
      img {
        left: 5%;
      }
    }
    .copy {
      width: 50%;
    }
  }
	.leadership {
		width: 100%;
		.leader {
			width: 48%;
			margin: 20px 1%;
		}
	}
}

@include screen('medium') {
  .team-slide {
    .image {
      img {
        left: 5%;
      }
    }
    .copy {
      width: 50%;
    }
  }
  .leadership {
		.leader {
			width: 48%;
			margin: 20px 1%;
		}
	}
  .leader.modal {
    .image {
      height: 90vw;
      width: 100vw;
      &,
      .background {
        border-radius: 6px 6px 0 0;
      }
    }
    .copy {
      border-radius: 0;
      width: 100vw;
      height: calc(100vh - 90vw);
      border-bottom: 10vmin solid transparent;
      padding: 10vmin;
      h4 {
        @include font-size(36 / $retina_diff);
        @include line-height(43 / $retina_diff);
      }
      h5 {
        @include font-size(30 / $retina_diff);
      }
      p {
        @include font-size(24 / $retina_diff);
        @include line-height(40 / $retina_diff);
        max-height: none;
        overflow: visible;
        &:first-child:not(:empty) {
          margin-top: 1rem;
          font-family: $museo500;
          font-weight: 500;
        }
      }
    }
  }
}
@include screen('small') {
  .team-slider {
		.slides {
			> li {
				height: 550px;
			}
			.team-slide {
				.image {
					img {
						width: 45%;
						left: 0;
					}
				}
				.copy {
					width: 52%;
					left: 45%;
				}
			}
		}
		.flex-control-paging {
			left: 45%;
		}
		.nav-arrows {
			// display: none;
		}
	}
	.leadership {
		.leader {
			width: 90%;
			margin: 20px 5%;
		}
	}
}
@include screen('tiny') {
  .about {
    h2 {
      @include font-size(48 / $retina_diff);
      @include line-height(57 / $retina_diff);
    }
    h3 {
      @include font-size(30 / $retina_diff);
      @include line-height(40 / $retina_diff);
    }
    .main {
      ul {
        padding-left: 7vw;
        li {
          &,
          p {}
          &:before {
            @include rem('width',10);
            @include rem('height',20);
            left: -5vw;
            top: 2px;
          }
        }
      }
    }
  }

  .team-slider {
    .slides {
      > li {
        height: 90vh;
      }
      .team-slide {
        .image {
          img {
            position: relative;
            max-width: 100%;
            max-height: 45vh;
            margin-top: 3%;
            width: 45vh;
            left: auto;
            margin: 2vh auto;
          }
        }
        .copy {
          // position: relative;
          width: 80%;
          left: 10%;
          top: auto;
          bottom: auto;
          top: 49vh;
          h4 {
            @include font-size(54 / $retina_diff);
            @include line-height(44 / $retina_diff);
            letter-spacing: 0;
            margin-bottom: 5px;
          }
          h5 {
            @include font($museo300, 300, 36 / $retina_diff,32 / $retina_diff,0,rgba(#fff,.75));
            margin-bottom: 1rem;
          }
          p {
            @include font-size(36 / $retina_diff);
            @include line-height(48 / $retina_diff);
            margin: 0 auto;
          }
        }
      }
    }
    .flex-control-paging {
      width: 70%;
      text-align: center;
      left: 15%;
      bottom: 3%;
    }
    .nav-arrows {
      display: none;
    }
  }

  .leadership {
    padding: 0;
    .leader {
      width: 90vw;
      height: 120vw;
      .image {
        height: 90vw;
        width: 90vw;
        &,
        .background {
          border-radius: 6px 6px 0 0;
        }
      }
      .copy {
        height: 30vw;
        padding: 8vw 10vw;
        border-bottom: none;
      }
      h4 {
        @include font-size(54 / $retina_diff);
        line-height: 1.2;
      }
      h5 {
        @include font-size(36 / $retina_diff);
        line-height: 2;
      }
      p {
        @include font-size(28 / $retina_diff);
        display: none;
      }
    }
  }
}
