.index.blog-index {
	@include rem('margin',70,auto,0);
	@include rem('padding-bottom',80);
	padding-top: 0;
	.block {
		text-align:center;
		margin: 0 0 50px;
		font-family:$sans;
		font-size:16px;
		font-weight:300;
		height: 550px;
		.image {
			background:center center no-repeat;
			background-size:cover;
			width:100%;
			height:240px;
			border-radius:6px;
			transition:box-shadow .25s;
			&.default {
				background-image: url('../../img/blog-placeholder.jpg');
			}
		}
		h3 {
			font-family: "MuseoSlab-500", $slab;
			color: nth($primary, 1);
			font-weight: 500;
			font-size: 24px;
			letter-spacing: 0;
			line-height: 30px;
			margin: 25px auto 20px;
			max-height: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.author {
			font-family: "MuseoSlab-500", $slab;
			color:#cccccc;
			font-size:13px;
			line-height: 30px;
			padding:0;
			margin-top: 18px;
		}
		.snippet {
			font-family: "ProximaNova-Light", $sans;
			font-weight: 200;
			font-size: 16px;
			color: nth($gray, 1);
			line-height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 120px;
			max-height: 120px;
		}

		&:hover {
			.image {
				box-shadow: 0px 7px 32px 0px rgba(0,0,0,0.25);
			}
			h3 {
				color: nth($secondary, 1);
				transition: color .25s;
			}
		}
	}

}

@include screen('tiny') {
	.index.blog-index {
		padding-bottom: 0;
		.block, .block-sizer {
			width: 90vw;
			height: auto;
		}
		.block {
			margin: 0 5vw 20vw;
			.image {
				height: 60vw;
			}
			h3 {
				@include font-size(50 / $retina_diff);
				@include line-height(58 / $retina_diff);
				@include rem('max-height',4 * (58 / $retina_diff));
			}
			.snippet {
				@include font-size(30 / $retina_diff);
				@include line-height(40 / $retina_diff);
				@include rem('max-height',4 * (40 / $retina_diff));
			}
			.author {
				@include font-size(24 / $retina_diff);
				@include line-height(30 / $retina_diff);
			}
		}
		+ footer {
			margin: 0 auto 3rem;
		}
	}
}
