
.page-template-page-commercial-market {

	.meet-one {

		&.main {
			padding-bottom: 20px;

			@include screen('small') {
				padding: 2rem 5vw;
			}
		}

		h2 {
			text-align: center;
			margin-top: 18px;
		}

		h3 {
			color: #747577;
			text-align: center;
		}
	}

	.callouts {
		padding-bottom: 70px;
		margin-top: 60px;
	}

	.main {
		padding-top: 2.55rem;
		padding-bottom: 2.55rem;

		@include screen('small') {
			padding: 2rem 5vw;
		}
	}
}
