// =======================================
//
//  Page:  Events
//  Slug:  /events
//
// =======================================

section.events {
	margin: -160px auto 0;
	// padding-bottom:80px;
	position:relative;
	max-width:980px;
 	width: 100%;
	@include screen("tiny") {
		margin: 20px auto 0;
	}
}

.event {
	color:#fff;
	border-radius:6px;
	background:center center no-repeat;
	background-size:cover;
	text-align:center;
	margin:20px;
	height:310px;
	max-width:450px;
	width: 50%;
	float:left;
	position: relative;
  &.header {
    width: 100%;
  	max-width:940px;
  	height:525px;
    h4 {
    	font-size:36px;
    	padding-top:100px;
		line-height: 1.2;
    }
    .dates {
      padding-top:115px;
    }
  }

  .overlay {
  	background:#837570;
  	opacity:.75;
  	border-radius:6px;
  }

  h4 {
  	position: relative;
  	// padding:54px 20px 0;
		top: 77px;
margin: 30px auto 0;
max-width: 90%;
	  line-height: 1.2;
  }

  .dates {
  	// font-family:$sans_heading;
  	// font-size:14px;
  	// text-transform: uppercase;
  	// padding-top:75px;
  	position: relative;
  	// letter-spacing:3.11px;
  	// line-height:20px;
		top: 77px;

    // &:after {
    //   content: "";
    //   background: #fff;
    //   position: absolute;
    //   bottom: -30px;
    //   left: 50%;
    //   width: 50px;
    //   margin-left: -25px;
    //   height: 1px;
    // }
  }



}

a.event {
	transition:box-shadow .25s;
	&:hover {
		box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
	}
}
