.callouts {
	&>.callouts {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.page-template-page-flex,
.page-template-page-commercial-market,
.page-template-page-one {
	.container {
		padding-bottom: 70px;
	}
	.meet-one {

		&.main {
			padding-bottom: 20px;

			@include screen('small') {
				padding: 2rem 5vw;
			}}


		h2 {
			text-align: center;
			margin-top: 18px;
		}

		h3 {
			color: #747577;
			text-align: center;
		}
	}

	.callouts {
		//padding-bottom: 70px;
		//margin-top: 60px;
	}

	.main {
		padding-top: 2.55rem;
		padding-bottom: 2.55rem;

		@include screen('small') {
			padding: 2rem 5vw;
		}
	}


	.copy {
		.header-content {
			font-family: $museo300;
			font-size: 48px;
			font-weight: 300;
			text-align: center;

			p {
				font-family: inherit;
				font-weight: inherit;
				width: 100%;
				top: 70%;
				left: 50%;
				height: 100%;
				display: inline-block;
				transform: translate(-50%, -50%);
				position: absolute;
				@include font($museo300, 300, 48, 55, 1.71, #fff);

				@include screen('medium') {
					font-size: 40px;
				}

				@include screen('small') {
					display: inline-block;
				}

				@include screen('tiny') {
					font-size: 1.95rem;
					line-height: 2.2449rem;
					height: auto;
				}

				strong {
					font-family: inherit;
				}
			}
		}
	}

	section.main {
		position: relative;
		padding-top: 42px;
		padding-bottom: 42px;

		@include screen('small') {
			padding: 2rem 5vw;
		}

		&>img {
			opacity: 0;
			transition: opacity .8s;

			&.visible {
				opacity: 1;
			}
		}
	}

	.hidden {
		opacity: 0;
		transition: opacity .3s;
	}

	.visible {
		opacity: 1;
	}
}

section.main {

	.icon-1 {
		width: 100%;
		max-width: 472px;
		margin-top: 0;
	}

	.icon-2,
	.icon-3 {
		width: 100%;
		max-width: 314px;
	}

	.btn {
		margin-top: 30px;
		padding: 21px 35px;
	}
}
