// =======================================
//
//  Page:  Home (Front Page)
//  Slug:  /
//
// =======================================

.home {
	header.top-bar:not(.special) ~ .container:first-of-type {
		margin-top: 0;
	}
}



//
// Talking Points Section
// -------------------------------------

.talking-points {
	height:695px;
	position: relative;
	background:bottom right no-repeat;
	background-size:500px;
	box-shadow: inset 0 90px 90px -90px rgba(0,0,0,0.2);
  margin-bottom: -30px;

	h2 {
		font-family: $avenir;
		font-size:36px;
		color:nth($gray, 1);
		margin-bottom:20px;
	}

	h3 {
		font-family: $slab;
		color: nth($primary, 1);
		font-size:20px;
		font-weight:700;
		margin-bottom:0;
	}

	p {
		font-family: $avenir;
		font-size:15px;
		line-height:23px;
		margin:0;
	}

	.copy {
		text-align: center;
		width:860px;
		padding-top:140px;
	}

	.points {
		margin-bottom: 50px;
		height: 278px;
	}
	.point {
		display:inline-block;
		width:190px;
		padding: 0;
		margin: 0 30px;
		position: relative;
		&:after {
			content: '';
			width: 1px;
			height: 278px;
			background: #ccc;
			position: absolute;
			right: -30px;
			top: 0;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
  a:last-of-type {
  	color: nth($secondary, 1);
  	position: relative;
  	padding: 0 21px 0 0;
  	font-size: 18px;
  	line-height: 25px;
  	letter-spacing: 0;
  	&:after {
  		content: '';
  		position: absolute;
  		right: 0;
  		top: 0;
  		background-image: url('../../img/icons/ico-carrot-turq.svg');
  		background-size: contain;
  		background-position: center center;
  		background-repeat: no-repeat;
  		height: 18px;
  		width: 9px;
  	}
  	&:hover {
  		color: nth($primary, 1);
  		transition: color .4s;
  		&:after {
  			background-image: url('../../img/icons/ico-carrot-orange.svg');
  			transition: background-image .25s;
  		}
  	}
  }
}



//
// Numbers Section
// -------------------------------------

.numbers {
	position: relative;
	background:bottom center no-repeat;
	background-size:cover;
	text-align:center;
	padding-bottom:100px;
	*:not(.overlay):not(.odometer):not(svg) {
		position: relative;
		color:#fff;
	}
	.overlay {
		opacity:.85;
		background-image: radial-gradient(86% 119%, #49D0E4 0%, #29B5A8 100%);
	}
	h2 {
		padding-top:120px;
		@include font($avenir400,400,36,48,0,#fff);
	}
	p {
		@include font($avenir400,400,18,24,0,#fff);
		margin:0;
	}
	.number {
		display:inline-block;
		height:265px;
		width:265px;
		border:2px solid #fff;
		border-radius:300px;
		margin:60px;
		overflow: hidden;
		.figure {
			@include font($museo700,700,62,70,1.72,#fff);
			padding-top:50px;
			&:after {
				content: "";
			  background: #fff;
			  position: absolute;
			  left: 50%;
			  bottom: -20px;
			  width: 120px;
			  margin-left: -60px;
			  height: 1px;
			}
			> span:not(.odometer) {
			    line-height: 50px;
          vertical-align: middle;
			}
		}
    label {
      @include font($brandon400,400,18,26,3,#fff);
      display:inline-block;
      width:150px;
      padding-top:40px;
      text-align:center;
    }
	}
}



//
// Dynamic Section
// -------------------------------------

.dynamic {
	height:700px;
	position: relative;
	box-shadow: inset 0 90px 90px -90px rgba(0,0,0,0.2);
	.image {
		background:bottom center no-repeat;
		background-size:auto 500px;
		height:630px;
		width: 100%;
		max-width:470px;
		position: absolute;
		bottom:0;
		left:100px;
	}
	.copy {
		position: absolute;
		max-width:540px;
		width: 45%;
		left:50%;
		bottom:150px;
	}
	$item-width: 50px;
	.woah {
		// width: 400px;
		// height: 400px;
		position: absolute;
		top: 90px;
		left: 50px;
		z-index: 101;
		.static {
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
			height: 100%;
			top: -5%;
			left: 10%;
			transform: rotate(-5deg);
			background-size: contain;
			background-position: center top;
			background-repeat: no-repeat;
		}
		// .inner {
		// 	margin: 0;
		// 	padding: 0;
		// 	position: relative;
		// 	list-style: none;
		// 	width: 100%;
		// 	height: 100%;
		// 	transform: rotate(190deg) translate(150px,20px);
		// 	li {
		// 		position: absolute;
		// 		left: 0;
		// 		bottom: 0;
		// 		width: $item-width;
		// 		height: inherit;
		//
		// 		transform: rotate(0,0);
		// 		transform-origin: center center;
		// 		img {
		// 			opacity: .5;
		// 			&:hover {
		// 				opacity: 1;
		// 				// animation-name: spin;
		// 			  // animation-duration: 750ms;
		// 			  // animation-iteration-count: infinite;
		// 			  // animation-timing-function: linear;
		// 			}
		// 		}
		// 		// @for $i from 1 through 10 {
		// 		//   &:nth-child(#{$i}) {
		// 		// 		transform: (rotate($i*33deg));
		// 		// 		> img {
		// 		// 			transform: (rotate((-$i*33deg)+147deg));
		// 		// 		}
		// 		//   }
		// 		// }
		// 	}
		// }
	}

	// @keyframes spin {
  //   from {
  //     transform:rotate(0deg) scale(1);
  //   }
  //   to {
  //     transform:rotate(360deg) scale(2);
  //   }
	// }


	h2,
	h3 {
		@include font($museo500,500,36,inherit,0,nth($secondary,1));
	}
	a {
		color:nth($primary,1);
		@include font-size(18);
	}
	a:last-of-type {
		color: nth($primary, 1);
		position: relative;
		padding: 0 21px 0 0;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			background-image: url('../../img/icons/ico-carrot-orange.svg');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			height: 18px;
			width: 9px;
		}
		&:hover {
			color: nth($secondary, 1);
			transition: color .25s;
			&:after {
				background-image: url('../../img/icons/ico-carrot-turq.svg');
				transition: background-image .25s;
			}
		}
	}
}

// body.dIE {
// 	.dynamic {
// 		.woah {
// 			display: none !important;
// 		}
// 		.static {
// 			display: block !important;
// 		}
// 	}
// }



//
// Media Queries
// -------------------------------------
// @include screen('(min-width:1300px)') {
//   .dynamic {
//     .woah {
//       .inner {
//         li {
//           img {
//             &:hover {
//               animation-name: spin;
//               animation-duration: 750ms;
//               animation-iteration-count: infinite;
//               animation-timing-function: linear;
//             }
//           }
//         }
//       }
//     }
//   }
// }
@include screen('(max-width:1140px)') {
  .talking-points {
		background-image: none !important;
		height: auto;
		.copy {
			max-width: 100vw;
			width: 100vw;
			padding-left: 0;
			padding: 73px 0;
			@include rem('padding',73, 0);
			margin: 0 auto;
			h2 {
				text-align: center;
			}
		}
		.points {
			height: 250px;
		}
		.point {
			width: 25vw;
			margin: 0 2.5vw 5vw;
		}
	}
}
@include screen('large') {
  .dynamic {
    .image {
      left: 50px;
    }
    .woah {
      left: 0;
    }
    .copy {
      width: 40%;
      left: 55%;
    }
  }
}

@include screen('medium') {
	header {
	  &.hero {
	    h2 {
	      padding-top: 150px;
	      line-height: 46px;
	      width: 80%;
	      margin: 0 auto;
	    }
	  }
	}
	section {
	  &.dynamic {
	    .image {
	      left: 50px;
	    }
	    // .woah {
	    //   left: 0;
	    // }
	    .copy {
	      width: 40%;
	      left: 55%;
	    }
	  }
	}

}

@include screen('small') {
  section {
    &.main {
      @include rem('padding',85,60);
    }
    &.hero {
      // @include rem('height',505);
      height: 70vh;
      // h2 {
      //   padding-top: 229px;
      // }
      h1 {
        top: 60%;
        transform: translateY(-75%);
        left: 10%;
        width: 80%;
      }
      .feature {
        display: none;
      }
    }
    &.talking-points {
      // height: 465px / $retina_diff;
      // background-size: 368px / $retina_diff;
      // background-position: 120% 100%;
      // @include rem('background-size',368);
      // @include rem('height',465);
			.copy {
				width: 100%;
			}
      .points {
        display: inline-block;
        // margin: 30px 0 0;
				// width: 100%;
        // @include rem('height',200);
        @include rem('margin',30,auto,0);
      }
      .point {
        // width: 130px;
        // margin: 0 25px 30px;
        // @include rem('width',130);
        // @include rem('margin',0,25,30);

        padding: 0;
        float: left;
        border: none;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          @include rem('top',0);
          @include rem('right',-25);
          @include rem('height',250);
          width: 1px;
          display: block;
          background: #ccc;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        img {
          max-height: 70px;
					width: auto;
        }
        h3 {
          @include font-size(20);
          @include line-height(27);
        }
        p {
          @include font-size(15);
          @include line-height(27);
        }
				> h3,
				> p {
					&:first-child {
						font-size: 1rem;
						line-height: 1;
					}
				}
      }
      .copy {
        // width: 75%;

        // padding-left: 33px;

        // @include rem('padding-left',33);
        h2 {
          @include font-size(30);
          @include line-height(41);
          text-align: center;
        }
      }
    }
    &.numbers {
      height: 539px;
      h2 {
        padding-top: 67px;
      }
      p {
        margin-bottom: 51px;
      }
      .number {
        width: 210px;
        height: 210px;
        margin: 0 15px;
        .figure {
          padding-top: 58px;
          @include font-size(48);
          @include line-height(57);
          @include letter-spacing(1.33);
          &:after {
            bottom: -5px;
            width: 98px;
            margin-left: -49px;
          }
        }
        label {
          @include font-size(16);
          @include line-height(18);
          padding-top: 26px;
        }
      }
    }
    &.dynamic {
      height: 479px;
      .image {
        height: 350px;
        background-size: contain;
        left: -30px;
      }
      .woah {
        width: 300px;
        height: 300px;
        top: 50px;
        left: 40px;
				.static {
					left: -5%;
					top: -7%;
				}
        .inner li {
          width: 40px;
          img {
            opacity: 1;
          }
        }
      }
      .copy {
        width: 48%;
        bottom: 35px;
        left: 50%;
        h3 {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }

  }
}

@include screen('tiny') {
  section {
    &.main {
      @include rem('padding',85 / $retina_diff,35 / $retina_diff);
      + .callouts {
        > h2 {
          @include rem('margin-bottom',40 / $retina_diff);
          margin-top: 0;
        }
      }
    }
    &.talking-points {

      height: auto;
      @include rem('padding-bottom',83 / $retina_diff);

      .copy {
        width: 95%;
        margin: 0 auto;
        padding-top: 129px;
        @include rem('padding-top',129 / $retina_diff);
        padding-left: 0;
        h2 {

          @include font-size(50 / $retina_diff);
          @include line-height(68 / $retina_diff);
          @include rem('margin-bottom',66 / $retina_diff);
        }
        a:last-of-type {
          @include font-size(30 / $retina_diff);
          @include line-height(30 / $retina_diff);
          @include rem('padding-right',35 / $retina_diff);
          &:after {
            @include rem('width',15 / $retina_diff);
            @include rem('height',27 / $retina_diff);
          }
        }
      }
      .points {
        display: block;
        width: 100%;
        margin: 0 auto;
				height: auto;
      }
      .point {
        width: 100%;
        padding: 0 10%;
        @include rem('padding-bottom',48 / $retina_diff);
        @include rem('margin',0,auto,90 / $retina_diff);
        &:after {
          width: 100%;
          height: 1px;
          bottom: 0;
          top: auto;
          right: 0;
        }

        img {
          max-height: 186px;
          max-width: 310px;
          width: auto;
          height: auto;
          @include rem('margin-bottom',50 / $retina_diff);
        }
        h3 {
          @include font-size(40 / $retina_diff);
        }
        p {
          @include font-size(30 / $retina_diff);
          @include rem('margin-top',20 / $retina_diff);
        }
      }
    }
    &.numbers {
      height: auto;
      @include rem('padding',60,45,66);
      // @include rem('padding',60 / $retina_diff,45 / $retina_diff,66 / $retina_diff);
      h2 {
        padding-top: 0;
        @include font-size(50 / $retina_diff);
        @include line-height(60 / $retina_diff);
      }
      p {
        @include rem('margin',51 / $retina_diff,0);
        @include font-size(30 / $retina_diff);
        @include line-height(40 / $retina_diff);
      }
      .number {
        // width: 265px;
        // height: 265px;
        margin: 0 auto 50px;
        @include rem('margin',0,auto,51 / $retina_diff);
        display: block;
        .figure {
          @include rem('padding-top',57 / $retina_diff);
          @include rem('padding-top',57);
          @include font-size(62 / $retina_diff);
          @include line-height(74 / $retina_diff);
          @include letter-spacing(1.72 / $retina_diff);
          &:after {
            bottom: -15px;
            width: 124px;
            margin-left: -62px;
            @include rem('margin-left',-62 / $retina_diff);
            @include rem('width',124 / $retina_diff);
            @include rem('bottom',-15 / $retina_diff);
          }
        }
        label {
          @include rem('padding-top',40 / $retina_diff);
          @include font-size(18);
          @include line-height(21);
        }
      }
    }
    &.dynamic {
      background-image: linear-gradient(0deg, rgba(247,245,245,0.00) 0%, #F7F5F5 100%);
      height: auto;
      width: 100%;
      padding-top: 87px;
      @include rem('padding-top',87 / $retina_diff);
      .image {
        width: 80%;
        left: 20%;
        position: relative;
        @include rem('margin-top',200 / $retina_diff);
        @include rem('height',688 / $retina_diff);
      }
      .woah {
        height: 65vmin;
        width: 85vmin;
        left: 8%;
        bottom: 23%;
        top: auto;
        overflow: hidden;

        .inner {
          // transform:rotate(195deg) translate(50%,5%);
          width: 95%;
          height: 99%;
          transform:rotate(195deg) translate(40%, -5%);
          li {
            width: 60px / $retina_diff;
            img {
            }
          }
        }
      }
			.woah {
				width: 100%;
				height: 55vmin;
				left:0;
				.static {
					left: -2%;
					top: auto;
				}
			}
      .copy {
        position: relative;
        width: 90%;
        left: 0;
        margin: 0 auto;
        top: 0;
        bottom: auto;
        h3 {
          font-size: 50px;
          line-height: 60px;
          @include font-size(50 / $retina_diff);
          @include line-height(60 / $retina_diff);
        }
        p {
          font-size: 30px;
          line-height: 40px;
          margin: 70px 0;
          @include rem('margin',70 / $retina_diff,0);
          @include font-size(30 / $retina_diff);
          @include line-height(40 / $retina_diff);
          &:last-of-type {
            text-align: center;
          }
        }
        a:last-of-type {
          font-size: 30px;
          line-height: 30px;
          padding-right: 35px;
          @include rem('padding-right',35 / $retina_diff);
          @include font-size(30 / $retina_diff);
          @include line-height(30 / $retina_diff);
          &:after {
            @include rem('width',15 / $retina_diff);
            @include rem('height',27 / $retina_diff);
          }
        }
      }
    }

  }

}


@include screen('(max-width: 520px)') {
  section.dynamic {
		.woah {
			height: 60vmin;
			width: 85vmin;
			left: 8%;
			bottom: 25%;
			width: 100%;
			height: 75vmin;
			left:0;
			.static {
				left: 0;
				top: 5%;
			}
		}
	}
}


@include screen('(max-width: 420px)') {
  section.dynamic {
    .image {
      width: 100%;
      @include rem('height',400 / $retina_diff);
      @include rem('left',30 / $retina_diff);
      @include rem('margin-top',150 / $retina_diff);
      position: relative;
    }
    .woah {
			height: 85vmin;
      width: 95%;
      left: 0px;
      @include rem('bottom',175 / $retina_diff);
      @include rem('height',375 / $retina_diff);
      top: auto;
      // .inner {
      //   // transform: rotate(195deg) translate(190px, 20px);
      //   li {
      //     width: 50px / $retina_diff;
      //   }
      // }
			width: 100%;
			height: 55vmin;
			left:0;
			bottom: auto;
			.static {
				left: -2%;
				top: auto;
			}
    }
  }

}



	section.dynamic {
		.image {
			&.static {
				background-size: contain;

				@include screen('medium') { //max-width: 991px;
					max-width: 50vw;
					left: 0;
				}
				@include screen('small') { //max-width: 768px;
					height: 90%;
					left: 0;
				}
				@include screen('tiny') { //max-width: 640px;
			    height: 90vmin;
			    width: 100%;
			    max-width: 100%;
			    left: 0;
					margin-top: 0;
				}
			}
		}
	}
.qa-slide .question .ti-container{
	opacity: 0;
	transition: 4s linear 0s;
}
.flex-active-slide .question .ti-container{
	opacity: 1;
}
