// =======================================
//
//  Page:  Life & Careers
//  Slug:  /hsq-life
//
// =======================================

//
// Careers Vision Section
// -------------------------------------

.careers-vision {
	margin-top: 70px;
	.copy {
		margin: 0 auto;
		width: 85%;
		p {
			color: #ff8300;
			font-family: $avenir500;
			font-size: 24px;
			font-size: 1.7142857143rem;
			font-weight: 500;
		}
	}
}

//
// Slideshow Section
// -------------------------------------

.slideshow {
	width: 100%;
	max-width:1130px;
	margin:100px auto;

	.life-slider {
		float:left;
		max-width:560px;
		width: 50%;
		margin:0;
		border:none;
		img {
			border-radius:10px;
		}
	}

	.copy {
		height:370px;
		max-width:510px;
		text-align:left;
		float:left;
		width: 45%;
    margin-left: 5%;
		h2 {
			color:nth($primary, 1);
			font-weight:300;
		}
	}
}



//
// Values Section
// -------------------------------------

.core-values {
	background-image: radial-gradient(86% 119%, #49D0E4 0%, #29B5A8 100%);
	// @include gradient(radial,nth($secondary,2),nth($secondary,1));
	color:#fff;
	text-align: center;
	padding:100px 10%;
	h2 {
		font-family: $avenir;
		font-size:36px;
		color:#fff;
		margin-bottom:60px;
	}
	.icon {
		display:inline-block;
		width: 220px;
		padding: 0 10px 20px;
		vertical-align: top;
		.image {
			margin:0 auto;
			width:150px;
			height:150px;
			background:center center no-repeat;
			border:2px solid #fff;
			border-radius:500px;
		}
		label {
			font-family: $sans;
			letter-spacing:2px;
			display: block;
			text-transform: uppercase;
			padding-top:40px;
		}
	}
	.descriptions {
		margin-top:60px;
	}
}



//
// Careers Section
// -------------------------------------

.careers {
	padding:75px 130px;
	font-family: $proxima300;
	font-weight: 300;

	h2 {
		color: nth($secondary, 1);
		font-family: $museo500;
		font-weight: 500;
		@include font-size(48);
	}
	h4 {
		font-weight:300;
	}
	p:first-of-type,
	p.intro {
		font-family: $slab;
		font-size:24px;
		line-height:34px;
		margin-top: 0;
	}
	ul {
		padding: 0 25px;
		li {
			margin:10px auto;
			@include line-height(25);
		}
	}
	a:last-of-type {
		color: nth($primary, 1);
		position: relative;
		padding: 0 21px 0 0;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			background-image: url('../../img/icons/ico-carrot-orange.svg');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			height: 22px;
			width: 9px;
		}
		&:hover {
			color: nth($secondary, 1);
			transition: color .4s;
			&:after {
				background-image: url('../../img/icons/ico-carrot-turq.svg');
				transition: background-image .4s;
			}
		}
	}

	.grid {
		margin-bottom: 80px;
		[class*='col-'] {
			padding-right:60px;
		}
	}
}



//
// Media Queries
// -------------------------------------

@include screen('small') {
	.slideshow {
    .flex-direction-nav {
      a {
        margin-top: -30px / $retina_diff;
        width: 60px / $retina_diff;
        height: 60px / $retina_diff;
        &:before {
          width: 60px / $retina_diff;
          height: 60px / $retina_diff;
        }
      }
    }

    .life-slider {
      width: 85vw;
      margin: 0 auto;
      float: none;
      .flex-direction-nav {
        .flex-prev {
          left: -30px / $retina_diff;
        }
        .flex-next {
          right: -30px / $retina_diff;
        }
      }
    }
  }
	.careers {
		.grid {
			.col-1-2:nth-of-type(2) {
				h4 {
					display:none;
				}
			}
		}
	}
}

@include screen('tiny') {
	.slideshow {
		.life-slider {
			+ .copy {
				max-width: 90vw;
				width: 90vw;
				height: auto;
				@include rem('margin',30,auto);
				float: none;

				h2 {
					@include rem('margin-bottom',10);
					@include font($museo500,500,50 / $retina_diff,1.5,0,nth($primary,1));
					+ p {
						margin-top: 0;
					}
				}
				p {
					@include font-size(30 / $retina_diff);
					@include line-height(40 / $retina_diff);
				}
			}
		}
	}
	.core-values {
		padding: 3rem 10%;
		h2 {
			@include font-size(50 / $retina_diff);
			@include line-height(60 / $retina_diff);
		}
		.icon {
			margin: 0 auto 3rem;
			label {
				padding-top: 1.5rem;
			}
		}

		.descriptions {
			margin-top: 0;
			p {
				@include font($proxima400,400,30 / $retina_diff,37 / $retina_diff,0,#fff);
			}
		}
	}
	.careers {
		padding: 10vw 5vw;
		[class*='col-'] {
			width: 100%;
			padding: 0;
		}
		div.col-1-2:first-of-type p:first-of-type{
			@include font($museo500,500,30 / $retina_diff,40 / $retina_diff,0,nth($neutral,1));
		}
		li {
			@include font($proxima300,300,30 / $retina_diff, 40 / $retina_diff,0);
		}
		a:last-of-type {
			@include font($avenir400,400,30 / $retina_diff, 40 / $retina_diff,0,nth($primary,1));
			padding-right: 40px / $retina_diff;
			&:after {
				width: 20px;
				height: 20px;
				// right: -15px;
			}
		}
	}
}
