
.page-template-page-one {

	.copy {
		.header-content {
			font-family: $museo300;
			font-size: 48px;
			font-weight: 300;
			text-align: center;

			p {
				font-family: inherit;
				font-weight: inherit;
				width: 100%;
				top: 70%;
				left: 50%;
				height: 100%;
				display: inline-block;
				transform: translate(-50%, -50%);
				position: absolute;
				@include font($museo300,300,48,55,1.71,#fff);

				@include screen('medium') {
					font-size: 40px;
				}

				@include screen('small') {
					display: inline-block;
				}

				@include screen('tiny') {
					font-size: 1.95rem;
					line-height: 2.2449rem;
					height: auto;
				}

				strong {
					font-family: inherit;
				}
			}
		}
	}

	section.main {
		position: relative;
		padding-top: 42px;
		padding-bottom: 42px;

		@include screen('small'){
			padding: 2rem 5vw;
		}

		.icon-1 {
			width: 100%;
			max-width: 472px;
			margin-top: 0;
		}

		.icon-2,
		.icon-3 {
			width: 100%;
			max-width: 314px;
		}

		.btn {
			margin-top: 30px;
			padding: 21px 35px;
		}
	}

	.in-action {
		display: flex;

		@include screen('medium'){
			flex-direction: column;
		}

		.column {
			width: 50%;
			background-image: radial-gradient(circle at 86% -5%, #49d0e4, #29b5a8 73%);
			color: #ffffff;

			@include screen('medium'){
				width: 100%;
			}

			&:nth-child(1) {
				padding: 60px 53px 70px 90px;
				line-height: 1.5;
				font-size: 18px;
				color: #ffffff;

				@include screen('small'){
					padding: 2rem 5vw;
				}

				p {
					color: inherit;
				}

				h4 {
					font-family: $avenir400;
					font-size: 36px;
					font-weight: 400;
					padding-bottom: 16px;
				}
			}

			&:nth-child(2) {
				background-size: cover !important;

				@media screen and (max-width: 991px){
					display: none;
				}
			}
		}
	}

	.hidden  {
		opacity: 0;
	}

	.visible {
		opacity: 1;
	}
}