.index.press-index {
	.block {
		padding-top:20px;
		padding-bottom:60px;
		height:350px;
		h3 {
			font-size:24px;
			color:nth($neutral, 1);
			font-weight:500;
			max-height: calc(4 * 31px); // 5 lines of text
			overflow: hidden;
			margin: 0;
		}

		.date {
			font-size:13px;
			font-family: $slab;
			color: nth($gray, 3);
			margin:10px 0;
			line-height: 24px;
			margin: 8px 0;
		}

		.snippet {
			max-height: calc(4 * 26px);
			overflow: hidden;
			font-family: "ProximaNova-Light", $sans;
			font-weight: 100;
			font-size: 16px;
			color: nth($gray, 1);
			line-height: 26px;
		}


		.link {
			font-family: $slab;
			font-weight:700;
			color:nth($primary, 1);
			font-size:14px;
			padding: 0 21px 0 0;
			line-height: 18px;
			letter-spacing: 0;
			text-align: right;
			position: absolute;
			bottom: 15px;
			right: 15px;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background-image: url('../../img/icons/ico-carrot-orange.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				height: 18px;
				width: 9px;
			}
			// position: absolute;
			// bottom:10px;
			// right:15px;
		}

		&.external {
			background-image: url('../../img/icons/ico-expand-orange.svg');
			background-size: 19px 19px;
			background-position: 95% 4%;
			background-repeat: no-repeat;
			h3 {
				max-width: 90%;
			}
		}
	}
}

.press-contact {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
	h6 {
		font-size: 16px;
    text-transform: uppercase;
		letter-spacing: 1.2px;
    font-weight: 400;
    color: nth($secondary, 1);
	}
	p {
		margin: 10px auto;
	}
	a {
		margin-top: 0;
		&:hover {
			color: nth($secondary, 1);
		}
	}
	.grid [class*='col-']:only-of-type {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@include screen('tiny') {
	.press-index {
		.block,
		.block-sizer {
			height: auto;
			width: 90vw;
		}
		.block {
			padding: 35px 30px 90px;
			h3 {
				font-size: 48px;
				line-height: 58px;
				max-height: calc(4 * 58px);
			}
			.date {
				font-size: 24px;
				line-height: 32px;
				margin: 15px 0;
			}
			.snippet {
				font-size: 30px;
				line-height: 42px;
				max-height: calc(4 * 42px);
			}
			.link {
				font-size: 24px;
				line-height: 28px;
				bottom: 30px;
				right: 30px;
				padding-right: 30px;
				&:after {
					width: 18px;
					height: 27px;
				}
			}
		}
	}

}
