// =======================================
//
//  Page:  Resources
//  Slug:  /resources
//
// =======================================



.index.resource-index {
	.block {

	}
}

.resource-type-links {
	position: absolute;
	bottom: -54px;
	width:100%;
	z-index: 100;
	.dropdown-container {
		//display: none;
	}
}

.resource-type-links a {
	font-family: $avenir;
	font-size:16px;
	margin:30px;
	margin-bottom:0;
	color:#5E5F61;
	// width:120px;
	// max-width: 130px;
	text-align:center;
	display: inline-block;

	&.smart-stuff {
		.image {
			height: 90px;
	    background-size: contain;
	    background-position: bottom;
	    margin-bottom: 10px;
		}
	}

	.image {
		background:center center no-repeat;
		height:60px;
		min-width: 60px;
		margin:0 auto 20px;
	}

	span {
		line-height:50px;
		display:inline-block;
		border-top:4px solid transparent;
		padding:0 10px;
		cursor: pointer;
	}

	&.current_page_item,
	&:hover {
		span {
			font-family:"AvenirNextLTPro-Demi", $avenir;
			border-color:nth($primary, 1);
		}
	}
}


.term-videos {
	.resource-type-links {
		a.videos {
			span {
				font-family:"AvenirNextLTPro-Demi", $avenir;
				border-color:nth($primary, 1);
			}
		}
	}
}
.term-webinars {
	.resource-type-links {
		a.webinars {
			span {
				font-family:"AvenirNextLTPro-Demi", $avenir;
				border-color:nth($primary, 1);
			}
		}
	}
}
.term-white-papers {
	.resource-type-links {
		a.white-papers {
			span {
				font-family:"AvenirNextLTPro-Demi", $avenir;
				border-color:nth($primary, 1);
			}
		}
	}
}

.index.resource-index {
	.block {
		// padding-bottom: 60px;
		height: 375px;
		padding: 75px 20px 20px;
		h3 {
			max-height: 120px;
			overflow: hidden;
		}
		p {
			max-height: 120px;
			overflow: hidden;
		}

		&.white-papers {
			background-size: 32px 43px;
		}
		&.case-studies {
			background-size: 40px 36px;
		}
		&.smart-stuff {
			background-size: auto 60px;
			background-position: calc(100% - 20px) 10px;
		}
		.link {
			font-family: $slab;
			font-weight:700;
			color:nth($secondary, 1);
			font-size:14px;
			padding: 0 21px 0 0;
			line-height: 18px;
			letter-spacing: 0;
			text-align: right;
			position: absolute;
			bottom: 15px;
			right: 15px;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background-image: url('../../img/icons/ico-carrot-turq.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				height: 18px;
				width: 9px;
			}
			// position: absolute;
			// bottom:10px;
			// right:15px;
		}
	}
}

// .entry-content .key-file {
// 	font-family: $slab;
// 	color:#29B5A8;
// 	font-size:30px;
// 	font-weight:700;
// 	margin-top:50px;
// 	display: block;
// 	padding-left:70px;
// 	background:url('../../img/icons/ico-download-turq@2x.png') center left no-repeat;
// 	background-size:50px;
// 	line-height:50px;
// }
//
// .entry-content .resource-type {
// 	font-family:"AvenirNextLTPro-Demi", $avenir;
// 	color:nth($secondary, 1);
// 	font-size:14px;
// 	line-height:50px;
// 	padding-left:45px;
// 	background:center left no-repeat;
// 	background-size:30px;
// 	text-transform: uppercase;
// 	letter-spacing:4.75px;
// 	margin-bottom:20px;
// 	display: inline-block;
// }

// .resource_type-smart-stuff {
// 	.entry-content {
// 		.resource-type {
// 			background: left 0px no-repeat;
// 			background-size: 60px;
// 			padding-left: 65px;
// 		}
// 	}
// }





@include screen('large') {
	.resource-type-links {
    > a {
			// min-width: auto;
      width: calc(16.6% - 66px);
      span {
        white-space: nowrap;
        padding: 0;
      }
    }
  }
}
@include screen('medium') {
	.resource-type-links {
		bottom: 80px;
		> a {
			display: none;
		}
		a {
			margin: 0;
			width: auto;
			.image {
				height:30px;
				margin:10px 0;
			}
		}
	}
}
@include screen('tiny') {
	// article.video .entry-header {
	// 	height: 30vh;
	// 	> iframe {
	// 		width: 100%;
	// 		height: 100% !important;
	// 	}
	// }

	.index.resource-index {
    .block,
    .block-sizer {
  		width: 86vw;
      height: 86vw;
  	}
  	.gutter-sizer {
  		width: 7vw;
  	}
    .block {
      margin: 0 7vw 7vw;
			&,
			&.case-studies {
	      padding: 70px 15px 40px;
	      background: #F7F5F5 calc(100% - 20px) 20px no-repeat;
	      background-size: auto 24px;

	      h3 {
					@include font-size(40 / $retina_diff);
					@include line-height(48 / $retina_diff);
					@include rem('max-height',(48 / $retina_diff) * 4);
	      }
	      p {
					@include font-size(32 / $retina_diff);
					@include line-height(44 / $retina_diff);
					@include rem('max-height',(44 / $retina_diff) * 4);
	      }
	      .link {
					@include font-size(24 / $retina_diff);
	        bottom: 15px;
	        right: 15px;
	      }
	    }
			&.white-papers {
				background-size: auto 30px;
			}
    }

  }


}
