// =======================================
//
//  Page:  Search Results
//  Slug:  /?s=[term]
//
// =======================================



body.search {
  .results-container {
    background-image: radial-gradient(84% -26%, nth($tertiary, 1) 9%, nth($primary,2) 69%, nth($primary, 1) 100%);
    background-image: radial-gradient(circle at top left, nth($primary,1), nth($primary,2), nth($tertiary,1) );
    border-radius: 0;
    + footer {
      margin-top: 0;
    }
    .entry-content {
      > header {
        text-align: left;
        height: auto;
        > small {
          text-transform: uppercase;
          padding-top: 40px;
          line-height: 28px;
          font-family: $proxima600;
          font-weight: 500;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 3.11px;
          display: block;
        }
        > h1 {
          color: #FFFFFF;
          margin: 0 auto 23px;
        }
      }
      > h2 {
        color: #fff;
        margin-bottom: 100px;
      }
      + footer {
        text-align: center;
        .navigation.pagination .nav-links a {
          color: #fff;
        }
      }

      .result {
        padding: 40px 0 18px;
        + .result {
          border-top: 1px solid #fff;
        }

        h3 > a {
          font-family: $avenir400;
          font-weight: 400;
          color: #FFFFFF;
          cursor: pointer;
          &:hover {
            color: nth($secondary, 1);
            transition: color .2s;
          }
        }
        .snippet {
          color: #FFFFFF;
          max-height: 60px;
          overflow: hidden;
        }
        .link {
          text-align: right;
          display: inline-block;
          width: 100%;
          height: 45px;
          > a {
            font-family: $museo700;
            font-weight:700;
            font-size:14px;
            line-height: 18px;
            color: #fff;
            padding: 0 21px 0 0;
            letter-spacing: 0;
            position: relative;
            top: 15px;
            cursor: pointer;
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              background-image: url('../../img/icons/ico-carrot-white.svg');
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              height: 18px;
              width: 9px;
            }
            &:hover {
              color:nth($secondary, 1);
              &:after {
                background-image: url('../../img/icons/ico-carrot-turq.svg');
              }
            }
          }
        }
      }
    }

  }

}

@include screen('tiny') {
  body.search {
    .results-container {
      .entry-content {
        > header {
          width: 100%;
          > small {
            padding-top: 0;
            @include font-size(14);
            @include line-height(43 / $retina_diff);
          }
          > h1 {
            @include font-size(36);
            @include line-height(43);
          }
        }

        .result {
          @include rem('padding',40 / $retina_diff,0,20 / $retina_diff);
          h3 {
            @include font-size(36 / $retina_diff);
        		@include line-height(43 / $retina_diff);
            margin-bottom: .5rem;
          }
        }

    }
  }
}
}
