article {
	.entry-header {
		background-position: center center;
	}

	.entry-title {
		margin-top:0;
	}

  .author {
    padding: 30px 0;

    &,
    > a {
      @include font($museo500,500,13,18,0,nth($neutral, 1));
      .avatar {
        width:60px;
        height: 60px;
        display: inline-block;
        vertical-align: middle;
        border-radius:100%;
        border:1px solid nth($gray,3);
        margin: 0 10px 0 0;
        object-fit: cover;
      }
      > a {
        display: block;
      }
      i {
        padding:0 5px;
        img {
          margin: 0;
        }
      }
    }
    &.author-bio {
      text-align: center;
		margin-top: 0;
		padding-top: 0;
    }
  }

	.entry-content {
		max-width:800px;
		border-top:10px solid #47C1B6;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		background:#fff;
		position: relative;
		margin-top: -220px;
		margin-left: 160px;
		padding: 60px 75px 10px 60px;

		& + footer {
			max-width: 800px;
			margin-left:160px;
			padding: 0 65px 40px 75px;
			margin-top: 0;
		}

    .key-file {
    	font-family: $slab;
    	color:#29B5A8;
    	font-size:30px;
    	font-weight:700;
    	margin-top:50px;
    	display: block;
    	padding-left:70px;
    	background:url('../../img/icons/ico-download-turq@2x.png') center left no-repeat;
    	background-size:50px;
    	line-height:50px;
    }

    .resource-type {
    	font-family:"AvenirNextLTPro-Demi", $avenir;
    	color:nth($secondary, 1);
    	font-size:14px;
    	line-height:50px;
    	padding-left:45px;
    	background:center left no-repeat;
    	background-size:30px;
    	text-transform: uppercase;
    	letter-spacing:4.75px;
    	margin-bottom:20px;
    	display: inline-block;
    }



	}



	footer {
    .nocomments {
      display: none;
    }
		nav {
	    display: inline-block;
	    width: 100%;
	    padding: 30px 0;
	    border: 1px solid #ccc;
	    border-left: none;
	    border-right: none;

			a {
        display: block;
				> div,
				> img {
			    width: auto;
			    // vertical-align: text-top;
          vertical-align: -webkit-baseline-middle;
					display: inline-block;
				}
				> div {
				    margin-left: 15px;
						width: calc(100% - 50px);
				}
			}

			h4 {
			  text-transform: uppercase;
        @include font($proxima700,700,12,14,2.57,nth($secondary, 1));
        margin: 0;
        // line-height: 1;
			}
			h5 {
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
        @include font($museo700,700,14,20,0,nth($gray, 1));
		 	}

			.next {
		    padding: 0;
		    text-align: right;

				a {
					> div {
					  margin-right: 15px;
						margin-left: 0;
					}
				}
			}
		}

    .author {
    	margin: 60px 0;
     .avatar {
    	  width: 80px;
        height: 80px;
    	}
    	.info {
    	  display: inline-block;
        h5 {
          @include font($museo700,700,14,20,0,nth($gray, 1));
        }
        h6 {
          @include font($museo300,300,14,24,0,nth($gray, 1));
        }
    	}
    }
  }


	&.no-image {
		&:not(.video) {
			.entry-header {
				height:250px;
				background-image: radial-gradient(circle at top left, #FDA14B, nth($tertiary, 1));
			}

			.entry-content {
				margin-top:-125px;
			}
		}

	}

  &.press {
    .entry-title {
      margin-bottom: 30px;
    }
    .entry-content {
      padding-bottom: 0;
    }
    .press-contact {
    	@include rem('margin-bottom',30);
    	@include rem('padding-top',30);
    	border-top: 1px solid #ccc;
    	h6 {
    		margin-bottom: 1rem;
    	}
    }
  }

  &.type-resources {

		&.resource_type-smart-stuff {
			.entry-content {
				.resource-type {
					background: left 0px no-repeat;
					background-size: 60px;
					padding-left: 65px;
				}
			}
		}

		&.no-image,
		&.has-post-thumbnail {
			.entry-header {
				iframe {
					display: none;
				}
			}
		}
		&.video {
			.entry-header {
				height: 713px;
				iframe {
					display: block;
				}
			}
			.entry-content {
				margin-top: 0;
				border-top: none;
			}
		}
		&.post-password-required {
			.mktoForm {
				display: none;
			}
		}

    .video-wrapper {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
    	margin-top:50px;

    	iframe {
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    	}

    }
  }

}



// @include screen('large') {
//
// }
// @include screen('medium') {
//
// }
@include screen('small') {
  article {
    @include rem('margin-bottom',50);
    header {
      @include rem('height',370);
    }
    .entry-content {
      margin: 0 auto;
      @include rem('margin-top',-125);
      @include rem('padding',100 / $retina_diff,75 / $retina_diff,75 / $retina_diff,60 / $retina_diff);
      + footer {
        max-width: 93%;
        margin: 0 auto;
        border-radius: 0;
        @include rem('padding',60 / $retina_diff,30 / $retina_diff);
      }
    }
    footer {
      nav {
        .prev,
        .next {
          width: 75%;
          margin: 0 auto;
          float: none !important;
        }
        .prev {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
@include screen('tiny') {
  article {
    margin-bottom: 0;
    header {
      height: 65vh;
    }
    .entry-title {
      @include font-size(48 / $retina_diff);
      @include line-height(57 / $retina_diff);
      margin-top: 2rem;
    }
    .entry-content {
      max-width: 100%;
      margin-top: 0;
      border-radius: 0;

      @include rem('padding',60 / $retina_diff,30 / $retina_diff);
      + footer {
        max-width: 100%;
      }


      .resource-type {
        background-size: 50px; //contain;
        @include rem('padding',10,0,10,60);
        @include font-size(20 / $retina_diff);
        @include letter-spacing(6.78 / $retina_diff);
      }
      .author a {
        @include font-size(20 / $retina_diff);
        @include line-height(23 / $retina_diff);
      }
      > p:first-of-type {
        @include font($avenir400,400,36 / $retina_diff,44 / $retina_diff,normal,nth($neutral,1));
      }
      ul {
        @include font($proxima300,300,30 / $retina_diff,40 / $retina_diff,0);
        li {
          @include rem('margin',0,auto,20);
        }
      }
    }
    .author:not(.author-bio) {
      &,
      > a {
        .avatar {
          width: 10vw;
          height: 10vw;
        }
      }
    }
    footer {
      .author {
        margin: 2.5rem 0;
        .avatar {
          display: block;
          @include rem('margin',0,auto,20);
        }
        .info {
          display: block;
          text-align: center;
        }
      }
      nav {
        a {
          > div {
            // margin-top: -15px;
            h4 {
              margin-top: 0;
            }
          }
        }
        .prev,
        .next {
          width: 100%;
        }
      }
    }

    &.video {
      .entry-header {
    		height: 30vh;
    		> iframe {
    			width: 100%;
    			height: 100% !important;
    		}
    	}
    }

  }
}
