// =======================================
//
//  Page:  Solutions
//  Slug:  /solutions
//
// =======================================


//
// Single Solution Page
// -------------------------------------
.solution {
  &.main {
    padding-left: 130px;
    padding-right: 130px;
  }
  h2 {
    line-height: 1.5em;
    margin: 0 auto 1em;
  }
  p {
    font-family: $sans;
    font-weight: 300;
    margin-bottom: 30px;
    a {
      b {
        color: nth($primary, 1);
        font-weight: 500;
        &:hover {
          color: nth($secondary, 1);
        }
      }
    }
  }
}
// Healthsparq One Fix
.page-id-370 {
  .landing-header {
    background-position: bottom center;
  }
}

// Employer Solutions Fix
.page-id-722 {
	.landing-header {
		overflow: hidden;
		.overlay {
			width: 101%;
			height: 101%;
		}
	}
}



//
// Goals Section
// -------------------------------------

.goals {
  @include rem('padding',75,0);
	text-align:center;
  .goal {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 45%;
    max-width: 525px;
    margin: 0 0 50px 0;
    &:nth-child(odd) {
      margin-right: 5%;
    }
		&:nth-child(n+3) {
      margin-bottom:0;
    }
    .image {
      width: 82px;
      height: 82px;
      display: block;
      float: left;
      background-size: contain;
      background-position: top left;
      background-repeat: no-repeat;
      margin: 0 25px 0 0;
    }
    .copy {
      display: block;
      float: right;
      width: calc(100% - 107px);

      h2 {
        margin: 0;
        margin-bottom: 7px;
        @include font($avenir400,400,24,33,0,nth($primary, 1));
      }

      p {
        color: nth($gray, 1);
        margin: 0;
      }
    }
  }
}



//
// Tout Section
// -------------------------------------

.tout {
	background:center right no-repeat;
	background-size:auto 100%;
	.copy {
		color:#fff;
		padding:50px 50px 50px 95px;
		width:50%;
		background-image: linear-gradient(-45deg, #29B5A8 23%, #008B7E 88%);
	}
	h2 {
		color:#fff;
	}
}

//
// Subnav
// -------------------------------------

.solutions-subnav {
	> ul {

	}
	.dropdown-container {
		//display: none;
	}
}



//
// Media Queries
// -------------------------------------

@include screen('large') {
	.goals {
    .goal {
      width: 40%;
    }
  }
	.tout {
    @include rem('padding-top',500);
		background-position: top center;
		background-size: 100% auto;
    .copy {
      width: 100%;
      padding: 50px;
    }
  }
}
@include screen('small') {
	.tout {
    @include rem('padding-top',300);
		background-size: contain;
    .copy {
      @include rem('padding',50 / $retina_diff);
    }
  }
}
@include screen('tiny') {
	.solutions-subnav {
    .dropdown-container {
      .dropdown {
        width: 90vw;
				max-width: 90vw;
        .title {
          white-space: nowrap;
          text-overflow: ellipsis;
          // font-size: 20px;
					@include font-size(24 / $retina_diff)
        }
        &:not(.closed) {
          .dropdown-menu {
            // height: 120px !important;
            ul {
              top: 0 !important;
            }
          }
        }
        ul {
          background: rgba(nth($tertiary, 1), .8);
          li {
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
	.main.solution {
		@include rem('padding',85 / $retina_diff,35 / $retina_diff);
	}
	.goals {
    .goal {
      width: 90%;
      margin: 0 5%;
      @include rem('margin-bottom',50 / $retina_diff);
      &:nth-child(odd) {
        margin-right: 5%;
      }
      &:nth-child(n+3) {
        @include rem('margin-bottom',50 / $retina_diff);
      }
      .image,
      .copy {
        float: none;
        margin: 0 auto 30px;
        width: 100%;
      }
      .image {
        background-position: bottom center;
        // background-size: auto;
      }
    }
  }
	.tout {
    @include rem('padding-top',200);
  }
}
