// =======================================
//
//  Page Template:  Solutionsesque
//
// =======================================

.page-template-page-solutionesque {

  // section {
    .main {
      max-width: 70%;
      margin: 0 auto;
      @include rem('padding',50,0);
      + .goals,
      + .main {
        padding-top: 0;
      }
    }

    .goals {
      @include rem('padding',50,0);
      + .goals,
      + .main {
        padding-top: 0;
      }
    }

    .tout {
      background: none;
      padding: 0;
      display: flex;
      .copy,
      .image {
        flex: 1;
      }
      .copy {
        order: 1;
      }
      .image {
        order: 2;
        background-size: auto 100%;
        background-position: center right;
        background-repeat: no-repeat;
      }
    }
  // }

  @include screen('medium') {
  	.tout {
      display: block;
      .image {
        background-position: center;
        background-size: cover;
      }
      .copy,
      .image {
        width: 100%;
      }
    }
  }


}
