/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  // width: 1040px;
}

.footer {
  .super-footer {
    .container {
      > .m-all:first-of-type {
        transform: translate(-10%, 40%);
      }
    }
  }
}

.hero, .feeds-container {
	.container {
		// width: 100%;
	}
}
.index {
  .block,
	.block-sizer {
		width: 300px;
		width: calc((100% - 90px) / 4);
		height: 315px;
	}
	.gutter-sizer {
		width: 30px;
	}
}

.feeds-container {
  .feed {
    &.blog-feed {
      height: 756px;
    }
    &.twitter-feed {
      height: 1065px;
    }
  }
  .ad-space {
    height: 297px;
  }

}

.home {
  main {
		> section {
			padding: 30px 0;
		}
	}

}
.feeds-container {
  .feed {
    &.blog-feed {
      a.article {
        max-height: 185px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto 30px;
        display: block;
      }
    }
  }
}

.feeds-container {
	.feed {
		&.blog-feed {
			margin-bottom: 30px;
			a.article {
				img {
					+ h5 {
						float: left;
						width: calc(60% - 24px);
						margin: 0 auto;
						+ p {
							float: left;
							width: calc(60% - 24px);
							margin: 0 auto;
						}
					}
				}
			}
		}
    &.twitter-feed {
      .posts {
        .post {
          .user {
            font-size: 20px;
						line-height: 25px;
          }
          .text {
            font-size: 20px;
            line-height: 27px;
						max-height: calc(27px * 3);
          }
          .time {

          }
        }
      }
    }
  }
	.ad-space {
		margin-bottom: 30px;
	}
}
.about {
  .feeds-container {
    margin-bottom: 180px;
    .contact-us {
      height: 730px;
    }
    .share-story-block {
      height: 290px;
    }
    .twitter-feed {
      height: 1050px;
    }
  }
}
