/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  // width: 100%;
  // max-width: 1440px;
}
.container {
	max-width: 1240px;
}


h1, .h1 {
  &.scribble {
  	font-size: 70px;
  	line-height: 67px;
  }
}
h2, .h2 {
	font-size: 36px;
	line-height: 46px;
  &.scribble {
    // padding: 15px 15px 50px;
    font-size: 72px;
		line-height: 39px;
  }
}
h3, .h3 {
  // font-size: 30px;
  // line-height: 40px;
	&.scribble {
    // padding: 15px 15px 50px;
    font-size: 72px;
		line-height: 39px;
  }
}
h4, .h4 {

	font-size: 30px;
	line-height: 40px;
	&.scribble {
  	font-size: 48px;
  	line-height: 66px;
  }
}
h5, .h5 {
	font-size: 30px;
	line-height: 57px;
	&.scribble {
  	font-size: 39px;
  	line-height: 38px;
  }
}

h6, .h6 {
	font-size: 24px;
	line-height: 33px;
}
