/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Mobile Stylesheet for Home

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


@include screen('tiny') {
  section {
    &.main {
      @include rem('padding',85 / $retina_diff,35 / $retina_diff);
      + .callouts {
        > h2 {
          @include rem('margin-bottom',40 / $retina_diff);
          margin-top: 0;
        }
      }
    }
    &.talking-points {

      height: auto;
      @include rem('padding-bottom',83 / $retina_diff);

      .copy {
        width: 95%;
        margin: 0 auto;
        padding-top: 129px;
        @include rem('padding-top',129 / $retina_diff);
        padding-left: 0;
        h2 {

          @include font-size(50 / $retina_diff);
          @include line-height(68 / $retina_diff);
          @include rem('margin-bottom',66 / $retina_diff);
        }
        a:last-of-type {
          @include font-size(30 / $retina_diff);
          @include line-height(30 / $retina_diff);
          @include rem('padding-right',35 / $retina_diff);
          &:after {
            @include rem('width',15 / $retina_diff);
            @include rem('height',27 / $retina_diff);
          }
        }
      }
      .points {
        display: block;
        width: 100%;
        margin: 0 auto;
				height: auto;
      }
      .point {
        width: 100%;
        padding: 0 10%;
        @include rem('padding-bottom',48 / $retina_diff);
        @include rem('margin',0,auto,90 / $retina_diff);
        &:after {
          width: 100%;
          height: 1px;
          bottom: 0;
          top: auto;
          right: 0;
        }

        img {
          max-height: 186px;
          max-width: 310px;
          width: auto;
          height: auto;
          @include rem('margin-bottom',50 / $retina_diff);
        }
        h3 {
          @include font-size(40 / $retina_diff);
        }
        p {
          @include font-size(30 / $retina_diff);
          @include rem('margin-top',20 / $retina_diff);
        }
      }
    }
    &.numbers {
      height: auto;
      @include rem('padding',60,45,66);
      // @include rem('padding',60 / $retina_diff,45 / $retina_diff,66 / $retina_diff);
      h2 {
        padding-top: 0;
        @include font-size(50 / $retina_diff);
        @include line-height(60 / $retina_diff);
      }
      p {
        @include rem('margin',51 / $retina_diff,0);
        @include font-size(30 / $retina_diff);
        @include line-height(40 / $retina_diff);
      }
      .number {
        // width: 265px;
        // height: 265px;
        margin: 0 auto 50px;
        @include rem('margin',0,auto,51 / $retina_diff);
        display: block;
        .figure {
          @include rem('padding-top',57 / $retina_diff);
          @include rem('padding-top',57);
          @include font-size(62 / $retina_diff);
          @include line-height(74 / $retina_diff);
          @include letter-spacing(1.72 / $retina_diff);
          &:after {
            bottom: -15px;
            width: 124px;
            margin-left: -62px;
            @include rem('margin-left',-62 / $retina_diff);
            @include rem('width',124 / $retina_diff);
            @include rem('bottom',-15 / $retina_diff);
          }
        }
        label {
          @include rem('padding-top',40 / $retina_diff);
          @include font-size(18);
          @include line-height(21);
        }
      }
    }
    &.dynamic {
      background-image: linear-gradient(0deg, rgba(247,245,245,0.00) 0%, #F7F5F5 100%);
      height: auto;
      width: 100%;
      padding-top: 87px;
      @include rem('padding-top',87 / $retina_diff);
      .image {
        width: 80%;
        left: 20%;
        position: relative;
        @include rem('margin-top',200 / $retina_diff);
        @include rem('height',688 / $retina_diff);
      }
      .woah {
        height: 65vmin;
        width: 85vmin;
        left: 8%;
        bottom: 23%;
        top: auto;
        overflow: hidden;

        .inner {
          // transform:rotate(195deg) translate(50%,5%);
          width: 95%;
          height: 99%;
          transform:rotate(195deg) translate(40%, -5%);
          li {
            width: 60px / $retina_diff;
            img {
            }
          }
        }
      }
      .copy {
        position: relative;
        width: 90%;
        left: 0;
        margin: 0 auto;
        top: 0;
        bottom: auto;
        h3 {
          font-size: 50px;
          line-height: 60px;
          @include font-size(50 / $retina_diff);
          @include line-height(60 / $retina_diff);
        }
        p {
          font-size: 30px;
          line-height: 40px;
          margin: 70px 0;
          @include rem('margin',70 / $retina_diff,0);
          @include font-size(30 / $retina_diff);
          @include line-height(40 / $retina_diff);
          &:last-of-type {
            text-align: center;
          }
        }
        a:last-of-type {
          font-size: 30px;
          line-height: 30px;
          padding-right: 35px;
          @include rem('padding-right',35 / $retina_diff);
          @include font-size(30 / $retina_diff);
          @include line-height(30 / $retina_diff);
          &:after {
            @include rem('width',15 / $retina_diff);
            @include rem('height',27 / $retina_diff);
          }
        }
      }
    }

  }

	body.dIE {
		section.dynamic {
			.woah {
				width: 100%;
				height: 55vmin;
				left:0;
				.static {
					left: -2%;
					top: auto;
				}
			}
		}
	}

}


@include screen('(max-width: 520px)') {
  section.dynamic {
		.woah {
			height: 60vmin;
			width: 85vmin;
			left: 8%;
			bottom: 25%;
		}
	}
	body.dIE {
		section.dynamic {
			.woah {
				width: 100%;
				height: 75vmin;
				left:0;
				.static {
					left: 0;
					top: 5%;
				}
			}
		}
	}
}


@include screen('(max-width: 420px)') {
  section.dynamic {
    .image {
      width: 100%;
      @include rem('height',400 / $retina_diff);
      @include rem('left',30 / $retina_diff);
      @include rem('margin-top',150 / $retina_diff);
      position: relative;
    }
    .woah {
			height: 85vmin;
      width: 95%;
      left: 0px;
      @include rem('bottom',175 / $retina_diff);
      @include rem('height',375 / $retina_diff);
      top: auto;
      .inner {
        // transform: rotate(195deg) translate(190px, 20px);
        li {
          width: 50px / $retina_diff;
        }
      }
    }
  }
	body.dIE {
		section.dynamic {
			.woah {
				width: 100%;
				height: 55vmin;
				left:0;
				bottom: auto;
				.static {
					left: -2%;
					top: auto;
				}
			}
		}
	}

}
