

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.scribble {
    max-width: 100%;
  }
}
h1, .h1 {
  &.scribble {
  	font-size: 60px;
  	line-height: 50px;
  }
}
h2, .h2 {
	font-size: 24px;
	line-height: 31px;
  &.scribble {
    max-width: 100%;
    padding: 15px 15px 50px;
    font-size: 56px;
  }
}
h3, .h3 {
  font-size: 30px;
  line-height: 40px;
}
h4, .h4 {
  font-size: 24px;
}
p {

}

.label {
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 1.94px;
}



article {
  &.has-post-thumbnail {
    .article-header {
      .image {
        > img {
          width: 75%;
        }
      }
      .categories {
        margin-bottom: 0;
      }
    }
  }

  .article-header {
    margin-bottom: 50px;
    .container {
      width: 80%;
    }
    h1 {
      font-size: 42px;
      line-height: 50px;
      margin: 20px auto 30px;
    }
    .author {
      text-align: center;
      margin-bottom: 20px;
      .img-thumb {
        margin-left: -10px;
      }
      a {
        display: inline-block;

      }
    }
  }

  .article-footer {
    .author-bio {
      margin: 30px auto;
      text-align: center;
      img, .info {
        float: none;
        display: block;
        margin: 0 auto;
      }
      img {
        margin-right:auto;
      }
      .info {
        width: 100%;
        margin-top: 20px;
      }
    }
    .related {
      h5 {
        height: auto;
        max-height: 63px;
      }
      .author {
        margin: 0 0 24px 0;
      }
    }
  }


}

.entry-content {
  width: 90%;
  font-family: $sans;
  font-size: 18px;
  line-height: 30px;
  color: $dark-gray;
  font-weight: 300;
  .slideshow {
    > iframe {
      height: auto;
      max-height: 100vw;
      min-height: 320px;
    }
  }
}


$bar-height: 60px;
.header.top-bar {
  nav {
    padding:0;
    position:fixed;
		z-index:-1;
		top:0;
		right:-100vw;
		width:100vw;
		max-width: 520px;
		min-height:100%;
    background: $black;
    .top-nav {
      float:none;
      width: 80%;
      display: block;
			margin:40px auto 10px;
			padding:0;
			list-style:none;
			position: relative;
    	height: auto;
      text-align: center;

			li {
				display:block;
				text-align: center;
				// line-height: $bar-height;

				a {
					color: $white;
          font-family: $sans;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 18px;
          line-height: 30px;
          padding: 16px 0;

					&:hover {
						color:$primary;
					}
				}

        &.current-menu-item,
				&:hover {
          a {
            &:after {
              width: 40%;
              left: 30%;
              bottom: 6px;
            }
          }
        }
      }
    }
    a:not(.btn) {
      color: $white;
      font-family: $sans;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 18px;
      line-height: 30px;
      display: block;
      text-align: center;
      &:hover {
        color:$primary;
      }
      > .icon {
				background-size: contain;
				margin: 0;
        vertical-align: middle;
				&.search {
					background-image: url('../images/icons/searchQ.svg');
					width: 40px;
					height: 30px;
				}
			}
    }
    > img {
      max-width: 100px;
      margin: 40px auto;
    }
  }
}
body {
  &.admin-bar {
  	.header.top-bar {
  		top: 45px;
  	}
  }
}

.footer {
  .main-footer {
    height: calc(155px + 264px);
    > .container {
      > div {
        width: 100vw;
        position: absolute;
				left: 0;
        padding: 30px 5vw;
        &.d-1of3 {
					top: 0;
					height: 155px;
					width: 100vw;
				}
				&.d-2of3 {
					height:264px;
					bottom: 0;
				}
      }
    }
    nav {
			margin-top: 25px;
      p {
        margin-right: 5px;
        padding-right: 10px;
      }
      // p,
      // li,
      // .footer-links {
      //   display: inline-block;
      //
      //   color: $secondary;
      //   font-size: 12px;
      //   line-height: 18px;
      //
      //   a {
      //     padding: 0 5px;
      //     color: $secondary;
      //     display: block;
      //     font-weight: 400;
      //   }
      // }

    }
    .sponsors {
      small {
        font-size: 14px;
      }
    }
    .socials {
      > a {
        width: 18%;
        height: auto;
        max-width: 60px;
        max-height: 60px;
      }
    }
  }
}

.videos-container {
  .m-all.t-1of2.d-1of2 {
    &:nth-of-type(1n+3) {
      display: none;
    }
  }
  footer {
    text-align: center;
    margin-bottom: 40px;
  }
  .video {
    img, .image {
      height: calc(90vmin / 2);
      min-height: 185px;
      width: 100%;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
    }
  }
  .featured {
    .video {
      img {
        // height: 65vw;
        height: calc(90vmin / 1.75);
        // min-height: 185px;
        // max-height: 315px;
      }
      h4 {
        font-size: 30px;
        line-height: 40px;
        max-height: 80px;
      }
      h5 {
        font-size: 20px;
        line-height: 25px;
        max-height: 50px;
      }
      p {
        line-height: 24px;
        max-height: 100%;
      }
    }
  }
}

.index {
  padding: 20px 0;
  .block-sizer,
  .block {
    width: 100%;
    min-height: calc(45vmin + 140px);
    height: auto;
  }
  .gutter-sizer {
    width: 20px;
  }
  .block {

    margin-bottom: 20px;
    .image {
      height: calc(90vmin / 2);
    }
  }
}

.share-story-block {
  padding: 30px;
  img,
  .copy {
    width: 100%;
    max-width: 100%;
    padding: 0;
    float: none;
  }
  .copy {
    h1 {
      font-size: 54px;
      line-height: 60px;
      margin: 20px auto;
    }
  }
  img {
    max-height: 100px;
    margin-bottom: 20px;
  }
}
main.share {
  .entry-content {
    margin-bottom: 0;
  }
}
form.share_story {
  width: 100vw;
  margin-left: -10.5%;
  label.checkbox {
    line-height: 22px;
    margin: 0 auto;
    > input {
      + span {
        margin-bottom: 25px;
      }
    }
  }
}

.search.modal.remodal {
  background-size: cover;
  padding: 10vh 10vw;
  box-shadow: none;
  .searchform {
    input {
      font-size: 32px;
      // line-height: 40px;
      // width: calc(100% - 50px);
    }
    &:before {
      left: 50%;
      top: -200%;
      transform: translateX(-50%);
    }
  }
}

.feeds-container {
  > .container {
    width: 100%;
  }
  .feed {
    padding: 20px;
    header,
    footer {
      position: relative;
      .btn.pull-right {
        position: relative;
        float: none;
        color: $black;
      }
    }
    footer {
      margin: 0px auto 40px;
      text-align: center;
    }

    &.blog-feed {
      a.article {
        margin-bottom: 25px;
        display: block;
        &:nth-of-type(3n) {
          display: none;
        }
        img, .image {
          width: 100%;
          max-width: 100%;
          height: calc(90vmin / 2);
          float: none;
          margin: 0 auto 5px;
        }
        h5, p {
          float: none;
          width: 100%;
          overflow: hidden;
        }
        p {
          margin-top: 11px;
          // max-height: calc(24px * 3);
        }
      }
    }
    &.twitter-feed {
      height: auto;
      .twitter.post {
        &:nth-of-type(5n) {
          display: none;
        }
      }
    }
  }
}

.filters {
  .container {
    height: 170px;
    margin: 30px auto;
    > div {
      + div {
        margin-top: 10px;
      }
    }
  }
}

.hero {
  &:not(.article-header):not(.large) {
    .container {
      width: 90%;
      padding: 60px 0 20px;
    }
  }
  // &:not(.article-header) {
  //   .container {
  //     width: 90%;
  //     padding: 60px 0 20px;
  //   }
  // }
  .wordmark {
    img {
      height: auto;
      width: 100vw;
    }
  }
  .container {
    // min-height: auto;
    > h1 {
      &.page-title {
        font-size: 48px;
        line-height: 59px;
      }
    }
    .page-desc {
      font-size: 20px;
      line-height: 23px;
      margin: 0 auto;
    }
  }
  &.large {
    // padding-bottom: 40px;
    .container {
      margin: 40px auto;
      padding: 0;
    }
    .lightbulb {
      max-width: 95%;
      max-height: calc(100vh - 100px);
      margin: 0 auto 40px;
      transform: translate(-2%,0);
    }
  }
}

.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
  height:10vw;
  margin-bottom: 0;
  ul.heateor_sss_sharing_ul {
    // width: 100vw;
    // left: 0;
    text-align: center;
    // position: absolute;
    height: 10vw;
    float: none;
    li {
      float: none !important;
      display: inline-block;
    }
  }
  .heateorSssSharing {
    width: 10vw !important;
    height: 10vw !important;
    margin: .5vw;
    > .heateorSssSharingSvg {
      width: 10vw !important;
    }
  }
}

body.search {
  .results-container {
    margin-bottom: 50px;
    .result {
      .image {
        width: 35%;
        margin-right: 3%;
        + .info {
          width: 62%;
        }
      }
    }
  }
}


.conference {
  .about {
    padding: 90px 0 0;
    .container {
      .m-all:first-of-type {
        transform: translate(0,-20px);
      }
    }
  }
  .speakers-container {
    margin-top: 75px;
    margin-bottom: 50px;
    padding-bottom: 0;
    .speaker {
      display: inline-block;
      // max-height: 33vw;
      .info {
        h4 {
          margin-top: 0;
          line-height: 40px;
        }
        .links {
          margin: 5px 0;
        }
        .bio {
          // max-height: calc(33vw - 95px);
        }
        p {
          font-size: 14px;
          line-height: 24px;

        }
      }
    }
  }
  .register-container {
    margin-top: 90px;
    margin-bottom: 60px;
    header {
      img {
        margin: 0 auto 20px;
      }

    }
  }
  .map-container {
    height: 1275px;
    .acf-map {
      height: 500px;
      width: 100vw;
    }
    .details {
      left: 0;
      top: 500px;
      max-width: 100vw;
      width: 100vw;
      margin: 0;
      height: 775px;
      padding: 13px 20px 75px;
      header {
        h5 {
          position: relative;
          width: 100%;
          height: 90px;
          font-size: 48px;
          top: auto;
          left: auto;
          transform: none;
          margin-bottom: 25px;
        }
      }
      > img {
        height: auto;
        max-height: 250px;
      }
      a.h6 {
        margin-top: 30px;
        margin-left: 0;
        + a.h6 {
          margin-top: 40px;
        }
      }
      footer {
        max-width: calc(100% - 60px);
        padding: 0 30px;
      }
    }
  }
}
