/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Mobile to Tablet Stylesheet for Home

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

@include screen('small') {
  section {
    &.main {
      @include rem('padding',85,60);
    }
    &.hero {
      // @include rem('height',505);
      height: 70vh;
      // h2 {
      //   padding-top: 229px;
      // }
      h1 {
        top: 60%;
        transform: translateY(-75%);
        left: 10%;
        width: 80%;
      }
      .feature {
        display: none;
      }
    }
    &.talking-points {
      // height: 465px / $retina_diff;
      // background-size: 368px / $retina_diff;
      // background-position: 120% 100%;
      // @include rem('background-size',368);
      // @include rem('height',465);
			.copy {
				width: 100%;
			}
      .points {
        display: inline-block;
        // margin: 30px 0 0;
				// width: 100%;
        // @include rem('height',200);
        @include rem('margin',30,auto,0);
      }
      .point {
        // width: 130px;
        // margin: 0 25px 30px;
        // @include rem('width',130);
        // @include rem('margin',0,25,30);

        padding: 0;
        float: left;
        border: none;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          @include rem('top',0);
          @include rem('right',-25);
          @include rem('height',250);
          width: 1px;
          display: block;
          background: #ccc;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        img {
          max-height: 70px;
					width: auto;
        }
        h3 {
          @include font-size(20);
          @include line-height(27);
        }
        p {
          @include font-size(15);
          @include line-height(27);
        }
				> h3,
				> p {
					&:first-child {
						font-size: 1rem;
						line-height: 1;
					}
				}
      }
      .copy {
        // width: 75%;

        // padding-left: 33px;

        // @include rem('padding-left',33);
        h2 {
          @include font-size(30);
          @include line-height(41);
          text-align: center;
        }
      }
    }
    &.numbers {
      height: 539px;
      h2 {
        padding-top: 67px;
      }
      p {
        margin-bottom: 51px;
      }
      .number {
        width: 210px;
        height: 210px;
        margin: 0 15px;
        .figure {
          padding-top: 58px;
          @include font-size(48);
          @include line-height(57);
          @include letter-spacing(1.33);
          &:after {
            bottom: -5px;
            width: 98px;
            margin-left: -49px;
          }
        }
        label {
          @include font-size(16);
          @include line-height(18);
          padding-top: 26px;
        }
      }
    }
    &.dynamic {
      height: 479px;
      .image {
        height: 350px;
        background-size: contain;
        left: -30px;
      }
      .woah {
        width: 300px;
        height: 300px;
        top: 50px;
        left: 40px;
				.static {
					left: -5%;
					top: -7%;
				}
        .inner li {
          width: 40px;
          img {
            opacity: 1;
          }
        }
      }
      .copy {
        width: 48%;
        bottom: 35px;
        left: 50%;
        h3 {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }

  }
}
