/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

h1, .h1 {
  &.scribble {
  	font-size: 60px;
  	line-height: 50px;
  }
}

p {
  &.xl {
    font-size: 22px;
    line-height: 38px;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 760px;
}
.container {
	width: 96%;
}
/*********************
CUSTOM STYLES
*********************/
section {
	&.about {
		padding: 100px 0;
		.container {
			> .m-all:first-of-type {
				transform: translate(0,50%);
			}
		}
	}
}

.index {
  .block,
	.block-sizer {
		width: calc((100% - 30px) / 2);
		height: 315px;
	}
	.gutter-sizer {
		width: 30px;
	}
}

ul.menu {
	li {
		margin: 0 1em;
		a {
			font-size: 24px;
		}
	}
}


/*********************
HEADER STYLES
*********************/

$bar-height: 60px;
.header {
	nav {
		float: right;
		.top-nav {
			height: $bar-height;
			padding-right:140px;
			li {
				float: left;
			}
		}
		> .btn {
			float: right;
			> span {
				display: none;
			}
		}
	}
}


	#logo {}

/*********************
FOOTER STYLES
*********************/

.footer {
	.super-footer {

		p {
			font-size: 22px;
			line-height: 38px;
			font-weight: 300;
		}
		.container {
			> .m-all:first-of-type {
				transform: translate(0,50%);
			}
		}
	}
	.main-footer {
		background: linear-gradient(to right,$black, $black 66.666%, $secondary 66.667%);
		.socials {
			margin-top: 0;
		}
		> .container {
			> div {
				height: 193px;
				position: relative;
				padding: 25px;
				&.d-2of3 {
					> .cf:last-child {
						position: absolute;
						bottom: 30px;
						width: 100%;
					}
				}
			}
		}
	}
	nav {
		.copyright,
		.footer-links {
			float: left;
			&,
			li a {
				font-size: 12px;
				line-height: 16px;
				color: $secondary;
			}
		}
		.copyright {
			margin: 0 12px 0 0;
		}
	}

}

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */





.hero {
	&.large {
		padding: 0;
    .featured {
			padding: 39px 34px 15px;
      // margin-top: 70px;
			.btn.square {
				bottom: 0;
				right: 0;
			}
		}
	}
}

.home {
	.hero {
    &.large {
      .featured {
        margin-top: 70px;
  		}
  	}
	}
	.videos-container {
		> .container {
			> .wrap {
				> .last-col {
					.m-all:nth-of-type(even) {
						padding-right: 0;
					}
				}
			}
		}
		.video {
			height: 340px;
			margin-bottom: 0;
		}
		.featured {
      .video {
				height: 680px;
				margin-bottom: 0;
        img {
          height: 330px;
        }
      }
    }
	}
}



.conference {
	> section {
    padding: 100px 0;
    &.map-container {
      padding: 0;
    }
	}
	.about {
    padding-bottom: 50px;
  }
	.sponsors {
		padding-top: 0;
		header {
			margin-bottom: 20px;
		}
		.sponsor {
			padding: 0 25px;
			text-align: center;
			line-height: 125px;
			img {
				max-width: 100%;
				vertical-align: middle;
				// max-width: 400px;
				// width: auto;
			}
		}
	}
	#sponsors {
		header {
			margin-bottom: 100px;
		}
		.sponsor {
			img {
				max-height: 75px;
			}
		}
	}
	.register-container {
		iframe {
			height: 520px !important;
		}
	}
}
