/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 760px;
}
.container {
	width: 96%;
	margin: 0 auto;
}

/*********************
CUSTOM STYLES
*********************/
section {
	&.about {
		padding: 100px 0;
		.container {
			> .m-all:first-of-type {
				// transform: translate(0,40%);
			}
		}
	}
}

.index {
  .block,
	.block-sizer {
		width: calc((100% - 30px) / 2);
		height: 315px;
	}
	.gutter-sizer {
		width: 30px;
	}
}



/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

// .nav {
// 	border: 0;
// 	ul {
// 		background:$black;
// 		margin-top:0;
// 	}
// 	li {
// 		float: left;
// 		position: relative;
//
// 		a {
// 			border-bottom: 0;
//
// 			/*
// 			you can use hover styles here even though this size
// 			has the possibility of being a mobile device.
// 			*/
// 			&:hover, &:focus {
// 				color: $white;
// 				text-decoration: underline;
// 			}
// 		}
//
// 		&:first-child {}
// 		&:last-child {}
//
// 		/*
// 		plan your menus and drop-downs wisely.
// 		*/
// 		ul.sub-menu,
// 		ul.children {
// 			margin-top: 0;
// 			border: 1px solid #ccc;
// 			border-top: 0;
// 			position: absolute;
// 			visibility: hidden;
// 			z-index: 8999;
//
// 			li {
//
// 				a {
// 					padding-left: 10px;
// 					border-right: 0;
// 					display: block;
// 					width: 180px;
// 					border-bottom: 1px solid #ccc;
//
// 					&:hover,
// 					&:focus {}
//
// 					&:link {}
// 				}
//
// 				&:first-child {}
//
// 				&:last-child {
//
// 					a {
// 						border-bottom: 0;
// 					}
// 				}
//
// 				/*
// 				if you need to go deeper, go nuts
// 				just remember deeper menus suck
// 				for usability. k, bai.
// 				*/
// 				ul {
// 					top:0;
// 					left:100%;
// 				}
// 			}
//
// 			/* highlight sub-menu current page */
// 			li.current-menu-item,
// 			li.current_page_item,
// 			li.current_page_ancestor {
// 				a {}
// 			}
// 		}
//
// 		/* showing sub-menus */
// 		&:hover > ul {
// 			top: auto;
// 			visibility:visible;
// 		}
//
// 	} /* end .menu ul li */
//
// 	/* highlight current page */
// 	li.current-menu-item,
// 	li.current_page_item,
// 	li.current_page_ancestor {
// 		a {}
// 	}  /* end current highlighters */
//
// } /* end .nav */


/*********************
FOOTER STYLES
*********************/

.footer {
	.newsletter {
		label {
			font-size: 22px;
			margin: 12px 0 12px 1px;
		}
	}
	.main-footer {
		.sponsor {
			img {
				margin-top: 5px;
			}
		}
		> .container {
			> div {
				padding: 25px 12px;
			}
			.d-2of3 {
				> .cf:last-child {
					position: absolute;
					bottom: 20px;
					width: 100%;
				}
			}
		}
	}
	.super-footer {
		.container {
			> .m-all:first-of-type {
				transform: translate(0,0%);
			}
		}
	}
	nav {
		.copyright,
		.footer-links {
			float: left;
			&,
			li a {
				font-size: 12px;
				line-height: 16px;
				color: $secondary;
			}
		}
		.copyright {
			margin: 0 12px 0 0;
		}
	}
}

h1 {
	&.scribble {
		font-size: 75px;
		line-height: 55px;
		word-wrap:normal;
		padding: 25px 25px;
	}
}
