h1, .h1 {
	&.scribble {
		font-size: 75px;
		line-height: 55px;
	}
}

.footer {
  .super-footer {
    padding: 110px 90px 175px 110px;
    .container {
      > .m-all:first-of-type {
        transform: translate(-20%, 50%);
      }
    }
  }
}
