/******************************************************************
Site Name: HealthSparq
Author: Aanjulena Sweet via Gambit Studio

Stylesheet: Tablet to Small Laptop Stylesheet for Home

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

header {
  &.hero {
    h2 {
      padding-top: 150px;
      line-height: 46px;
      width: 80%;
      margin: 0 auto;
    }
  }
}
section {
  &.dynamic {
    .image {
      left: 50px;
    }
    .woah {
      left: 0;
    }
    .copy {
      width: 40%;
      left: 55%;
    }
  }
}
