/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/


/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


// =======================================
//
//  Mixins for Useful Functions
//
// =======================================


@mixin font-size($size, $base: 14) {
  font-size: $size * 1px; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}
@mixin line-height($size, $base: 14) {
  line-height: $size * 1px; // fallback for old browsers
  line-height: ($size / $base) * 1rem;
}
@mixin letter-spacing($size, $base: 14) {
  letter-spacing: $size * 1px; // fallback for old browsers
  letter-spacing: ($size / $base) * 1rem;
}

@mixin rem($property, $values...) {
    $n: length($values);
    $i: 1;

    $pxlist: ();
    $remlist: ();

    @while $i <= $n {
        $itemVal: (nth($values, $i));
        @if $itemVal != "auto"{
            $pxlist: append($pxlist, $itemVal + px);
            $remlist: append($remlist, ($itemVal / 14) + rem);
        }@else{
            $pxlist: append($pxlist, auto);
            $remlist: append($remlist, auto);
        }


        $i: $i + 1;
    }

    #{$property}: $pxlist;
    #{$property}: $remlist;
}

@mixin font($family, $weight, $size, $line-height, $letter-spacing:0, $color:inherit) {
  font-family: $family;
  font-weight: $weight;
  color: $color;
  @if $size == 'inherit' {
    font-size: $size;
  } @else {
    @include font-size($size);
  }
  @if $line-height != 'inherit' and $line-height < 4 or $line-height == 'inherit'{
    line-height: $line-height;
  } @else {
    @include line-height($line-height);
  }
  @if $letter-spacing == 0 or $letter-spacing == 'normal' {
    letter-spacing: $letter-spacing;
  } @else if $letter-spacing == 'auto' {
    letter-spacing: normal;
  } @else {
    @include letter-spacing($letter-spacing);
  }
}

@mixin btn-solid($bg,$color:#fff,$hover-bg:transparent) {
  background-color: nth($bg,1);
  border-color: nth($bg,1);
  color: $color;
  &:hover,
  &:active {
    @if $hover-bg == 'transparent' or $hover-bg == '#fff' {
      background-color: $hover-bg;
      border-color: $hover-bg;
      color: nth($bg,1);
    } @else {
      background-color: transparent;
      border-color: nth($bg,1);
      color: nth($bg,1);
    }
  }
}

@mixin gradient($orientation, $colors...) {
  background: nth($colors,1);
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(bottom, $colors);
    background: linear-gradient(to top, $colors);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $colors);
    background: linear-gradient(to right, $colors);
  } @else if $orientation == 'radial' {
    background: -webkit-radial-gradient(top left, circle farthest-corner, $colors);
    background: radial-gradient(circle at top left, $colors);
  } @else {
    background: -webkit-linear-gradient($orientation, $colors);
    background: linear-gradient($orientation, $colors);
  }
}

@mixin screen($size) {
  $large: "(max-width: 1299px)";
  $medium: "(max-width: 991px)";
  $small: "(max-width: 768px)";
  $tiny: "(max-width: 640px)";
  @if $size == large {
    @media only screen and #{$large} {
      @content;
    }
  }
  @else if $size == medium {
    @media only screen and #{$medium} {
      @content;
    }
  }
  @else if $size == small {
    @media only screen and #{$small} {
      @content;
    }
  }
  @else if $size == tiny {
    @media only screen and #{$tiny} {
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

@mixin trans($val...) {
   -webkit-transition: $val;
   -moz-transition: $val;
   -o-transition: $val;
   transition: $val;
}
