/******************************************************************
Site Name: HealthSparq
Author: Gambit Studio

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

// =======================================
//
// Website & Brand-Specific Styles
//
// =======================================




//
// Colors
// ----------------------------------------
$primary: #ff8300 #fda14b #febf84;
$secondary: #29b5a8 #47c1b6 #82d6ce;
$tertiary: #eb7767 #ee8e80 #f4b3a9;
$accent: #20c1dc #49d0e4 #83e0ed;
$neutral: #837570 #988c88 #bab2af;
$gray: #5e5f61 #868789 #aeafb0 #f7f5f5;

$black:             #000;
$white:             #fff;

$light-gray:        nth($gray,4);
$medium-gray:       nth($gray,3);
$dark-gray:         nth($gray,2);
$text-color:        nth($gray,1);
$meta-gray:         nth($neutral,2);

$tan:               nth($neutral,2);

$link-color:        nth($accent,1);
$link-hover:        nth($accent,2);

$border-color:      $medium-gray;
$disabled-gray:     nth($neutral,3);

//
// Screen Sizes
// ----------------------------------------
$retina_diff: 1.75;
// $tiny: 640;
// $small: 768;
// $medium: 991;
// $large: 1299;

//
// Fonts
// ----------------------------------------

$sans: "proxima-nova", "Proxima Nova", "Helvetica Neue", "Lato", "Open Sans", "Roboto", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
$sans_heading: "brandon-grotesque", "Gills Sans", $sans;
$slab: "museo-slab", "Adelle PE", "Rockwell", "Garamond", "Book Antiqua", "Georgia", serif;
$serif: $slab;

$brandon300: "BrandonGrotesque-Light", $sans_heading;
$brandon400: "BrandonGrotesque-Regular", $sans_heading;
$brandon500: "BrandonGrotesque-Medium", $sans_heading;
$brandon700: "BrandonGrotesque-Bold", $sans_heading;
$brandon: $brandon400;


$avenir400: "AvenirNextLTPro-Regular", "AvenirNext-Regular", $sans;
$avenir500: "AvenirNextLTPro-Medium", "AvenirNext-Medium", $sans;
$avenir700: "AvenirNextLTPro-Demi", "AvenirNext-DemiBold", $sans;
$avenir: $avenir400;

$proxima300: "ProximaNova-Light", $sans;
$proxima400: "ProximaNova-Regular", $sans;
$proxima600: "ProximaNova-Semibold", $sans;
$proxima700: "ProximaNova-Bold", $sans;
$proxima: $proxima300;

$museo100: "MuseoSlab-100", $slab;
$museo300: "MuseoSlab-300", $slab;
$museo500: "MuseoSlab-500", $slab;
$museo700: "MuseoSlab-700", $slab;
$museo900: "MuseoSlab-900", $slab;
$museo: $museo500;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
